.fijar-formulario{
    top: 0;
    right: 0;
    background-color: #fff;
    width: 45%;
    z-index: 1022;
    height: 100vh;
    overflow-y: auto;
    transition: width .5s;
}
.btn-formulario{
    width: 47%;
    border-radius: 0 !important;
}
.padding-1-5{
    padding: 1.5%;
}
.flechita{
    cursor: pointer;
}
.btn-azulOscuro{
    background-color: #2C3394;
    color: #ffffff;
}

.btn-azulOscuro:hover{
    background-color: #ffffff;
    color: #2C3394;
    border: 1px solid #2C3394;
}

.btn-outline-azulOscuro{
    background-color: #ffffff;
    color: #2C3394;
    border: 1px solid #2C3394;
}
.btn-outline-azulOscuro:hover{
    background-color: #2C3394;
    color: #ffffff;
}