<div class="smart-grid-usa-page">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-7">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader" class="media align-items-center">
                    <img class="align-self-center mr-3 img-fluid" *ngIf="seccion_1_data.icono" src="{{ seccion_1_data.icono }}" alt="Smart-Grid">
                    <div class="media-body">
                        <h4 class="w-20 mb-0 text-blue1 font-weight-bold roboto size26 line-height26">{{ seccion_1_data.titulo }}</h4>
                    </div>
                </div>
                <ngx-skeleton-loader count="7" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <p class="mt-2" [innerHTML]="seccion_1_data.texto_principal"></p>
                    <div class="row pt-4">
                        <ng-container *ngFor="let items of seccion_iconos_data">
                            <div class="col-sm-4 text-center">
                                <img class="align-self-center mb-3 mx-auto d-block" src="{{ items.icono }}" alt="Interventoría">
                                <p>{{ items.texto }}</p>
                            </div>
                        </ng-container>
                    </div>
                </div>          
            </div>
            <div class="col-sm-5">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'320px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <img *ngIf="seccion_1_data.imagen_principal" src="{{ seccion_1_data.imagen_principal }}" alt="servicio 2" class="img-fluid d-block">
                </div>            
            </div>
        </div>
    </div>
    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'150px' }"></ngx-skeleton-loader>
    <div *ngIf="!loader" class="bg-blue1 pt-3 pb-3 mt-170n mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p [innerHTML]="seccion_2_data | safeHtml: 'html'"></p>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>