<div class="pensamiento-corporativo">
    <div class="bg-blue1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px', width:'170px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="3" *ngIf="loader" animation="progress" [theme]="{height:'15px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px', width:'170px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="3" *ngIf="loader" animation="progress" [theme]="{height:'15px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <ng-container *ngFor="let proposito of proposito_empresa_data">
                            <div class="media mt-3">
                                <img class="align-self-center mr-3" *ngIf="proposito.icono_proposito" src="{{ proposito.icono_proposito }}" alt="Proposito">
                                <div class="media-body my-auto">
                                    <h4 class="mb-0 text-white font-weight-bold">{{ proposito.titulo_proposito }}</h4>
                                </div>
                            </div>
                        <p class="text-white">{{ proposito.texto_proposito }}</p>
                    </ng-container>
                    </div>
                </div>
                <div class="col-sm-6">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'300px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <img *ngIf="imagen_proposito_data" src="{{ imagen_proposito_data }}" alt="servicio 2" class="mt-1 img-fluid d-block position-absolute">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-100 mb-5">
        <div class="row">
            <div class="col-sm-12">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <h4 class="text-blue1 font-weight-600 size32 d-block text-center mb-4">{{ titulo_valores_data }}</h4>
                </div>
            </div>
            <div class="col-sm-6">
                <ngx-skeleton-loader count="2" *ngIf="loader" animation="progress" [theme]="{height:'250px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <ng-container *ngFor="let valor of valor_corporativo_columna1_data">
                        <div class="valores-card p-4 mb-4">
                            <div class="media mb-3">
                                <img class="align-self-center mr-3" src="{{ valor.imagen }}" alt="Valor">
                                <div class="media-body my-auto">
                                    <h4 class="mb-0 text-blue3 font-weight-900 text-uppercase size26 letter-spacing-2-28 roboto">{{ valor.titulo }}</h4>
                                </div>
                            </div>
                            <p *ngIf="valor.texto_general" [innerHTML]="valor.texto_general"></p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-6">
                <ngx-skeleton-loader count="2" *ngIf="loader" animation="progress" [theme]="{height:'250px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <ng-container *ngFor="let valor2 of valor_corporativo_columna2_data">
                        <div class="valores-card p-4 mb-4">
                            <div class="media mb-3">
                                <img class="align-self-center mr-3" *ngIf="valor2.imagen" src="{{ valor2.imagen }}" alt="Valor">
                                <div class="media-body my-auto">
                                    <h4 class="mb-0 text-blue3 font-weight-900 text-uppercase size26 letter-spacing-2-28 roboto">{{ valor2.titulo }}</h4>
                                </div>
                            </div>
                            <p *ngIf="valor2.texto_general" [innerHTML]="valor2.texto_general"></p>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="compromisos bg-gray-light">
        <div class="container">
            <div class="row" style="background-image: url(assets/images/nosotros/points.png);background-repeat: no-repeat;background-position: top right;">
                <div class="col-sm-6 my-auto pt-4 pb-4">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px', width:'170px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="5" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <h4 class="text-blue1 font-weight-bold size22 text-uppercase">{{seccion_compromisos_data.titulo}}</h4>
                        <p *ngIf="seccion_compromisos_data.texto_general" [innerHTML]="seccion_compromisos_data.texto_general"></p>
                    </div>
                </div>
                <div class="col-sm-6 pt-4 pb-4">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'250px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <img *ngIf="seccion_compromisos_data.imagen" src="{{seccion_compromisos_data.imagen}}" alt="Compromiso" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="propuesta pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="mb-3 text-center text-uppercase text-white roboto font-weight-900 size26 letter-spacing-2-28">{{seccion_propuesta_data.titulo}}</h3>
                    <p class="text-center text-white roboto size16" [innerHTML]="seccion_propuesta_data.texto_general"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="pilares bg-gray-light pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-blue1 roboto size26 letter-spacing-2-28 text-center font-weight-900 mb-5">{{ titulo_pilares_data }}</h4>
                </div>
                <ng-container *ngFor="let pilar of pilar_data">
                    <div class="col align-items-stretch my-auto">
                        <img *ngIf="pilar.imagen" class="align-self-center img-fluid mx-auto d-block mb-3" src="{{pilar.imagen}}" alt="pilar">
                        <p class="roboto text-center">{{ pilar.texto }}</p>
                    </div>    
                </ng-container>
            </div>
        </div>
    </div>
    <div class="mapa-procesos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img *ngIf="mapa_procesos_data" class="img-fluid mx-auto d-block mb-3 mt-5" src="{{ mapa_procesos_data }}" alt="Mapa">
                </div>
            </div>
        </div>
    </div>
</div>
