<div class="contenedorFooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3 contacto1">
                <div class="logoFooter">
                    <img class="align-middle" src="assets/images/carousel-principal/logo_1981png.png" width="220" height="auto" alt="Logo Footer">
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto2">
                <ul class="listaItemsFooter">
                    <li><a [routerLink]="['pensamiento-corporativo-cl']">Pensamiento Corporativo</a></li>
                    <li><a [routerLink]="['politica-gestion-integral-cl']">Política de Gestion integral</a></li>
                    <li><a href="#">Política de protección de datos personales</a></li>
                    <li><a href="#">Otras Políticas</a></li>
                    <li><a href="#">Responsabilidad social empresarial</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto3">
                <div class="info-Oficina">
                    <h4 class="size14">Oficina Principal</h4>
                    <p class="size14">Calle 3A # 65-118 <br> +57 2-489 7000 <br> gers@gers.com.co
                    </p>
                </div>
                <div class="sedeFooter mt-3 mb-3">
                    <a [routerLink]="['contactenos-cl']">Nuestra sede</a>
                </div>
                <div class="redesFooter">
                    <p class="mb-3">Nuestras redes sociales</p>
                    <a href="https://www.facebook.com/gerscali" target="_blank"><img src="assets/images/footer/facebook.png" alt="certificado 1"></a>
                    <a href="https://twitter.com/gers_sa" target="_blank"><img src="assets/images/footer/twitter.png" alt="certificado 2"></a>
                    <a href="https://www.linkedin.com/company/gers-s-a/" target="_blank"><img src="assets/images/footer/linkedin.png" alt="certificado 3"></a>
                    <a href="mailto:gers@gers.com.co"><img src="assets/images/footer/mail.png" alt="certificado 1"></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto4">
                <div class="certificados">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6"><img class="img-fluid" src="assets/images/chile/footer/Regic.png" alt="certificado 1"></div>
                            <div class="col-md-6"><img class="img-fluid" src="assets/images/chile/footer/Ariba.png" alt="certificado 2"></div>
                        </div>
                    </div>
                </div>
                <div class="imagenes-abajo-certificados">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6"><img class="img-fluid" src="assets/images/chile/footer/SICEP.png" alt="certificado 1"></div>
                            <div class="col-md-6"><img class="img-fluid" src="assets/images/chile/footer/MP.png" alt="certificado 2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copy-footer">
    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col d-flex justify-content-between align-items-center">
                <span class="text-white size13">Todos los derechos reservados © <span class="font-weight-light">GERS 2020</span></span>
                <span class="text-white size13">Diseñado y desarrollado por: <a href="#" target="blank_" class="text-white size13">www.neuromedia.com.co</a> <img class="ml-2" src="assets/images/footer/logo-neuro.png" alt="" width="60"></span>
            </div>
        </div>
    </div>
</div>