<ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'140px' }"></ngx-skeleton-loader>
<div *ngIf="!loader">
    <div class="bannerInterna" *ngIf="banner_data.banner_principal" [ngStyle]="{ 'background-image': 'url(' + banner_data.banner_principal + ')'}">
        <p class="text-center pt-5 pb-5">
            <img *ngIf="banner_data.logo_imagen" src="{{ banner_data.logo_imagen }}" alt="" class="img-fluid">
        </p>
    </div>
</div>
<div class="container tabsCustom neplan mt-5 mb-5">
    <div class="row tabs-marcas tabs-neplan-page">
        <div class="col-md-4 mb-4 pr-0">
            <ngx-skeleton-loader count="4" *ngIf="loader" animation="progress" [theme]="{height:'35px' }"></ngx-skeleton-loader>
            <div *ngIf="!loader" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <ng-container *ngFor="let item of item_tab_data; let index = index">
                    <li class="nav-item">
                        <a class="nav-link rounded-0 p-3 border-left" [attr.id]="'v-pills-tab-'+index" [ngClass]="{'active': index === activePillIndex}" data-toggle="pill" [attr.href]="'#'+'v-pills-'+index" role="tab" aria-selected="true" (click)="selectPill(index)">
                            <h5 class="size14 mb-0">{{ item.nombre_item_tab }}</h5>
                        </a>
                    </li>
                </ng-container>
            </div>
        </div>
        <div class="col-md-8 contenido-tabs">
            <ngx-skeleton-loader count="8" *ngIf="loader" animation="progress" [theme]="{height:'25px' }"></ngx-skeleton-loader>
            <div *ngIf="!loader" class="tab-content" id="v-pills-tab">
                <ng-container *ngFor="let datos of item_tab_data; let index = index">
                    <div class="tab-pane fade show" [ngClass]="{'active': index === activePillIndex}" [attr.id]="'#'+'v-pills-'+index" role="tabpanel">
                        <p [innerHTML]="datos.texto_1"></p>
                        <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-50 text-blue1 btn-outline d-flex justify-content-between align-items-center" *ngIf="datos.boton_1_texto" href="{{ datos.boton_1_url }}">
                            {{ datos.boton_1_texto }} <i class="fas fa-download width10"></i>
                        </a>
                        <p [innerHTML]="datos.texto_2"></p>
                        <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-50 text-blue1 btn-outline d-flex justify-content-between align-items-center" *ngIf="datos.boton_2_texto" href="{{ datos.boton_2_url }}">
                            {{ datos.boton_2_texto }} <i class="fas fa-download width10"></i>
                        </a>
                        <p [innerHTML]="datos.texto_3"></p>
                        <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-50 text-blue1 btn-outline d-flex justify-content-between align-items-center"  *ngIf="datos.boton_3_texto" href="{{ datos.boton_3_url }}">
                            {{ datos.boton_3_texto }} <i class="fas fa-download width10"></i>
                        </a>
                        <div class="row d-flex">
                            <ng-container *ngFor="let data of datos.repetidor_botones">
                                <div class="col-sm-6">
                                    <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-100 text-blue1 btn-outline d-flex justify-content-between align-items-center" *ngIf="data.boton_texto" href="{{ data.boton_url }}">
                                        {{ data.boton_texto }} <i class="fas fa-download width10"></i>
                                    </a>
                                </div>
                            </ng-container>
                        </div>
                        <p [innerHTML]="datos.texto_4"></p>
                    </div>
                </ng-container>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-md-12">
            <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'50px', width:'500px', marginLeft:'30%', marginTop:'3rem', marginBottom:'1rem' }"></ngx-skeleton-loader>
            <h2 *ngIf="!loader" class="text-blue mt-5 text-center mb-3">REQUEST QUOTE /  DEMO</h2>
            <form [formGroup]="formularioCotizacion" (ngSubmit)="enviarFormularioCotizacion()">
                <div class="row">
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'100%', height:'100%', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <input *ngIf="!loader" type="text" name="name" [class.is-invalid]="Name" formControlName="name" placeholder="Name*" class="form-control">
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'100%', height:'100%', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <input *ngIf="!loader" type="text" name="email" [class.is-invalid]="Email" formControlName="email" placeholder="E-mail*" class="form-control">
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'100%', height:'100%', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <input *ngIf="!loader" type="text" name="phoneNumber" [class.is-invalid]="PhoneNumber" formControlName="phoneNumber" placeholder="Phone number*" class="form-control">
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'100%', height:'100%', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <input *ngIf="!loader" type="text" name="company" [class.is-invalid]="Company" formControlName="company" placeholder="Company*" class="form-control">
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'100%', height:'100%', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <input *ngIf="!loader" type="text" name="title" [class.is-invalid]="Title" formControlName="title" placeholder="Title*" class="form-control">
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'100%', height:'100%', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <input *ngIf="!loader" type="text" name="industry" [class.is-invalid]="Industry" formControlName="industry" placeholder="Industry*" class="form-control">
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'100%', height:'100%', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <input *ngIf="!loader" type="text" name="numberLicenses" [class.is-invalid]="NumberLicenses" formControlName="numberLicenses" placeholder="Number of licenses*" class="form-control">
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'100%', height:'100%', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <select *ngIf="!loader" name="nodesLimit" [class.is-invalid]="NodesLimit" formControlName="nodesLimit" class="custom-select">
                        <option selected value="">Nodes Limit</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="300">300</option>
                        <option value="unlimited">Unlimited</option>
                    </select>
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'100%', height:'100%', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <select *ngIf="!loader" name="modules" [class.is-invalid]="Modules" formControlName="modules" class="custom-select">
                        <option selected value="">Modules</option>
                        <option value="Standard Modules">Standard Modules</option>
                        <option value="Optimization and Security Modules">Optimization and Security Modules</option>
                        <option value="Stability Modules">Stability Modules</option>
                        <option value="Protection Modules">Protection Modules</option>
                        <option value="Advanced Modules">Advanced Modules</option>
                        <option value="Neplan As Tool For Research">Neplan As Tool For Research</option>
                    </select>
                </div>
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'100%', height:'175px', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <textarea *ngIf="!loader" name="comments" [class.is-invalid]="Comments" formControlName="comments" id="" cols="30" rows="10" class="form-control" placeholder="Comments*"></textarea>
                </div>
                <div class="form-group col-12 col-sm-12 col-md-4 col-lg-4">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{width:'47%', height:'50px', marginTop:'1rem' }"></ngx-skeleton-loader>
                    <button *ngIf="!loader" class="btn btn-azulOscuro btn-formulario">SEND</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>