.btn-azulOscuro{
    background-color: #2C3394;
    color: #ffffff !important;
}

.btn-azulOscuro:hover{
    background-color: #ffffff;
    color: #2C3394 !important;
    border: 1px solid #2C3394;
}
.btn-formulario{
    width: 47%;
    border-radius: 0 !important;
}
