<div class="container">
    <div class="row my-5" *ngIf="filtro; else noFiltro">
        <ng-container *ngFor="let busqueda of data |filter:filtro">
            <div class="card-job col-lg-12 p-3" *ngIf="busqueda != 0; else nofiltro2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>{{ busqueda.title }}</h3>
                        </div>
                        <div class="col-lg-12">
                            <p *ngIf="busqueda.type === 'vacancies'" class="" [innerHTML]="busqueda.content"></p>
                            <p *ngIf="busqueda.type === 'trainings'" class="text-truncate"
                                [innerHTML]="busqueda.content"></p>
                            <p *ngIf="busqueda.type === 'proyectos'" class="text-truncate">{{ busqueda.content }}</p>
                            <p *ngIf="busqueda.type === 'insights'" class="text-truncate">{{ busqueda.content }}</p>
                            <p *ngIf="busqueda.type === 'representations'" [innerHTML]="busqueda.content"></p>
                            <p *ngIf="busqueda.type === 'services'" [innerHTML]="busqueda.content"></p>
                            <div class="form-group d-flex justify-content-between align-items-center mt-3">
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../vacancies', busqueda.slug]" *ngIf="busqueda.type === 'vacancies'" type="button">
                                    see more
                                </button>
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../trainings', busqueda.slug]" *ngIf="busqueda.type === 'trainings'" type="button">
                                    see more
                                </button>
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../projects']" *ngIf="busqueda.type === 'proyectos'" type="button">
                                    see more
                                </button>
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../insights', busqueda.slug]" *ngIf="busqueda.type === 'insights'" type="button">
                                    see more
                                </button>
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../'+busqueda.slug]" *ngIf="busqueda.type === 'representations'" type="button">
                                    see more
                                </button>
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../'+busqueda.slug]" *ngIf="busqueda.type === 'services'" type="button">
                                    see more
                                </button>

                                <p class="text-muted text-capitalize" style="font-style: italic;">{{ busqueda.type
                                    }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #nofiltro2>
                <div class="container my-5">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                            <img src="./assets/images/sin_novedad.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                            <h3 class="font-weight-bold text-capitalize text-lightgray">No Related Searches</h3>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
    <ng-template #noFiltro>
        <div class="container my-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                    <img src="./assets/images/sin_novedad.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                    <h3 class="font-weight-bold text-capitalize text-lightgray">No Related Searches</h3>
                </div>
            </div>
        </div>
    </ng-template>
</div>