<!-- <app-menu-vertical></app-menu-vertical>
<app-topbar-azul></app-topbar-azul>
<app-menu-principal></app-menu-principal> -->
<div class="politica-gestion">
    <div class="container">
        <div class="row pb-5 seccion-1">
            <div class="col-sm-6 pt-5">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px', width:'270px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="5" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <h4 class="w-35 mb-4 text-blue1 font-weight-bold size22">{{ seccion_1_data.titulo }}</h4>
                    <p [innerHTML]="seccion_1_data.texto_general"></p>
                </div>
            </div>
            <div class="col-sm-6 pt-5">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'220px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <img *ngIf="seccion_1_data.imagen" class="img-fluid mx-auto d-block mb-3 mt-2" src="{{ seccion_1_data.imagen }}" alt="Políticas">
                </div>
            </div>
        </div>
    </div>
    <div class="politicas-gers bg-gray-light pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px', width:'270px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="5" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <h4 class="mb-4 text-blue1 font-weight-bold size22">{{ seccion_2_data.titulo }}</h4>
                        <p [innerHTML]="seccion_2_data.texto_general"></p>
                        <p *ngIf="seccion_2_data.texto_final" class="text-blue1 font-weight-300">{{seccion_2_data.texto_final}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->