<div class="bannerInterna" *ngIf="banner_data.banner_principal" [ngStyle]="{ 'background-image': 'url(' + banner_data.banner_principal + ')'}">
    <p class="text-center pt-5 pb-5">
        <img *ngIf="banner_data.logo_imagen" src="{{ banner_data.logo_imagen }}" alt="" class="img-fluid">
    </p>
</div>
<div class="container tabsCustom">
    <div class="row">
        <div class="tabs-marcas tabs-neplan-page mt-5 mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-3 align-items-center">
                        <img *ngIf="seccion_1_data.logo" src="{{ seccion_1_data.logo }}" alt="" class="img-fluid box-shadow">
                    </div>
                    <div class="col-sm-9 align-items-center">
                        <p class="m-0" [innerHTML]="seccion_1_data.texto_inicial"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mt-4 text-center text-blue1 font-weight-bold">{{ seccion_2_data.titulo_modulos }}</h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <ng-container *ngFor="let modulo of modulo_data">
                        <div class="col-sm-4 d-flex align-items-stretch">
                            <div class="card box-shadow">
                                <div class="card-body">
                                    <h5 class="card-title text-blue1 font-weight-bold">{{ modulo.titulo }}</h5>
                                    <p class="card-text" [innerHTML]="modulo.texto_general"></p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-6">
                        <img *ngIf="seccion_3_data.imagen" src="{{ seccion_3_data.imagen }}" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-6">
                        <p [innerHTML]="seccion_3_data.texto_general"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>