<div class="bannerInterna" style="background:url(assets/images/carousel-principal/banner_principal.jpg)">
    <p class="text-center pt-5 pb-5">
        <!-- <img src="assets/images/marcas/1neplan_marca.png" alt="" class="img-fluid"> -->
    </p>
</div>
<div class="container tabsCustom">
    <div class="row">
        <div class="tabs-marcas tabs-neplan-page mt-5 mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-3 align-items-center">
                        <img src="assets/images/representaciones/XGS_lab_logo.png" alt="" class="img-fluid box-shadow">
                    </div>
                    <div class="col-sm-9 align-items-center">
                        <p class="m-0">
                            <b>XGSLab</b> es uno de los paquetes de software más potentes para el análisis de sistemas de puesta a tierra, de campos electromagnéticos, interferencias y descargas atmosféricas. Es el único software en el mercado que toma
                            en consideración tanto normas IEEE como EN.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mt-4 text-center text-blue1 font-weight-bold">Módulos</h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="card box-shadow">
                            <div class="card-body">
                                <h5 class="card-title text-blue1 font-weight-bold">GSA</h5>
                                <p class="card-text">(ANÁLISIS DE SISTEMAS DE PUESTA A TIERRA) para aplicaciones regulares (aplicable en la mayoría de los casos prácticos).

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="card box-shadow">
                            <div class="card-body">
                                <h5 class="card-title text-blue1 font-weight-bold">GSA_FD</h5>
                                <p class="card-text">
                                    (ANÁLISIS DE SISTEMAS DE PUESTA A TIERRA EN EL DOMINIO DE LA FRECUENCIA) para aplicaciones especiales y evaluaciones de campo magnético e interferencia electromagnética.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 d-flex align-items-stretch">
                        <div class="card box-shadow">
                            <div class="card-body">
                                <h5 class="card-title text-blue1 font-weight-bold">XGSA_FD</h5>
                                <p class="card-text">
                                    (ANÁLISIS DE SISTEMAS AÉREOS Y SUBTERRÁNEOS EN EL DOMINIO DE LA FRECUENCIA) para análisis de campos electromagnéticos, evaluaciones de interferencia para sistemas aéreos y subterráneos, efectos de descargas atmosféricas y cálculo de distribución de corrientes
                                    de falla.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-6">
                        <img src="assets/images/representaciones/XGSLab_alcance.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-6">
                        <p>
                            El alcance de XGSLab es amplio debido a que el modelo implementado es para uso general y soluciona las ecuaciones de Maxwell tomando en cuenta los efectos de tierra por Integrales de Sommerfeld.
                        </p>
                        <p>
                            Todos los módulos se integran en un paquete “todo en uno” y están basados en un método de cálculo híbrido (o método PEEC) y consideran las teorías electromagnética, de circuitos y de líneas de transmisión combinadas en un modelo de cálculo. Los métodos
                            híbridos reúnen los puntos fuertes de los otros métodos y están bien adaptados para propósitos de ingeniería porque permiten el análisis de escenarios complejos incluyendo parámetros externos tales como voltajes, corrientes
                            e impedancias. Por estas razones, XGSLab puede ser considerada como un laboratorio real.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>