<!--Aquí Inicia el Menú Principal Grande-->
<nav class="navbar navbar-expand-md menuPrincipal" #stickyMenu [class.sticky]="sticky">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/images/carousel-principal/logo_1981png.png" width="190" height="auto" alt="Logo">
            </a>
            <a class="menuVerticalPrincipal solicitarMenuLateral" href="#"><span class="lineasMenu">&#9776;</span> Menú</a>
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
	        <span class="navbar-toggler-icon"></span>
	    </button>

        <div class="collapse navbar-collapse " id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <li class="nav-item dropdown has-megamenu">
                    <a class="nav-link dropdown-toggle size14" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Servicios
			        </a>
                    <div class="dropdown-menu menuServicio megamenu ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-megamenu">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a [routerLink]="['pruebas-automatizacion-y-control']">
                                                <div class="row">
                                                    <div class="col-md-2 my-auto">
                                                        <img class="img-fluid" src="assets/images/header/electricianPNG.png" alt="imagen1">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3 class="tituloItemMenu">Pruebas, automatización y control</h3>
                                                        <p class="textoItemMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['diseno-ingenieria']">
                                                <div class="row">
                                                    <div class="col-md-2 my-auto">
                                                        <img class="img-fluid" src="assets/images/header/helmetPNG.png" alt="imagen2">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3 class="tituloItemMenu">Diseño e ingeniería</h3>
                                                        <p class="textoItemMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['smart-grids']">
                                                <div class="row">
                                                    <div class="col-md-2 my-auto">
                                                        <img class="img-fluid" src="assets/images/header/smart.png" alt="imagen3">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3 class="tituloItemMenu">Smart Grids</h3>
                                                        <p class="textoItemMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['estudios-sistemas']">
                                                <div class="row">
                                                    <div class="col-md-2 my-auto">
                                                        <img class="img-fluid" src="assets/images/header/estudiosPNG.png" alt="imagen4">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3 class="tituloItemMenu">Estudios de sistemas eléctricos</h3>
                                                        <p class="textoItemMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-megamenu">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a [routerLink]="['servicios-energeticos']">
                                                <div class="row">
                                                    <div class="col-md-2 my-auto">
                                                        <img class="img-fluid" src="assets/images/header/speedometerPNG.png" alt="imagen5">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3 class="tituloItemMenu">Servicios energéticos</h3>
                                                        <p class="textoItemMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['interventorias-asesorias']">
                                                <div class="row">
                                                    <div class="col-md-2 my-auto">
                                                        <img class="img-fluid" src="assets/images/servicios/interventoriaPNG.png" alt="imagen6">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3 class="tituloItemMenu">Interventoría y asesoría</h3>
                                                        <p class="textoItemMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['planeacion-proyectos']">
                                                <div class="row">
                                                    <div class="col-md-2 my-auto">
                                                        <img class="img-fluid" src="assets/images/header/proyectosPNG.png" alt="imagen7">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3 class="tituloItemMenu">Planeación de proyectos</h3>
                                                        <p class="textoItemMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- dropdown-mega-menu.// -->
                </li>
                <li class="nav-item dropdown has-megamenu animate fade-up">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Representaciones
			        </a>
                    <div class="dropdown-menu menuRepresentaciones megamenu navbar-center animate fade-up">
                        <div class="row filaRepresentaciones">
                            <div class="col-md-4 representacionItem">
                                <a [routerLink]="['neplan']">
                                    <img class="imagenMarcaMenu" src="assets/images/marcas/1neplan_marca.png" alt="Logo Neplan">
                                    <p class="tituloItemMarcaMenu">NEPLAN</p>
                                    <p class="textoItemMarcaMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                </a>
                            </div>
                            <div class="col-md-4 representacionItem">
                                <a [routerLink]="['beckwith-electronic']">
                                    <img class="imagenMarcaMenu" src="assets/images/marcas/4beck_marca.png" alt="Logo Beck">
                                    <p class="tituloItemMarcaMenu">Beckwith Electric</p>
                                    <p class="textoItemMarcaMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                </a>
                            </div>
                            <div class="col-md-4 representacionItem">
                                <a [routerLink]="['xgslab']">
                                    <img class="imagenMarcaMenu" src="assets/images/marcas/3xgs_marca.png" alt="Logo XGSLAB">
                                    <p class="tituloItemMarcaMenu">XGSLAB</p>
                                    <p class="textoItemMarcaMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                </a>
                            </div>
                        </div>
                        <div class="row filaRepresentaciones">
                            <div class="col-md-4 representacionItem">
                                <a [routerLink]="['dranetz']">
                                    <img class="imagenMarcaMenu" src="assets/images/marcas/2dranetz_marca.png" alt="Logo Dranetz">
                                    <p class="tituloItemMarcaMenu">DRANETZ</p>
                                    <p class="textoItemMarcaMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                </a>
                            </div>
                            <div class="col-md-4 representacionItem">
                                <a [routerLink]="['ndb']">
                                    <img class="imagenMarcaMenu" src="assets/images/marcas/5Ndb_marca.png" alt="Logo NDB">
                                    <p class="tituloItemMarcaMenu">NDB</p>
                                    <p class="textoItemMarcaMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                </a>
                            </div>
                            <div class="col-md-4 representacionItem">
                                <a href="#">
                                    <img class="imagenMarcaMenu" src="assets/images/marcas/6GMC_marca.png" alt="Logo 6GMC">
                                    <p class="tituloItemMarcaMenu">GMC Instruments</p>
                                    <p class="textoItemMarcaMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- dropdown-mega-menu.// -->
                </li>
                <li class="nav-item"><a [routerLink]="['proyectos']" class="nav-item nav-link">Proyectos</a></li>
                <li class="nav-item"><a href="#" class="nav-item nav-link">Capacitaciones</a></li>

              <li class="nav-item dropdown has-megamenu animate fade-up">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  Productos
                </a>
                <div class="dropdown-menu menuproductos megamenu navbar-center animate fade-up">
                  <div class="row filaRepresentaciones">
                    <div class="col-md-4 representacionItem">
                      <a routerLink="/productos">
                        <img class="imagenMarcaMenu" src="assets/images/marcas/4beck_marca.png" alt="Logo Beck">
                      </a>
                    </div>
                    <div class="col-md-4 representacionItem">
                      <a [routerLink]="['beckwith-electronic']">
                        <p class="textoItemMarcaMenu">Analizadores de Calidad de Energía</p>
                      </a>
                    </div>
                    <div class="col-md-4 representacionItem">
                      <a [routerLink]="['xgslab']">
                        <p class="textoItemMarcaMenu">Instalación fija</p>
                      </a>
                    </div>
                  </div>
                  <div class="row filaRepresentaciones">
                    <div class="col-md-4 representacionItem">
                      <a [routerLink]="['dranetz']">
                        <img class="imagenMarcaMenu" src="assets/images/marcas/2dranetz_marca.png" alt="Logo Dranetz">
                      </a>
                    </div>
                    <div class="col-md-4 representacionItem">
                      <a [routerLink]="['ndb']">
                        <p class="textoItemMarcaMenu">Medidores de Energía</p>
                      </a>
                    </div>
                    <div class="col-md-4 representacionItem">
                      <a href="#">
                        <p class="textoItemMarcaMenu">Portatiles</p>
                      </a>
                    </div>
                  </div>
                  <div class="row filaRepresentaciones">
                    <div class="col-md-4 representacionItem">
                      <a [routerLink]="['dranetz']">
                        <img class="imagenMarcaMenu" src="assets/images/marcas/5Ndb_marca.png" alt="Logo NDB">
                      </a>
                    </div>
                    <div class="col-md-4 representacionItem">
                      <a [routerLink]="['ndb']">
                        <p class="textoItemMarcaMenu">Registradores de datos</p>
                      </a>
                    </div>
                    <div class="col-md-4 representacionItem">
                      <a href="#">
                        <p class="textoItemMarcaMenu"></p>
                      </a>
                    </div>
                  </div>
                  <div class="row filaRepresentaciones">
                    <div class="col-md-4 representacionItem">
                      <a [routerLink]="['dranetz']">
                        <img class="imagenMarcaMenu" src="assets/images/marcas/6GMC_marca.png" alt="Logo 6GMC">
                      </a>
                    </div>
                    <div class="col-md-4 representacionItem">
                      <a [routerLink]="['ndb']">
                        <p class="textoItemMarcaMenu">Software de Gestión </p>
                      </a>
                    </div>
                    <div class="col-md-4 representacionItem">
                      <a href="#">

                        <p class="textoItemMarcaMenu"></p>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- dropdown-mega-menu.// -->
              </li>

             <!-- <li class="nav-item">{{cantidadCarrito? cantidadCarrito: 0}}<a href="#" class="nav-item nav-link" (click)="openNav()">
                <img src="assets/images/carousel-principal/Shopping-cartpng.png"  alt="Icono Tienda" width="23"
                     height="auto">
              </a></li>-->

              <li class="nav-item dropdown has-megamenu animate fade-up"  >
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" (click)="mostrarProductos(1)"  role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <span class="cantidad-producto">{{cantidadCarrito? cantidadCarrito: 0}}</span>
                  <img src="assets/images/carousel-principal/Shopping-cartpng.png"  alt="Icono Tienda" width="23"
                       height="auto">
                </a>

                <!--<div class="dropdown-menu contenedor-carrito megamenu navbar-center animate fade-up">

                </div>-->
              </li>
              <li class="nav-item"><a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a></li>
            </div>
        </div>
    </div>
</nav>
<!--Aquí termina el Menú Principal Grande-->

<div id="mySidenav" class="sidenav">
<div class="row">
  <a href="javascript:void(0)" (click)="mostrarProductos(2)"  class="closebtn">
    <input type="button" class="cerrarModal" value="×" (click)="mostrarProductos(2)">
  </a>
</div>
  <app-carrito></app-carrito>
</div>
