<!-- <app-menu-vertical></app-menu-vertical>
<app-topbar-azul></app-topbar-azul>
<app-menu-principal></app-menu-principal> -->
<section class="servicios planeacion-proyectos">
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-6 mt-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-12">
                        <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                        <div *ngIf="!loader" class="media">
                            <img class="align-self-center mr-3" *ngIf="seccion_1_data.icono" src="{{ seccion_1_data.icono }}" alt="Planeación">
                            <div class="media-body">
                                <h4 class="mb-0 text-blue1 font-weight-bold w-75 roboto size26 line-height26">{{ seccion_1_data.titulo }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-md-3">
                        <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                        <div *ngIf="!loader">
                            <a href="{{ seccion_1_data.boton_link_solicitar }}" class="btn btn-blue font-weight-light size13 pt-2 pb-2">{{ seccion_1_data.boton_texto_solicitar }}</a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <ngx-skeleton-loader count="4" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                        <div *ngIf="!loader">
                            <p class="mt-2 margin-bottom-33" [innerHTML]="seccion_1_data.texto_principal"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 pr-0">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'250px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <img src="{{ seccion_1_data.imagen_principal }}" alt="Planeacion" class="img-fluid mt-5 mb-2">
                </div>
            </div>
        </div>
    </div>
    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'135px' }"></ngx-skeleton-loader>
    <div *ngIf="!loader" class="bg-blue1 pt-4 pb-4" style="margin-top: -50px;">
        <div class="container">
            <div class="row">
                <ng-container *ngFor="let item of seccion_iconos_data">
                    <div class="col-sm-12 col-md-12 col-lg-4 offset-md-4">
                        <img src="{{ item.icono }}" alt="Análisis" class="img-fluid">
                        <p class="text-white m-0 size13 d-inline-block pl-2 text-left">{{ item.texto }}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->