<section class="servicios planeacion-proyectos">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-sm-6 mt-5 pl-100">
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-7">
                        <div class="media">
                            <img class="align-self-center mr-3" src="assets/images/servicios/proyectosPNG.png" alt="Planeación">
                            <div class="media-body">
                                <h4 class="mb-0 text-blue1 font-weight-bold">Planeación<br>de proyectos</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <a href="" class="btn btn-blue font-weight-light size13 pt-2 pb-2">SOLICITAR INFORMACIÓN</a>
                    </div>
                    <div class="col-sm-12">
                        <p class="mt-2">En GERS contamos con un grupo multidisciplinario de profesionales con amplia experiencia en evaluación de proyectos, estudios de factibilidad e impacto ambiental, análisis económicos y financieros, ingeniería conceptual y preliminar al igual que en estimación de costos y gerencia de proyectos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 pr-0">
                <img src="assets/images/servicios/planeacion.png" alt="Planeacion" class="img-fluid mt-5">
            </div>
        </div>
    </div>
    <div class="bg-blue1 pt-4 pb-4" style="margin-top: -50px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-4">
                    <img src="assets/images/servicios/002-consejoPNG.png" alt="Análisis" class="img-fluid">
                    <p class="text-white m-0 size13 d-inline-block pl-2 text-left">Análisis económicos y <br>financieros</p>
                </div>
            </div>
        </div>
    </div>
</section>