<!--Top Bar Color Azul-->
<nav class="navbar navbar-expand-md topBar-usa">
	<div class="container">
		 <div class="collapse navbar-collapse" id="navbarCollapse">
	        <div class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          About Us
				        </a>

				        <div class="dropdown-menu menuNosotros megamenu">
			        		<div class="row">
			        			<div class="col-md-12">
			        				<div class="col-megamenu">
			        					<ul class="list-unstyled">
			        						<li class="liMenuNosotros">
				        						<a class="itemPadreMenuNosotros" [routerLink]="['corporate-thinking']">
					        						<div class="row">
					        							<div class="col-md-2">
					        								<img class="imagenItemMenuNosotros"src="assets/images/nosotros/pensamiento_corporativoPNG.png" alt="Pensamiento corporativo">
					        							</div>
					        							<div class="col-md-10">
					        								<h3 class="tituloItemMenuNosotros">Corporate Thinking</h3>
					        								<p class="textoItemMenuNosotros">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
					        							</div>
					        						</div>
				        						</a>
			        						</li>
			        						<li class="liMenuNosotros">
				        						<a class="itemPadreMenuNosotros" [routerLink]="['integral-management-policies']">
					        						<div class="row">
					        							<div class="col-md-2">
					        								<img class="imagenItemMenuNosotros img-fluid"src="assets/images/nosotros/gestion_integralPNG.png" alt="Gestión integral">
					        							</div>
					        							<div class="col-md-10">
					        								<h3 class="tituloItemMenuNosotros">Integral Management Policies</h3>
					        								<p class="textoItemMenuNosotros">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
					        							</div>
					        						</div>
				        						</a>
			        						</li>
			        					</ul>
			        				</div>
			        			</div>
			        		</div>
           				</div> <!-- dropdown-mega-menu.// -->
					</li>
					
				<li class="dropdown menu-large nav-item"> 
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Headquarters</a>
	                    <ul class="dropdown-menu megamenu-full-with">
	                        <div class="row">
	                            <li class="col-md-6 col-lg-2 offset-lg-1 dropdown-item item-menu-sedes">
	                            	<div class="pais">
	                            		<img class="banderaPais" src="assets/images/banderas/colombia.png" alt="Colombia">
	                            		<h3 class="textoPais">Colombia</h3>
	                            	</div>
	                                <ul>
	                                    <li><a class="linkPais" href="/N-1076/#/colombia">Visitar sitio web</a>
	                                    </li>
	                                    <div class="recuadroCiudadTopHeader primeraCiudad">
	                                    <li class="dropdown-header-ciudad">Cali</li>
	                                    <p class="textoCiudad">Calle 3A # 65-118 <br>+57 2-489 7000 <br>gers@gers.com.co</p>
	                                    </div>
	                                    <div class="recuadroCiudadTopHeader">
	                                    <li class="dropdown-header-ciudad">Bogotá</li>
	                                    <p class="textoCiudad">Carrera 13A # 98-21. <br>Oficina 501 <br>+57 1-485 7100 <br>gers@gers.com.co</p>
	                                    </div>
	                                </ul>
	                            </li>
	                            <li class="col-md-6 col-lg-3 dropdown-item item-menu-sedes">
	                               <div class="pais">
	                            		<img class="banderaPais" src="assets/images/banderas/usa.png" alt="Estados Unidos">
	                            		<h3 class="textoPais">Estados Unidos</h3>
	                            	</div>
	                                <ul>
	                                    <li><a class="linkPais" href="/N-1076/#/usa">Visitar sitio web</a>
	                                    </li>
	                                    <div class="recuadroCiudadTopHeader primeraCiudad">
	                                    <li class="dropdown-header-ciudad">Weston</li>
	                                    <p class="textoCiudad">2843 Executive Park Drive <br>Weston, Florida 3333<br>1+1 954-384 8925<br>infotech@gersusa.com</p>
	                                    </div>
	                                    <div class="recuadroCiudadTopHeader">
	                                    <li class="dropdown-header-ciudad">Texas</li>
	                                    <p class="textoCiudad">5023 Princeton Ave-Ste 12 <br>Midland, Texas 79703 <br>+1 954-384 8925 <br>infotech@gersusa.com</p>
	                                    </div>
	                                </ul>
	                            </li>
	                            <li class="col-md-6 col-lg-3 dropdown-item item-menu-sedes">
	                                 <div class="pais">
	                            		<img class="banderaPais" src="assets/images/banderas/mexico.png" alt="México">
	                            		<h3 class="textoPais">México</h3>
	                            	</div>
	                                <ul>
	                                    <li><a class="linkPais" href="#">Visitar sitio web</a>
	                                    </li>
	                                    <div class="recuadroCiudadTopHeader primeraCiudad">
	                                    <li class="dropdown-header-ciudad">Ciudad de México</li>
	                                    <p class="textoCiudad">Melchor Ocampo No. 193 <br>Torre C – Despacho 13A <br>Colonia Verónica <br>Anzures, C.P. 11300<br>+52 55 5535 4093<br>gers@gers.com.mx</p>
	                                    </div>
	                                </ul>
	                            </li>
	                            <li class="col-md-6 col-lg-2 dropdown-item">
	                               <div class="pais">
	                            		<img class="banderaPais" src="assets/images/banderas/chile.png" alt="Chile">
	                            		<h3 class="textoPais">Chile</h3>
	                            	</div>
	                                <ul>
	                                    <li><a class="linkPais" href="/N-1076/#/chile">Visitar sitio web</a>
	                                    </li>
	                                    <div class="recuadroCiudadTopHeader primeraCiudad">
	                                    <li class="dropdown-header-ciudad">Santiago de Chile</li>
	                                    <p class="textoCiudad">Av. Irarrázaval 2401, <br>Oficina 906<br>+56 2 33403847<br>gers@gers.cl</p>
	                                    </div>
	                                </ul>
	                            </li>
	                        </div>
	                    </ul>
               		</li>



					<li class="nav-item"><a class="nav-link" [routerLink]="['contact']">Contact us</a></li>
					<!--
					<li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle inicioSesion" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Iniciar sesión/Registrarse
				        </a>
				          <div class="dropdown-menu menuIniciarSesion dropdown-menu-right megamenu">
					        	<div class="row">
					        		<div class="col-md-6">
					        			<div class="col-megamenu">
					        				<ul class="list-unstyled">
					        					<li class="liMenuIniciarSesion">
						        						<div class="row">
						        							<div class="col-md-12">
						        								<h3 class="tituloItemMenuRegistrarse">¿Aún no estás registrado?</h3>
						        								<p class="textoItemMenuRegistrarse">Si aún no estás registrado puedes crear un cuenta aquí</p>
						        								<a class="creaCuenta" href="#">Crea una cuenta</a>
						        							</div>
						        						</div>
					        					</li>
					        				</ul>
					        			</div>
					        		</div>
					        		<div class="col-md-6">
					        			<div class="col-megamenu">
					        				<ul class="list-unstyled">
					        					<li>
						        						<div class="row">
						        							<div class="col-md-12">
						        								<h3 class="tituloItemMenuRegistrarse">Usuarios registrados</h3>
						        								<p class="textoItemMenuRegistrarse">Si ya tienes una cuenta en GERS puedes iniciar sesión ahora</p>
						        								<a class="iniciarSesion" href="#">Iniciar Sesión</a>
						        							</div>
						        						</div>
					        					</li>
					        				</ul>
					        			</div>
					        		</div>
		           			</div> 
				        </div>
					</li>
					-->
			</div>
		</div>
	</div>
</nav>
<!--Aquí Finaliza Top Bar Color Azul-->
