<div class="contenedorFooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3 contacto1">
                <div class="logoFooter">
                    <img class="align-middle" src="assets/images/carousel-principal/logo_1981png.png" width="220" height="auto" alt="Logo Footer">
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto2">
                <ul class="listaItemsFooter">
                    <li><a href="#">Pensamiento Corporativo</a></li>
                    <li><a href="#">Política de Gestion integral</a></li>
                    <li><a href="#">Política de protección de datos personales</a></li>
                    <li><a href="#">Otras Políticas</a></li>
                    <li><a href="#">Responsabilidad social empresarial</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto3">
                <div class="info-Oficina">
                    <h4>Oficina Principal</h4>
                    <p>Calle 3A # 65-118 <br>
                        +57 2-489 7000 <br>
                        gers@gers.com.co</p>
                </div>
                <div class="sedeFooter">
                    <a href="#">Nuestra sede</a>
                </div>
                <div class="redesFooter">
                    <p>Nuestras redes sociales</p>
                    <a href="#"><img src="assets/images/footer/facebook.png" alt="certificado 1"></a>
                    <a href="#"><img src="assets/images/footer/twitter.png" alt="certificado 2"></a>
                    <a href="#"><img src="assets/images/footer/linkedin.png" alt="certificado 3"></a>
                    <a href="#"><img src="assets/images/footer/mail.png" alt="certificado 1"></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto4">
                <div class="certificados">
                   <img src="assets/images/footer/iso1.png" alt="certificado 1">
                   <img src="assets/images/footer/iso2.png" alt="certificado 2">
                   <img src="assets/images/footer/iso3.png" alt="certificado 3">
                </div>
                <div class="imagenes-abajo-certificados">
                    <img src="assets/images/footer/CCS.png" alt="Imagen1">
                    <img id="img-right" src="assets/images/footer/RUC.png" alt="Imagen2">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copy-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p>Todos los derechos reservados</p>
            </div>
            <div class="col-xs-12 col-md-6">
                Diseñado y desarrollado por 
            </div>
        </div>
    </div>
</div>