
<!-- Contenedor Lateral Derecho Curriculum -->
<div class="overviwe-curriculum"></div>
<div class="curriculum-sidebar" id="curriculum-sidebar">
    <div class="headerVertical-curriculum"><input type="button" class="cerrarModal-curriculum" value="×"></div>
    <div class="bodyVertical-curriculum">
        <div class="col-md-12">
            <div class="col-formulario-curriculum pt-2 pl-5 pr-5 pb-2">
                <h3 class="size19 text-blue2 font-weight-700 text-center pb-1">ENVIAR CURRICULUM</h3>
                <form class="contactenos pb-4">
                    <div class="form-row pt-2 pb-2">
                        <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="nombres">Nombres</label>
                        <input type="text" class="form-control" id="nombres" required>
                    </div>
                    <div class="form-row pt-2 pb-2">
                        <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" required>
                    </div>
                    <div class="form-row pt-2 pb-2">
                        <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="telefono">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                    </div>
                    <div class="form-row pt-2 pb-2">
                        <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="correo">Correo Electrónico</label>
                        <input type="email" class="form-control" id="correo" required>
                    </div>
                    <div class="form-row pt-2 pb-2">
                        <label for="inputUbicacion">Ubicación</label>
                        <select id="inputUbicacion" class="form-control">
                          <option selected>Seleccionar...</option>
                          <option>Colombia</option>
                          <option>Brasil</option>
                          <option>Estados Unidos</option>
                          <option>México</option>
                          <option>Argentina</option>
                        </select>
                    </div>
                    <div class="form-row pt-2 pb-2">
                        <label for="inputCatVacante">Categoría de la vacante</label>
                        <select id="inputCatVacante" class="form-control">
                          <option selected>Seleccionar...</option>
                          <option>3127556767</option>
                          <option>0903846321</option>
                          <option>9038912321</option>
                          <option>8039712232</option>
                          <option>6767356199</option>
                        </select>
                    </div>
                    <div class="form-row pt-2 pb-2">
                        <div class="invoiceBox">
                            <label for="file">
                            <div class="boxFile" data-text="Seleccionar archivo">
                                Adjuntar hoja de vida
                            </div>
                            </label>
                            <input id="file" multiple="" name="invoice[]" size="6000" type="file" accept="application/pdf,image/x-png,image/gif,image/jpeg,image/jpg,image/tiff">
                            <label for="inputCatVacante">El archivo adjunto debe estar en el formato .PDF o .DOCX y no debe pesar más de 1.5 mb</label>
                        </div>
                    </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="politicas" required>
                        <label class="form-check-label" for="politicas">Autoriza a GERS para el tratamiento de los datos consignados en este formulario con fines únicamente de envío de información de nuestros productos y/o servicios.</label>
                      </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footerVertical">
        <button type="submit" class="btn btn-primary btn-blue mt-4 w-40 mx-auto d-block">Enviar Curriculum</button>
        <button type="reset" class="btn">Cancelar</button>
    </div>
</div>
<!--Aquí cierra Contenedor Lateral Izquierdo-->