<section class="seccionColombia1 sliderprincipal">
  <div id="sliderGers" class="carousel slide" data-ride="carousel">
    <!--
          <ol class="carousel-indicators">
            <li data-target="#sliderGers" data-slide-to="0" class="active"></li>
            <li data-target="#sliderGers" data-slide-to="1"></li>
            <li data-target="#sliderGers" data-slide-to="2"></li>
          </ol>
        -->
    <div class="w-100">
      <div>
        <ngx-skeleton-loader
          count="1"
          *ngIf="loader"
          animation="progress"
          appearance="circle"
          [theme]="{
            width: '100%',
            height: '430px',
            'border-radius': '10px',
            padding: '15px',
            margin: '0'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
    <div class="carousel-inner" *ngIf="sliderprincipal_data">
      <ng-container *ngFor="let home of sliderprincipal_data; first as isFirst">
        <div
          class="carousel-item"
          *ngIf="home.imagen_de_fondo"
          [ngClass]="isFirst ? 'active' : ''"
        >
          <div
            *ngIf="!loader"
            [style]="
              'background:url(' +
              home.imagen_de_fondo +
              ');height:445px;background-position: center;'
            "
          >
            <div class="container pt-3 pb-3 h-100">
              <div class="row align-items-center h-100">
                <div class="col-sm-8 pt-4 pb-4 my-auto">
                  <div class="d-flex mb-2">
                    <img
                      *ngIf="home.imagen_de_referencia"
                      src="{{ home.imagen_de_referencia }}"
                      alt=""
                      class="img-fluid h-100 my-auto"
                    />
                    <p
                      class="line-height40 mb-0 ml-2 font-weight-bold titulo-banner align-items-center d-flex my-auto"
                      [innerHTML]="home.titulo | safeHtml : 'html'"
                    ></p>
                  </div>
                  <h3
                    class="m-0 font-weight-light descripcion-banner mb-2"
                    [innerHTML]="home.descripcion | safeHtml : 'html'"
                  ></h3>
                  <p class="d-block" *ngIf="home.url_del_boton">
                    <a
                      class="btn btn-white btn-lg btn-blue font-weight-normal pt-2 pb-2 pr-3 pl-3 size18"
                      href="{{ home.url_del_boton }}"
                      role="button"
                      >{{ home.texto_boton }}</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <a
      class="carousel-control-prev"
      href="#sliderGers"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a
      class="carousel-control-next"
      href="#sliderGers"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</section>
<div *ngIf="!loader">
  <section
    class="seccionColombia2 bg-gray-light"
    *ngIf="generando_soluciones_data"
  >
    <div class="container mtn-45">
      <div class="row">
        <div
          class="col-xs-12 col-md-8 offset-md-2 bg-blue1 p-3"
          style="
            border-radius: 15px;
            box-shadow: 0px 0px 5px 4px rgba(125, 125, 125, 0.5);
          "
        >
          <p
            class="m-0 text-center text-white size18 letter-spacing-2-28 mb-1"
            style="line-height: 1.2"
          >
            {{ generando_soluciones_data.titulo }}
          </p>
          <span
            class="size25 letter-spacing-2-28 font-weight-600 text-white d-flex justify-content-center align-items-center"
            ><img
              src="assets/images/carousel-principal/desde-arrow-left.jpg" />{{
              generando_soluciones_data.desde
            }}<img src="assets/images/carousel-principal/desde-arrow-right.jpg"
          /></span>
        </div>
      </div>
    </div>
  </section>
</div>
<ng-container *ngIf="proyectos_realizados_data">
  <div class="seccionColombia3 bg-gray-light pt-5 pb-5">
    <div class="container">
      <ngx-skeleton-loader
        class="d-flex pt-5"
        count="3"
        *ngIf="loader"
        animation="progress"
        appearance="circle"
        [theme]="{ width: '100%', height: '200px', 'border-radius': '.25rem' }"
      ></ngx-skeleton-loader>
      <div class="row" *ngIf="!loader">
        <ng-container *ngFor="let proyectos of proyectos_realizados_data">
          <div
            class="col d-flex align-items-stretch justify-content-center mt-2 mb-2"
            *ngIf="proyectos.titulo != undefined"
          >
            <div class="card box-shadow-blue">
              <div class="card-body text-center pt-4 pb-4 p-3">
                <h3 class="card-title text-blue3 font-weight-bold size25 pb-3">
                  {{ proyectos.titulo }}
                </h3>
                <p class="card-text line-height1 size14">
                  {{ proyectos.descripcion }}
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<section
  class="seccionUsa4"
  style="background:url('{{ lets_work_data.imagen_fondo }}');"
>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-12">
        <ngx-skeleton-loader
          count="2"
          *ngIf="loader"
          animation="progress"
          [theme]="{ height: '25px' }"
        ></ngx-skeleton-loader>
        <p
          *ngIf="!loader"
          class="font-weight-bold text-white text-center montserrat size22 line-height26 letter-spacing-0-47"
          [innerHTML]="lets_work_data.texto_general"
        ></p>
        <div class="text-center">
          <a
            class="text-blue1 font-weight-600 size19 line-height23 letter-spacing-0-47 btn-white mt-2 rounded p-3 d-inline-block mx-auto"
            [routerLink]="[lets_work_data.boton_url]"
            >{{ lets_work_data.boton_texto }}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="seccionColombia4" *ngIf="titulo_servicios_eficientes_data">
  <div class="container pt-5 pb-4">
    <div class="row">
      <div class="col-md-12">
        <ngx-skeleton-loader
          count="2"
          *ngIf="loader"
          animation="progress"
          [theme]="{ height: '25px' }"
        ></ngx-skeleton-loader>
        <h2 *ngIf="!loader" class="font-weight-bold text-blue1 text-center">
          {{ titulo_servicios_eficientes_data }}
        </h2>
      </div>
    </div>
  </div>
</section>
<section class="seccionColombia5" *ngIf="servicios_eficientes_data">
  <div class="container pb-5">
    <ngx-skeleton-loader
      class="d-flex"
      count="3"
      *ngIf="loader"
      animation="progress"
      appearance="circle"
      [theme]="{ width: '100%', height: '250px', 'border-radius': '.25rem' }"
    ></ngx-skeleton-loader>
    <div class="row pt-5" *ngIf="!loader">
      <ng-container
        *ngFor="let servicio_eficiente of servicios_eficientes_data"
      >
        <div
          class="col text-center border-right mt-2 mb-2"
          *ngIf="servicio_eficiente.titulo != undefined"
        >
          <img
            src="{{ servicio_eficiente.imagen }}"
            alt="Item Pruebas"
            class="img-fluid pb-4"
          />
          <h3 class="min-height-40 text-blue1 size18 font-weight-bold">
            {{ servicio_eficiente.titulo }}
          </h3>
          <p class="line-height1-2 size15">
            {{ servicio_eficiente.descripcion }}
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<section class="seccionUsa7 mt-3 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box-shadow border-radius-12 pt-4 pr-5 pl-5 pb-4">
          <img
            class="img-fluid mx-auto d-block"
            src="{{ servicio_neplan_data.imagen }}"
            alt="Neplan"
          />
          <img
            class="img-fluid img-absolute-neplan"
            src="{{ servicio_neplan_data.imagen_logo }}"
            alt="Logo Neplan"
          />
          <p
            class="roboto text-black mt-4 mb-4 size16 line-height20 letter-spacing-0-19"
            [innerHTML]="servicio_neplan_data.texto_general"
          ></p>
          <a
            class="rounded btn-white border-color-blue p-2"
            href="{{ servicio_neplan_data.boton_link }}"
            >{{ servicio_neplan_data.boton_texto }}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="seccionUsa8 mt-5 homeProyectsUsa">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-sm-12 col-md-8 offset-md-2 mt-2">
        <ngx-skeleton-loader
          count="3"
          *ngIf="loader"
          animation="progress"
          [theme]="{ height: '25px' }"
        ></ngx-skeleton-loader>
        <h3 *ngIf="!loader" class="font-weight-bold text-blue1 text-center">
          {{ tituloproyectos }}
        </h3>
      </div>
    </div>
    <ngx-skeleton-loader
      class="d-flex"
      count="4"
      *ngIf="loader"
      animation="progress"
      appearance="circle"
      [theme]="{ width: '100%', height: '350px', 'border-radius': '.25rem' }"
    ></ngx-skeleton-loader>
    <div class="row" *ngIf="!loader">
      <ng-container
        *ngFor="
          let proyects of FeaturedProyects | slice : 0 : 4;
          first as isFirst;
          index as i
        "
      >
        <div class="col-md-3 tarjetaProyectos p-0">
          <div class="tarjetaProyectosInterior">
            <div class="tituloTarjetaProyectosUsa">
              <div class="titulosTarjetaBlanca">
                <h3 class="size23 text-uppercase">{{ proyects.acf.pais }}</h3>
                <p class="size13">{{ proyects.acf.extracto }}</p>
              </div>
            </div>
            <div class="textoTarjetaProyectosUsa">
              <p class="size13">{{ proyects.acf.descripcion }}</p>
            </div>
            <img
              class="img-fluid"
              src="{{ proyects.acf.imagen }}"
              alt="proyecto 1"
              width="100%"
            />
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<section class="seccionUsa9" *ngIf="tituloInternacional">
  <div class="seccionAlcanceLimites-full">
    <div class="container seccionAlcanceLimites">
      <div class="row">
        <div class="col-md-4">
          <ngx-skeleton-loader
            count="2"
            *ngIf="loader"
            animation="progress"
            [theme]="{ height: '40px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="3"
            *ngIf="loader"
            animation="progress"
            [theme]="{ height: '20px' }"
          ></ngx-skeleton-loader>
          <div *ngIf="!loader">
            <h2 class="tituloAlcanceLimites">
              {{ tituloInternacional.titulo }}
            </h2>
            <p
              class="textoAlcanceLimite-col1"
              [innerHTML]="tituloInternacional.descripcion"
            ></p>
          </div>
        </div>
        <div class="col-md-8">
          <ngx-skeleton-loader
            count="1"
            *ngIf="loader"
            animation="progress"
            [theme]="{ height: '40px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            class="d-flex"
            count="4"
            *ngIf="loader"
            animation="progress"
            appearance="circle"
            [theme]="{
              width: '100%',
              height: '100px',
              'border-radius': '.25rem'
            }"
          ></ngx-skeleton-loader>
          <ul
            *ngIf="!loader"
            class="nav nav-tabs flex-xl-nowrap"
            id="myTab"
            role="tablist"
          >
            <ng-container
              *ngFor="
                let paises of paisesInternacionales;
                first as isFirst;
                index as i
              "
            >
              <li class="nav-item">
                <a
                  class="nav-link size13 pt-2 pb-2"
                  [ngClass]="isFirst ? 'active' : ''"
                  id="pais{{ i }}-tab"
                  data-toggle="tab"
                  href="#pais{{ i }}"
                  role="tab"
                  aria-controls="pais{{ i }}"
                >
                  <img
                    id="banderaColombiana"
                    src="{{ paises.bandera }}"
                    alt="bandera"
                  />
                  {{ paises.pais }}
                </a>
              </li>
            </ng-container>
          </ul>
          <div *ngIf="!loader" class="tab-content" id="myTabContent">
            <ng-container
              *ngFor="
                let paises of paisesInternacionales;
                first as isFirst;
                index as i
              "
            >
              <div
                class="tab-pane fade"
                *ngIf="paises.pais != undefined"
                [ngClass]="isFirst ? 'active show' : ''"
                id="pais{{ i }}"
                role="tabpanel"
                aria-labelledby="pais{{ i }}-tab"
              >
                <div class="row textoDespuesPestanas">
                  <ng-container
                    *ngFor="
                      let contacto of paises.contacto;
                      first as isFirst;
                      index as i
                    "
                  >
                    <div class="col-md-4">
                      <h6 class="m-0">{{ contacto.titulo }}</h6>
                      <p
                        class="textoenColombia"
                        [innerHTML]="contacto.contacto"
                      ></p>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <ng-container *ngFor="let clientes of nuestrosClientes; first as isFirst; index as i">
    <section class="seccionUsa10">
        <div class="container">
            <div class="row">
                <div class="col mt-5 mb-4">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                    <h2 *ngIf="!loader" class="tituloNuestrosClientes text-blue1 text-center font-weight-bold">{{ clientes.titulo }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col mb-5 mt-3">
                    <ngx-skeleton-loader class="d-flex" count="5" *ngIf="loader" animation="progress" appearance="circle" [theme]="{ 'width':'100%','height':'100px','border-radius': '.25rem' }"></ngx-skeleton-loader>
                    <owl-carousel *ngIf="!loader"
                            [options]="{items: 5, dots: true, nav: false, loop: true, autoplay: true}"
                            [carouselClasses]="['owl-theme', 'row', 'sliding']">
                            <div class="item d-flex justify-content-center align-content-center" *ngFor="let logos of clientes.imagenes;let i = index">
                                <div style="align-content: center">
                                    <a href={{logos.url}}><img style="height: auto;width:100%;margin:0 auto" src={{logos.imagen}}/></a>
                                </div>
                            </div>
                    </owl-carousel>
                </div>
            </div>
        </div>
    </section>
</ng-container> -->

<ngx-skeleton-loader
  count="1"
  *ngIf="loader"
  animation="progress"
  [theme]="{ height: '350px' }"
></ngx-skeleton-loader>
<ng-container
  *ngFor="let equipo of equipoTrabajo; first as isFirst; index as i"
>
  <section *ngIf="!loader" class="seccionUsa11">
    <div class="full-afterClients mb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"></div>
          <div
            class="col-md-4 offset-md-1 d-flex flex-column justify-content-center"
            style="height: 400px"
          >
            <img
              class="alignnone size-full wp-image-115 justify-content-start"
              src="{{ equipo.logo_gers }}"
              alt=""
              width="200"
              height="56"
            />
            <p
              class="texto-franja-azul letter size22 font-weight-normal pt-3 montserrat"
            >
              {{ equipo.descripcion }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-img" style="margin-top: -400px">
      <img
        id="imagenEquipo"
        src="{{ equipo.imagen }}"
        alt="Equipo"
        class="img-fluid"
      />
    </div>
  </section>
</ng-container>
<ngx-skeleton-loader
  count="1"
  *ngIf="loader"
  animation="progress"
  [theme]="{ height: '350px' }"
></ngx-skeleton-loader>
<ng-container
  *ngFor="let vacante_content of vacantes; first as isFirst; index as i"
>
  <section *ngIf="!loader" class="seccionColombia13">
    <div class="container seccion-hv mt-5">
      <div class="row">
        <div class="col-md-7">
          <div class="full-textoshv">
            <p class="tituloHojadeVida m-0">{{ vacante_content.titulo }}</p>
            <p
              class="textoHojadeVida"
              [innerHTML]="vacante_content.descripcion"
            ></p>
            <a
              class="linkHoja mt-3 d-block"
              [routerLink]="[vacante_content.url_boton]"
              >{{ vacante_content.texto_boton }}
              <i
                class="fas fa-long-arrow-alt-right ml-2"
                style="vertical-align: -0.25em"
              ></i
            ></a>
          </div>
        </div>
        <div class="col-md-5">
          <img
            id="imagenHV"
            src="{{ vacante_content.imagen }}"
            alt="HV"
            width="100%"
          />
        </div>
      </div>
    </div>
  </section>
</ng-container>
