<!--Aquí Inicia el Menú Principal Grande-->
<nav class="navbar navbar-expand-md navbar-light menuPrincipal" #stickyMenu [class.sticky]="sticky">
  <div class="container">
    <button class="navbar-toggler mt-1 mb-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <a class="navbar-brand" href="/N-1076/#/chile">
            <img class="LogoPrincipal" src="assets/images/carousel-principal/logo_1981png.png" alt="Logo">
        </a>
        <a class="menuVerticalPrincipalChile solicitarMenuLateralChile" href="#"><span class="lineasMenu">&#9776;</span> Menú</a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <ng-container *ngFor="let menu_parent of menuPrincipal_data; first as isFirst">
                <li class="nav-item dropdown has-megamenu" *ngIf="menu_parent.classes == 'subcontainer_style1'">
                    <a class="nav-link dropdown-toggle size14" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      {{ menu_parent.title }}
                    </a>
                    <div class="dropdown-menu menuServicio megamenu ">
                      <div class="row">
                        <ng-container *ngFor="let menu_child of menu_parent.child_items; first as isFirst">
                          <div class="col-md-6">
                            <div class="col-megamenu">
                              <ul class="list-unstyled">
                                <li>
                                  <a [routerLink]="[ menu_child.slug ]">
                                    <div class="row">
                                      <div class="col-md-2 my-auto">
                                        <img class="img-fluid" src="{{ menu_child.thumbnail_src }}" alt="imagen1">
                                      </div>
                                      <div class="col-md-10">
                                        <h3 class="tituloItemMenu">{{ menu_child.title }}</h3>
                                        <p class="textoItemMenu">{{ menu_child.description }}</p>
                                      </div>
                                    </div>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item dropdown has-megamenu" *ngIf="menu_parent.classes == 'subcontainer_style2'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      {{ menu_parent.title }}
                    </a>
                    <div class="dropdown-menu menuRepresentaciones chileRepresentaciones megamenu navbar-center">
                      <div class="row filaRepresentaciones">
                        <ng-container *ngFor="let menu_child of menu_parent.child_items; first as isFirst">
                          <div class="col-md-6 representacionItem">
                            <a [routerLink]="[ menu_child.slug ]">
                              <img class="imagenMarcaMenu" src="{{ menu_child.thumbnail_src }}" alt="Logo">
                              <p class="tituloItemMarcaMenu">{{ menu_child.title }}</p>
                              <p class="textoItemMarcaMenu">{{ menu_child.description }}</p>
                            </a>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item" *ngIf="menu_parent.classes == 'subcontainer_style3'">
                    <a [routerLink]="[ menu_parent.slug ]" class="nav-item nav-link">{{ menu_parent.title }}</a>
                  </li>
                  <li class="nav-item" *ngIf="menu_parent.classes == 'subcontainer_style4'">
                    <a [routerLink]="[ menu_parent.slug ]" class="nav-item nav-link">{{ menu_parent.title }}</a>
                  </li>
                  <li class="nav-item" *ngIf="menu_parent.classes == 'subcontainer_style5'">
                    <a [routerLink]="[ menu_parent.slug ]" class="nav-item nav-link">{{ menu_parent.title }}</a>
                  </li>
            </ng-container>
                <!-- <li class="nav-item dropdown has-megamenu">
                    <a class="nav-link dropdown-toggle size14" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servicios
                    </a>
                    <div class="dropdown-menu menuServicio megamenu ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-megamenu">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a [routerLink]="['estudios-sistemas-cl']">
                                                <div class="row">
                                                    <div class="col-md-2 my-auto">
                                                        <img class="img-fluid" src="assets/images/usa/electrician.png" alt="imagen1">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3 class="tituloItemMenu">Estudios de sistemas eléctricos</h3>
                                                        <p class="textoItemMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['pruebas-automatizacion-cl']">
                                                <div class="row">
                                                    <div class="col-md-2 my-auto">
                                                        <img class="img-fluid" src="assets/images/usa/estudios.png" alt="imagen1">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3 class="tituloItemMenu">Pruebas, automatización y control</h3>
                                                        <p class="textoItemMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-megamenu">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a [routerLink]="['diseno-ingenieria-cl']">
                                                <div class="row">
                                                    <div class="col-md-2 my-auto">
                                                        <img class="img-fluid" src="assets/images/usa/field-services.png" alt="imagen1">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3 class="tituloItemMenu">Diseño e ingeniería</h3>
                                                        <p class="textoItemMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown has-megamenu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Representaciones - Software
                    </a>
                    <div class="dropdown-menu menuSoftwareChile megamenu navbar-center">
                        <div class="row filaRepresentaciones">
                            <div class="col-md-6 representacionItem">
                                <a [routerLink]="['neplan-cl']">
                                    <img class="imagenMarcaMenu" src="assets/images/usa/neplan.png" alt="Logo Neplan">
                                    <p class="tituloItemMarcaMenu">Neplan</p>
                                    <p class="textoItemMarcaMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                                </a>
                            </div>
                            <div class="col-md-6 representacionItem">
                            <a [routerLink]="['xgslab-cl']">
                                <img class="imagenMarcaMenu" src="assets/images/chile/xgslab/XGS_lab_logo.png" alt="Logo Neplan">
                                <p class="tituloItemMarcaMenu">XGSLAB</p>
                                <p class="textoItemMarcaMenu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum metus.</p>
                            </a>
                        </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                <a [routerLink]="['proyectos-cl']" class="nav-item nav-link">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['publicaciones-cl']" class="nav-item nav-link">Publicaciones</a>
                </li>
                <li class="nav-item">
                <a [routerLink]="['contactenos-cl']" class="nav-item nav-link">Contáctenos</a>
            </li> -->
        </ul>
    </div>
  </div>
</nav>

<!--Aquí termina el Menú Principal Grande-->


