<div class="contenedorFooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3 contacto1">
                <div class="logoFooter">
                    <img class="align-middle img-fluid" src="assets/images/carousel-principal/logo_1981png.png" width="220" height="auto" alt="Logo Footer">
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto2">
                <div class="wlistaItemsFooter">
                    <ng-container *ngFor="let menu of data.items">
                        <div *ngIf="menu.slug else url">
                            <a href="#/{{ menu.slug }}">{{ menu.title }}</a>
                        </div>
                        <ng-template #url>
                            <a href="{{ menu.url }}" target="{{ menu.target }}">{{ menu.title }}</a>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto3">
                <div class="info-Oficina">
                    <ng-container *ngFor="let info of dataContacto.items; let i = index">
                        <h4 class="text-bold size14">{{ info.title }}</h4>
                        <ng-container *ngFor="let child_item of info.child_items">
                            <ng-container *ngIf="child_item.url != '#' else not">
                                <div *ngIf="child_item.title_position != 'hide' else not2">
                                    <a class="d-block py-3 size14 sedeFooter" [class]="child_item.title_position" href="#{{child_item.url}}" [target]="child_item.target">{{ child_item.title }} <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                                <ng-template #not2>
                                    <a class="mr-2 size14" [href]="child_item.url" [target]="child_item.target">
                                        <img *ngIf="child_item.thumbnail_src" [src]="child_item.thumbnail_src" [alt]="child_item.post_title">
                                    </a>
                                </ng-template>
                            </ng-container>
                            <ng-template #not>
                                <p [class]="child_item.title_position">{{ child_item.title }}</p>
                            </ng-template>
                        </ng-container>

                    </ng-container>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto4">
                <div class="certificados d-flex justify-content-center align-items-center flex-wrap">
                    <ng-container *ngFor="let certificado of dataCertificados.items">
                        <img *ngIf="certificado.thumbnail_src" [src]="certificado.thumbnail_src">
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copy-footer">
    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col d-flex justify-content-between align-items-center">
                <span class="text-white size13">Todos los derechos reservados © <span class="font-weight-light">GERS 2020</span></span>
                <span class="text-white size13">Diseñado y desarrollado por: <a href="#" target="blank_" class="text-white size13">www.neuromedia.com.co</a> <img class="ml-2" src="assets/images/footer/logo-neuro.png" alt="" width="60"></span>
            </div>
        </div>
    </div>
</div>