<div class="publicacion-interna mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ngx-skeleton-loader *ngIf="loader" animation="progress" [theme]="{height:'240px','margin-top':'25px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="10" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <div class="main mt-4">
                        <img class="img-fluid w-100" src="{{ publicacion_data.acf.imagen_interna }}" alt="Publicaciones">
                    </div>
                    <h3 class="size25 font-weight-bold roboto mt-3">{{ publicacion_data.title.rendered }}</h3>
                    <p class="size14 font-weight-500 roboto text-gray-dark mb-5">{{ publicacion_data.acf.autor }}  |   {{ publicacion_data.acf.fecha_publicacion | date:'fullDate' | titlecase }}</p>
                    <p class="size15 text-black roboto" [innerHTML]="publicacion_data.content.rendered"></p>
                </div>
            </div>
        </div>
    </div>
</div>