<!-- <app-menu-vertical></app-menu-vertical>
<app-topbar-azul></app-topbar-azul>
<app-menu-principal></app-menu-principal> -->
<section class="servicios">
    <div class="estudios-sistemas">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-7 mt-3 pl-100">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-12">
                            <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress"
                                [theme]="{ height:'40px' }"></ngx-skeleton-loader>
                            <div *ngIf="!loader" class="media">
                                <img class="align-self-center mr-3 img-fluid" *ngIf="seccion_1_data.icono"
                                    src="{{ seccion_1_data.icono }}" alt="Estudios sistemas">
                                <div class="media-body">
                                    <h4 class="w-70 mb-0 text-blue1 font-weight-bold roboto size26 line-height26">{{
                                        seccion_1_data.titulo_principal }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-md-3">
                            <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress"
                                [theme]="{ height:'40px' }"></ngx-skeleton-loader>
                            <div *ngIf="!loader">
                                <a href="{{ seccion_1_data.boton_link_solicitar }}"
                                    class="btn btn-blue font-weight-light size13 pt-2 pb-2">{{
                                    seccion_1_data.boton_texto_solicitar }}</a>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <ngx-skeleton-loader count="5" *ngIf="loader" animation="progress"
                                [theme]="{ height:'20px' }"></ngx-skeleton-loader>
                            <div *ngIf="!loader">
                                <p class="mt-2" [innerHTML]="seccion_1_data.texto_principal"></p>
                            </div>
                            <ngx-skeleton-loader class="d-flex" count="3" *ngIf="loader" animation="progress"
                                appearance="circle"
                                [theme]="{ 'width':'100%','height':'120px','border-radius': '10px' }">
                            </ngx-skeleton-loader>
                            <div class="row mt-5">
                                <ng-container *ngFor="let item of seccion_iconos_data">
                                    <div *ngIf="!loader" class="col-sm-4 text-center">
                                        <img class="align-self-center mb-3 mx-auto d-block" *ngIf="item.icono"
                                            src="{{ item.icono }}" alt="Cálculo de Ajustes">
                                        <p>{{ item.texto }}</p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 pr-0">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{ height:'350px' }">
                    </ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <img *ngIf="seccion_1_data.imagen_principal" src="{{ seccion_1_data.imagen_principal }}"
                            alt="servicio 2" class="img-fluid d-block">
                    </div>
                </div>
            </div>
        </div>
        <div class="bk-diseno" style="background-image: url('{{texto_columna_0_data}}');background-repeat: no-repeat; background-size: cover;">
            <div class="container mt-5">
                <div class="row pt-5 pb-5">
                    <div class="col">
                        <ngx-skeleton-loader count="4" *ngIf="loader" animation="progress" [theme]="{ height:'20px' }">
                        </ngx-skeleton-loader>
                        <div *ngIf="!loader">
                            <p [innerHTML]="texto_columna_1_data"></p>
                        </div>
                    </div>
                    <div class="col">
                        <ngx-skeleton-loader count="4" *ngIf="loader" animation="progress" [theme]="{ height:'20px' }">
                        </ngx-skeleton-loader>
                        <div *ngIf="!loader">
                            <p [innerHTML]="texto_columna_2_data"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container tabsCustom mt-5 mb-5">
            <div class="row tabs-marcas tabs-estudios-page">
                <div class="col-sm-12">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{ height:'40px' }">
                    </ngx-skeleton-loader>
                    <div *ngIf="!loader" class="nav nav-tabs" id="v-pills-tab" role="tablist"
                        aria-orientation="horizontal">
                        <ng-container *ngFor="let item of item_tab_data; let index = index">
                            <li class="nav-item">
                                <a class="nav-link" [attr.id]="'v-pills-tab-'+index"
                                    [ngClass]="{'active': index === activePillIndex}" data-toggle="pill"
                                    [attr.href]="'#'+'v-pills-'+index" role="tab" aria-selected="true"
                                    (click)="selectPill(index)">{{ item.nombre_item_tab }}</a>
                            </li>
                        </ng-container>
                    </div>
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{ height:'350px' }">
                    </ngx-skeleton-loader>
                    <div *ngIf="!loader" class="tab-content" id="v-pills-tab">
                        <ng-container *ngFor="let datos of item_tab_data; let index = index">
                            <div class="tab-pane fade show" [ngClass]="{'active': index === activePillIndex}"
                                [attr.id]="'#'+'v-pills-'+index" role="tabpanel">
                                <img class="img-fluid pt-5" src="{{ datos.imagen_item_tab }}" alt="Registro">
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>