<section class="servicios">
    <div class="estudios-sistemas">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7 mt-3 pl-100">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-8">
                            <div class="media">
                                <img class="align-self-center mr-3 img-fluid" src="assets/images/servicios/estudiosPNG.png" alt="Estudios sistemas">
                                <div class="media-body">
                                    <h4 class="mb-0 text-blue1 font-weight-bold">Estudios de<br>sistemas eléctricos</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <a href="" class="btn btn-blue font-weight-light size13 pt-2 pb-2">SOLICITAR INFORMACIÓN</a>
                        </div>
                        <div class="col-sm-12">
                            <p class="mt-2">Realizamos estudios de sistemas eléctricos para electrificadoras, plantas industriales, mineras, centrales de generación y petroleras.</p>
                            <p><span class="text-blue1 font-weight-bold">En GERS tenemos ingenieros altamente calificados</span> con quienes realizamos importantes estudios sistémicos en redes eléctricas nacionales e internacionales.</p>
                            <p>Poseemos licencias de varios aplicativos software para análisis de sistemas de potencia.</p>
                            <div class="row pt-4">
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/medPNG.png" alt="Cálculo de Ajustes">
                                    <p>Cálculo de ajustes y coordinación de protecciones eléctricas</p>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/002-medidorPNG.png" alt="Energía Convencional">
                                    <p>Estudios de conexión para proyectos con energías convencionales y no convencionales</p>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/toPNG.png" alt="Sistemas eléctricos">
                                    <p>Planeación de sistemas eléctricos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 pr-0">
                    <img src="assets/images/servicios/img-smart-grids.png" alt="servicio 2" class="img-fluid d-block">
                </div>
            </div>
        </div>
        <div class="container tabsCustom">
            <div class="row">
                <div class="tabs-marcas tabs-estudios-page mt-5 mb-5">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="registro-tab" data-toggle="tab" href="#registro" role="tab" aria-controls="registro" aria-selected="true">Registro de Proyectos</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="gestion-tab" data-toggle="tab" href="#gestion" role="tab" aria-controls="gestion" aria-selected="false">Gestión de Ley 1715</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="conexion-tab" data-toggle="tab" href="#conexion" role="tab" aria-controls="conexion" aria-selected="false">Procedimiento de Conexión</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="registro" role="tabpanel" aria-labelledby="registro-tab">
                                <img class="img-fluid pt-5" src="assets/images/servicios/registro.png" alt="Registro">
                            </div>
                            <div class="tab-pane fade" id="gestion" role="tabpanel" aria-labelledby="gestion-tab">
                                <img class="img-fluid pt-5" src="assets/images/servicios/gestion.png" alt="Gestión">
                            </div>
                            <div class="tab-pane fade" id="conexion" role="tabpanel" aria-labelledby="conexion-tab">
                                <img class="img-fluid pt-5" src="assets/images/servicios/conexion.png" alt="Conexion">
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bk-diseno" style="background-image: url(assets/images/servicios/background.jpg);">
            <div class="container mt-5">
                <div class="row pt-5 pb-5">
                    <div class="col">
                        <ul class="text-white font-weight-light roboto">
                            <li>Arranque de motores</li>
                            <li>Demanda de energía y análisis de operación de industrias</li>
                            <li>Estudios de arco eléctrico (ArcFlash)</li>
                            <li>Evaluación económica y financiera de proyectos energéticos</li>
                            <li>Cálculo de flujos de carga</li>
                            <li>Estudios de deslastre de carga</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="text-white font-weight-light roboto">
                            <li>Análisis de saturación de TC’s</li>
                            <li>Conexión de centrales generadoras</li>
                            <li>Estudios de estabilidad transitoria, tensión y pequeña señal</li>
                            <li>Pérdidas en sistemas eléctricos</li>
                            <li>Análisis tarifario de energía eléctrica y gas</li>
                            <li>Cálculo de cargos por uso de sistemas de transmisión y distribución de energía eléctrica.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>