<div class="seccionAlcanceLimites-full">
    <div class="container seccionAlcanceLimites">
        <div class="row">
            <div class="col-md-5">
                <h2 class="tituloAlcanceLimites">Nuestro alcance no <br>tiene límites</h2>
                <p class="textoAlcanceLimite-col1">Desde nuestros inicios nos proyectamos <br>internacionalmente para ofrecerle al mundo <br>soluciones energéticas a la medida. 
                </p> 
            </div>
            <div class="col-md-7">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active" id="colombia-tab" data-toggle="tab" href="#colombia" role="tab" aria-controls="colombia" aria-selected="true"><img id="banderaColombiana" src="assets/images/banderas/colombia.png" alt="bandera">Colombia</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="estados-tab" data-toggle="tab" href="#estados" role="tab" aria-controls="estados" aria-selected="false"><img id="banderaAmericana" src="assets/images/banderas/usa.png" alt="bandera">EE.UU</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="mexico-tab" data-toggle="tab" href="#mexico" role="tab" aria-controls="mexico" aria-selected="false"><img id="banderaMexicana" src="assets/images/banderas/mexico.png" alt="bandera">México</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="chile-tab" data-toggle="tab" href="#chile" role="tab" aria-controls="chile" aria-selected="false"><img id="banderaChilena" src="assets/images/banderas/chile.png" alt="bandera">Chile</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="colombia" role="tabpanel" aria-labelledby="colombia-tab">
                        <div class="row textoDespuesPestanas">
                            <div class="col-md-6">
                                <p class="tituloenColombia">Bogotá</p>
                                <p class="textoenColombia">Carrera 13A # 98-21. Oficina 501<br>
                                    +57 1-485 7100<br>
                                    gers@gers.com.co</p>
                            </div>
                            <div class="col-md-6">
                                <p class="tituloenColombia">Cali</p>
                                <p class="textoenColombia">Calle 3A # 65-118<br>
                                    +57 2-489 7000<br>
                                    gers@gers.com.co</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="estados" role="tabpanel" aria-labelledby="estados-tab">...</div>
                    <div class="tab-pane fade" id="mexico" role="tabpanel" aria-labelledby="mexico-tab">...</div>
                    <div class="tab-pane fade" id="chile" role="tabpanel" aria-labelledby="chile-tab">...</div>
                </div>
            </div>
        </div>
    </div>
</div>