<div class="trabaje mt-3 mb-5 d-flex" id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu">
                            <ng-container *ngFor="let categoria of categorias">
                                <div class="form-check form-check">
                                    <label class="form-check-label ml-2 ml-sm-2 ml-md-2 ml-lg-2">
                                        <input class="form-check-input" type="checkbox" name=""
                                            (change)="categoriasFiltro({id: categoria.id, bandera: categoria.bandera, filtro: 'categorias'})"
                                            [(ngModel)]="categoria.bandera"> <span
                                            class="text-azul">{{categoria.name}}</span>
                                    </label>
                                </div>
                                <!-- <a class="dropdown-item" href="#">{{ categoria.categoria_vacante }}</a> -->
                            </ng-container>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Schedule</a>
                        <div class="dropdown-menu">
                            <ng-container *ngFor="let horario of horarioVacante">
                                <div class="form-check form-check">
                                    <label class="form-check-label ml-2 ml-sm-2 ml-md-2 ml-lg-2">
                                        <input class="form-check-input" type="checkbox" name=""
                                            (change)="categoriasFiltro({id: horario.horario_vacante, bandera: horario.bandera, filtro: 'horario'})"
                                            [(ngModel)]="horario.bandera"> <span
                                            class="text-azul">{{horario.horario_vacante}}</span>
                                    </label>
                                </div>
                                <!-- <a class="dropdown-item" href="#">{{ horario.horario_vacante }}</a> -->
                            </ng-container>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="mt-3">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'35px', width:'150px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="2" *ngIf="loader" animation="progress" [theme]="{ height:'20px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="3" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>    
                </div>
                <ng-container *ngFor="let vacante of vacantes_data">
                    <div *ngIf="!loader" class="card-job mt-3 pt-3">
                        <a (click)="verVacantes(vacante.slug)">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="size20 text-blue1 font-weight-600">{{ vacante.title.rendered }}</h3>
                                </div>
                                <div class="col-sm-6">
                                    <div class="horario">
                                        <p class="text-right font-weight-500 text-black"><i class="far fa-clock"></i> {{ vacante.acf.fecha_de_publicacion }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="mb-0 text-black"><strong>Category:</strong> {{ vacante.acf.categoria_vacante }}</p>
                                    <p class="text-black"><strong>Working hours:</strong> {{ vacante.acf.horario_vacante }}</p>
                                    <p class="text-black"><strong>{{ vacante.acf.ubicacion_vacante }}</strong></p>
                                    <p class="text-black">{{ vacante.acf.extracto_vacante }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </ng-container>
            </div>
            <div class="col-sm-3">
                <div class="adjunta-hoja p-3">
                    <p class="font-weight-500 text-blue1 text-center">Attach your resume for future opportunities!</p>
                    <button class="d-block w-100 btn btn-blue abrir-curriculum" id="enviar-curriculum" (click)="enviaCurriculum()">Send resume</button>
                    <!--<a class="d-block w-100 btn btn-blue abrir-curriculum" id="enviar-curriculum" href="#">Enviar hoja de vida</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light border-right sobreponer" id="sidebar-wrapper">
        <div class="sidebar-heading size23 text-blue1 font-weight-600"><button id="btnCerrarTrabajemos" (click)="cierraTrabajemos()">x</button> SEND RESUME</div>
        <div class="bodyTrabajemos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form enctype="multipart/form-data" (ngSubmit)="formTrabajeNosotrosUsa(formularioTrabajemos)" #formularioTrabajemos="ngForm" id="formTrabajemos" class="form-trabajemos p-3 w-100">
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-400" for="nombres">Name</label>
                                <input type="text" class="form-control" id="nombres" name="nombres" #nombres="ngModel" [(ngModel)]="usuarioUsa.nombres" required>
                                <small style="color:#c30000;" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                                    Full name is a required field.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-400" for="apellidos">Last Name</label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" #apellidos="ngModel" [(ngModel)]="usuarioUsa.apellidos" required>
                                <small style="color:#c30000;" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                                    Last Name is a required field.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="text-gray-dark letter-spacing0-4 line-height17 size14 font-weight-400">Email</label>
                                <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="usuarioUsa.email" email="true" required>
                                <small style="color:#fff" *ngIf="email.invalid && (email.dirty || email.touched)">
                                    Enter a valid email address.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="telefono">Cell Phone</label>
                                <input type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="usuarioUsa.telefono" pattern="^\d+$" required>
                                <small style="color:#c30000;" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                    Enter a valid phone.
                                </small>
                            </div>
                            <div class="form-group pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="categoria">Vacancy category</label>
                                <select class="form-control" id="categoria" name="categoria" #categoria="ngModel" [(ngModel)]="usuarioUsa.categoria" required>
                                    <option value="" disabled>Choose an option</option>
                                    <option value="Engineering">Engineering</option>
                                    <option value="Gardening">Gardening</option>
                                    <option value="Coffee">Coffee shop</option>
                                </select>
                                <small style="color:#c30000;" *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)">
                                    Category is a required field.
                                </small>
                            </div>
                            <div class="file-field big-2">
                                <div class="btn btn-cyan btn-lg float-left w-100">
                                  <span><i class="fas fa-cloud-upload-alt"></i> Attach curriculum</span>
                                  <input type="file" accept="application/pdf" (change)="changeFile($event.target.files)" id="archivo" name="archivo" required>
                                </div>
                                <p class="file-name"></p>
                                <label class="mt-4 size15 text-gray-dark line-height18 text-justify">The attached file must be in the format <b>.PDF</b> and it should not weigh more than <b>1.5 mb</b></label>
                            </div>
                            <div class="form-check mt-5">
                                <input type="checkbox" class="form-check-input" id="acepto" name="acepto" #acepto="ngModel" [(ngModel)]="usuarioUsa.acepto" required>
                                <label class="form-check-label size15 text-gray-dark line-height18 text-justify" for="acepto">Authorizes GERS to process the data entered in this form for the sole purpose of sending information about our products and / or services.</label>
                                <small style="color:#c30000;" *ngIf="acepto.invalid && (acepto.dirty || acepto.touched)">
                                    You must accept the conditions.
                                </small>
                            </div>
                            <div class="footFormTrabajemos">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <input type="submit" class="enviar d-block float-left mt-2 mb-2" name="enviar" value="Send resume" [disabled]="formularioTrabajemos.invalid">
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <a id="btnCerrarTrabajemos" class="mt-2 mb-2 cancelar d-block text-center" (click)="cierraTrabajemos()">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>