<!-- Contenedor Lateral Izquierdo -->
<div class="overviwe"></div>
<div class="menuvertical" id="menuvertical">
    <div class="headerVertical"><input type="button" class="cerrarModal" value="×"></div>
    <div class="bodyVertical">
        <div class="solucionesVertical">
            <h3>Soluciones</h3>
            <ul class="menuSoluciones">
                <li><a class="itemMenuSolucionesPadre con-submenu" href="#">Servicios</a>
                    <ul class="menuSolucionesItemServicios">
                        <li><a class="itemMenuSolucionesVertical" href="#">Pruebas, automatización y control</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">Diseño e ingeniería</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">Estudios de sistemas eléctricos</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">Servicios energéticos</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">Smart grids</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">Interventoría y asesorías</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">Planeación de proyectos</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuSolucionesPadre con-submenu" href="#">Representaciones</a>
                    <ul class="menuSolucionesItemRepresentaciones">
                        <li><a class="itemMenuSolucionesVertical" href="#">NEPLAN</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">DRANETZ</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">XGSLAB</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">BECKWITH ELECTRIC</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">NDB</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">GMC</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuSolucionesPadre" href="#">Proyectos</a></li>
            </ul>
        </div>
        <div class="compraEnLineaVertical">
            <h3>Compra en línea</h3>
            <ul>
                <li><a class="itemMenuCompra" href="#">Productos</a></li>
            </ul>
        </div>
        <div class="descubreVertical">
            <h3>Descubre</h3>
            <ul class="menuDescubre">
                <li><a class="itemMenuDescubrePadre con-submenu" href="#">Capacitaciones</a>
                    <ul class="menuDescubreItemCapacita">
                        <li><a class="itemMenuDescubreVertical" href="#">Pruebas, automatización y control</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Diseño e ingeniería</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Estudios de sistemas eléctricos</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Servicios energéticos</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Smart grids</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Interventoría y asesorías</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Planeación de proyectos</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuDescubrePadre" href="#">Publicaciones</a></li>
            </ul>
        </div>
        <div class="corporacionVertical">
            <h3>Corporación</h3>
            <ul class="menuCorporacion">
                <li><a class="itemMenuCorporacionPadre con-submenu" href="#">Nosotros</a>
                    <ul class="menuCorporacionItemNosotros">
                        <li><a class="itemMenuCorporacionVertical" href="#">Pensamiento Corporativo</a></li>
                        <li><a class="itemMenuCorporacionVertical" href="#">Política de Gestión integral</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuCorporacionPadre" href="#">Acuerdos Internacionales</a></li>
                <li><a class="itemMenuCorporacionPadre" href="#">Fundación</a></li>
                <li><a class="itemMenuCorporacionPadre" href="#">Trabaje con nosotros</a></li>
                <li><a class="itemMenuCorporacionPadre con-submenu" href="#">Sedes</a>
                    <ul class="menuCorporacionItemSedes">
                        <li><a class="itemMenuCorporacionVertical" href="#">Pruebas, automatización y control</a></li>
                        <li><a class="itemMenuCorporacionVertical" href="#">Diseño e ingeniería</a></li>
                        <li><a class="itemMenuCorporacionVertical" href="#">Estudios de sistemas eléctricos</a></li>
                        <li><a class="itemMenuCorporacionVertical" href="#">Servicios energéticos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footerVertical">
        <a class="botonContactenosVertical" href="#">Contáctenos</a>
        <a class="botonInicioSesion" href="#">Iniciar Sesión/Registrarse</a>
    </div>
</div>
<!--Aquí cierra Contenedor Lateral Izquierdo-->
