<div class="trabaje mt-4 mb-5" id="wrapperInterna">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'35px', width:'150px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="6" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="size20 text-blue1 font-weight-600">{{ vacante_data.title.rendered }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="horario">
                                <!-- <p class="text-right font-weight-500 text-black"><i class="far fa-clock"></i> {{ vacante_data.acf.fecha_de_publicacion }}</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Category:</strong> {{ vacante_data.acf.categoria_vacante }}</p>
                            <p><strong>Position:</strong> {{ vacante_data.acf.cargo_vacante }}</p>
                            <p><strong>Location:</strong> {{ vacante_data.acf.ubicacion_vacante }}</p>
                            <p><strong>Schedule:</strong> {{ vacante_data.acf.horario_vacante }}</p>
                            <!-- <p><strong>Salary approx:</strong> {{ vacante_data.acf.salario_aproximado_vacante }}</p> -->
                            <p class="mt-5 mb-3 text-blue1"><strong> USA </strong></p>
                            <p [innerHTML]="vacante_data.content.rendered"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="2" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader" class="adjunta-hoja p-3">
                    <button class="mb-3 d-block w-100 btn btn-blue postular-ahora" id="postular-curriculum" (click)="postularme()">Send resume!</button>
                    <p class="mb-0 text-black text-center"><strong>Category:</strong> {{ vacante_data.acf.categoria_vacante }}</p>
                    <p class="text-black text-center"><strong>Schedule:</strong> {{ vacante_data.acf.horario_vacante }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light border-right sobreponer" id="sidebar-wrapperInterna">
        <div class="sidebar-heading size23 text-blue1 font-weight-600"><button id="btnCerrarVacante" (click)="cierraVacante()">x</button> APPLY FOR THE VACANCY</div>
        <div class="bodyTrabajemos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form  (ngSubmit)="formVacanteInterna(formVacante)" #formVacante="ngForm" id="formVacante" class="form-vacante p-3 w-100">
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-400" for="nombres">Names</label>
                                <input type="text" class="form-control" id="nombres" name="nombres" #nombres="ngModel" [(ngModel)]="interesado.nombres" required>
                                <small style="color:#c30000;" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                                    Name is a required field.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-400" for="apellidos">Last Name</label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" #apellidos="ngModel" [(ngModel)]="interesado.apellidos" required>
                                <small style="color:#c30000;" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                                    Lastname is a required field.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="text-gray-dark letter-spacing0-4 line-height17 size14 font-weight-400">Email</label>
                                <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="interesado.email" email="true" required>
                                <small style="color:#fff" *ngIf="email.invalid && (email.dirty || email.touched)">
                                    Enter a valid email address.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="telefono">Cell phone</label>
                                <input type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="interesado.telefono" pattern="^\d+$" required>
                                <small style="color:#c30000;" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                    Please enter a valid phone.
                                </small>
                            </div>
                            <div class="file-field big-2 mt-3">
                                <div class="btn btn-cyan btn-lg float-left w-100">
                                  <span><i class="fas fa-cloud-upload-alt"></i> Attach resume</span>
                                  <input type="file" id="archivo" accept="application/pdf"
                                  (change)="onChange($event.target.files)" required>
                                </div>
                                <p class="file-name"></p>
                                <label class="mt-4 size15 text-gray-dark line-height18 text-justify">The attached file must be in the format <b>.PDF</b> and should not be more than <b>1.5 mb</b></label>
                            </div>
                            <div class="form-check mt-5">
                                <input type="checkbox" class="form-check-input" id="acepto" name="acepto" #acepto="ngModel" [(ngModel)]="interesado.acepto" required>
                                <label class="form-check-label size15 text-gray-dark line-height18 text-justify" for="acepto">Authorizes GERS to process the data entered in this form for the sole purpose of sending information about our products and / or services.</label>
                                <small style="color:#c30000;" *ngIf="acepto.invalid && (acepto.dirty || acepto.touched)">
                                    You must accept the conditions.
                                </small>
                            </div>
                            <div class="footFormTrabajemos">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <input type="submit" class="enviar d-block float-left mt-2 mb-2 montserrat" name="enviar" value="Apply now" [disabled]="formVacante.invalid">
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <a id="btnCerrarTrabajemos" class="mt-2 mb-2 cancelar d-block text-center" (click)="cierraVacante()">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>