<!-- <app-menu-vertical></app-menu-vertical>
<app-topbar-azul></app-topbar-azul>
<app-menu-principal></app-menu-principal> -->
<section class="servicios">
    <div class="smart-grid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7 mt-3 pl-100">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-6">
                            <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                            <div *ngIf="!loader" class="media align-items-center">
                                <img class="align-self-center mr-3 img-fluid" *ngIf="seccion_1_data.acf.seccion_1.icono" src="{{ seccion_1_data.acf.seccion_1.icono }}" alt="Smart-Grid">
                                <div class="media-body">
                                    <h4 class="w-25 mb-0 text-blue1 font-weight-bold">{{ seccion_1_data.acf.seccion_1.titulo }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                            <div *ngIf="!loader">
                                <a href="{{ seccion_1_data.acf.seccion_1.boton_link_solicitar }}" class="text-right btn btn-blue font-weight-light size13 pt-2 pb-2">{{ seccion_1_data.acf.seccion_1.boton_texto_solicitar }}</a>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <ngx-skeleton-loader count="7" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                            <div *ngIf="!loader">
                                <p class="mt-2" [innerHTML]="seccion_1_data.acf.seccion_1.texto_principal | safeHtml: 'html'"></p>
                                <div class="row pt-4">
                                    <ng-container *ngFor="let items of seccion_iconos_data">
                                        <div class="col-sm-4 text-center">
                                            <img class="align-self-center mb-3 mx-auto d-block" src="{{ items.icono }}" alt="Interventoría">
                                            <p>{{ items.texto }}</p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 pr-0">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'320px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <img *ngIf="seccion_1_data.acf.seccion_1.imagen_principal" src="{{ seccion_1_data.acf.seccion_1.imagen_principal }}" alt="servicio 2" class="img-fluid d-block">
                    </div>
                </div>
            </div>
        </div>
        <div class="container tabsCustom mt-5 mb-5">
            <div class="row">
                <div class="col-md-4 mb-4 pr-0 pl-0">
                    <ngx-skeleton-loader count="4" *ngIf="loader" animation="progress" [theme]="{height:'35px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <ng-container *ngFor="let item of item_tab_data; let index = index">
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left" [attr.id]="'v-pills-tab-'+index" [ngClass]="{'active': index === activePillIndex}" data-toggle="pill" [attr.href]="'#'+'v-pills-'+index" role="tab" aria-selected="true" (click)="selectPill(index)"><h5 class="size14 mb-0">{{ item.nombre_item_tab }}</h5></a>
                            </li>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-8 contenido-tabs">
                    <ngx-skeleton-loader count="5" *ngIf="loader" animation="progress" [theme]="{height:'25px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader" class="tab-content" id="v-pills-tabContent">
                        <ng-container *ngFor="let datos of item_tab_data; let index = index">
                            <div class="tab-pane fade show" [ngClass]="{'active': index === activePillIndex}" [attr.id]="'#'+'v-pills-'+index" role="tabpanel">
                                <p [innerHTML]="datos.texto_interno_tab"></p>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->
