<section class="servicios">
    <div class="smart-grid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7 mt-3 pl-100">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-8">
                            <div class="media">
                                <img class="align-self-center mr-3 img-fluid" src="assets/images/servicios/smart-grid.png" alt="Smart-Grid">
                                <div class="media-body">
                                    <h4 class="mb-0 text-blue1 font-weight-bold">Smart<br>Grids</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <a href="" class="btn btn-blue font-weight-light size13 pt-2 pb-2">SOLICITAR INFORMACIÓN</a>
                        </div>
                        <div class="col-sm-12">
                            <p class="mt-2">Un servicio de consultoría enfocado a las <span class="text-blue1 font-weight-bold">redes y ciudades inteligentes.</span></p>
                            <p>Con el objetivo de modernizar las redes eléctricas, surge el <span class="text-blue1 font-weight-bold">Modelo de Madurez Smart Grid (SGMM)</span>, una metodología formal para identificar las brechas existentes entre el estado actual y el óptimo de una organización.</p>
                            <p>El modelo consta de una serie de niveles y dominios con los cuales se describen las características y capacidades que una organización debe tener en cuenta en su esfuerzo de modernización de la red.</p>
                            <div class="row pt-4">
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/001-ahorra-energiaPNG.png" alt="Interventoría">
                                    <p>Movilidad eléctrica</p>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/002-servidorPNG.png" alt="Servidores">
                                    <p>Big Data<br>
                                        internet of things “IOT”</p>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/003-capacitacionPNG.png" alt="Capacitación">
                                    <p>Programas de <br>capacitación y formación</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 pr-0">
                    <img src="assets/images/servicios/img-smart-grids.png" alt="servicio 2" class="img-fluid d-block">
                </div>
            </div>
        </div>
        <div class="container tabsCustom">
            <div class="row">
                <div class="tabs-marcas tabs-diseno-page mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-4 mb-4 pr-0">
                            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 p-3 border-left active" id="smart1-tab" data-toggle="tab" href="#smart1" role="tab" aria-controls="smart1" aria-selected="true">
                                        <h5 class="size14 mb-0">Automarización de sistemas de distribución de electricidad</h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 p-3 border-left" id="smart2-tab" data-toggle="tab" href="#smart2" role="tab" aria-controls="smart2" aria-selected="false">
                                        <h5 class="size14 mb-0">Automatización de subestaciones</h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 p-3 border-left" id="smart3-tab" data-toggle="tab" href="#smart3" role="tab" aria-controls="smart3" aria-selected="false">
                                        <h5 class="size14 mb-0">Automatización de central de generación de electricidad</h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 p-3 border-left" id="smart4-tab" data-toggle="tab" href="#smart4" role="tab" aria-controls="smart4" aria-selected="false">
                                        <h5 class="size14 mb-0">Implementación de sistemas SCADA/DMS/EMS</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 contenido-tabs">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="smart1" role="tabpanel" aria-labelledby="smart1-tab">
                                    <ul>
                                        <li>Aislamiento de fallas y restauración del servicio. (FISR: Fault Isolation and Service Restoration)</li><br>
                                        <li>Reconfiguración de circuitos VVC: Volt/Var Control</li><br>
                                        <li>Telemedición: lectura automática de medidores. (AMR: Automatic Meter Reading), infraestructura de medición (AMI: Advanced Metering Infraestructure), gestión de medición (AMM: Advanced Meter Management)</li><br>
                                        <li>Ingeniería: configuración, integración pruebas y puesta en servicio</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="smart2" role="tabpanel" aria-labelledby="smart2-tab">
                                    <ul>
                                        <li>Arquitectura IEC 61850</li><br>
                                        <li>Dispositivos electrónicos inteligentes: Relés digitales de protección</li><br>
                                        <li>Unidades terminales remotas y concentradores de datos</li><br>
                                        <li>Sistemas de supervisión y control</li><br>
                                        <li>Interfaces hombre-máquina</li><br>
                                        <li>Modernización de subestaciones</li><br>
                                        <li>Integración: ingeniería, instalación, pruebas y puesta en servicio de los sistemas de medición, protección y control</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="smart3" role="tabpanel" aria-labelledby="smart3-tab">
                                    <ul>
                                        <li>Aislamiento de fallas y restauración del servicio. (FISR: Fault Isolation and Service Restoration)</li><br>
                                        <li>Reconfiguración de circuitos VVC: Volt/Var Control</li><br>
                                        <li>Telemedición: lectura automática de medidores. (AMR: Automatic Meter Reading), infraestructura de medición (AMI: Advanced Metering Infraestructure), gestión de medición (AMM: Advanced Meter Management)</li><br>
                                        <li>Ingeniería: configuración, integración pruebas y puesta en servicio</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="smart4" role="tabpanel" aria-labelledby="smart4-tab">
                                    <ul>
                                        <li>Sistema de gestión de incidencias. (OMS: Outgage Management System)</li><br>
                                        <li>Interfaz entre DMS y GIS</li><br>
                                        <li>Interfaz entre DMS y OMS</li><br>
                                        <li>Sistema de atención de llamadas (TCS: TroubleCallSystem)</li><br>
                                        <li>Sistema de información de clientes (CIS: Customer Information System)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>