<section class="servicios interventorias-asesorias">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-sm-7 mt-5 pl-100">
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-8">
                        <div class="media">
                            <img class="align-self-center mr-3" *ngIf="seccion_1_data.icono" src="{{ seccion_1_data.icono }}" alt="Interventoria">
                            <div class="media-body">
                                <h4 class="mb-0 text-blue1 font-weight-bold">{{ seccion_1_data.titulo }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ seccion_1_data.boton_link_solicitar }}" class="btn btn-blue font-weight-light size13 pt-2 pb-2">{{ seccion_1_data.boton_texto_solicitar }}</a>
                    </div>
                    <div class="col-sm-12">
                        <p class="mt-2" [innerHTML]="seccion_1_data.texto_principal"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 pr-0">
                <img src="{{ seccion_1_data.imagen_principal }}" alt="Interventoria" class="img-fluid mt-5">
            </div>
        </div>
    </div>
    <div class="bg-blue1 pt-4 pb-4" style="margin-top:-40px">
        <div class="container">
            <div class="row">
                <ng-container *ngFor="let item of seccion_iconos_data">
                    <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                        <img src="{{ item.icono }}" alt="control tecnico" class="img-fluid">
                        <p class="text-white m-0 size13">{{ item.texto }}</p>
                    </div>    
                </ng-container>
            </div>
        </div>
    </div>
</section>