<!-- <app-menu-vertical></app-menu-vertical>
<app-topbar-azul></app-topbar-azul>
<app-menu-principal></app-menu-principal> -->
<!--<div class="bannerInterna" style="background:url(assets/images/carousel-principal/banner_principal.jpg)">
  <p class="text-center pt-5 pb-5">
  </p>
</div>-->
<div class="container tabsCustom">

    <div class="tabs-marcas tabs-neplan-page mt-5 mb-5">
      <div class="container">


        <div class="row contenedor-principal-row">

          <div class="col-12 col-md-6 col-lg-5">
            <div class="row contenedor-productos">
              <div class="contenedor-imagen">
                <div class="imagen-grande">
                  <img class="ajustar-img" [src]="listadoProductosDetalle?imagen_grande: imagenDefecto">
                </div>
                <div class="container">
                  <div class="row contenedor-nombre">
                    <div class="col-3 col-md-3 col-lg-3 imagen-min" *ngFor="let imagen of listadoProductosDetalle?.images">
                      <img class="ajustar-img" [src]="listadoProductosDetalle?imagen.src: ''" (click)="pasarImagen(imagen.src)">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-7">
            <div class="row contenedor-informacion-producto">
              <div class="col-12 producto">
                <span class="">
                  {{listadoProductosDetalle?listadoProductosDetalle.name: ''}}
                </span>
              </div>
              <div class="col-12 nuevo-producto">
                <span class="">Nuevo producto</span>
              </div>
              <div class="col-12 descripcion-producto">
                <span class="" [innerHTML]="listadoProductosDetalle?listadoProductosDetalle.short_description: ''">
                </span>
              </div>
              <div class="col-12 agregar-carrito">
                <span class="">
                  Añadir al carrito para solicitar cotización formal
                </span>
              </div>
              <div class="col-12 boton-agregar-carrito">
                <button type="button" class="btn btn-blue" (click)="agregarCarrito(listadoProductosDetalle.id)">
                  Añadir al cotizador
                </button>
              </div>
              <div class="col-12 agendar-demostracion">
                <span class="">
                  Agenda una demostración personalizada
                </span>
              </div>
              <div class="col-12 boton-solicitar-demostracion">
                <button type="button" (click)="abrirDemostracion()" class="btn btn-light ">
                  Solicitar demostración
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-contenedor-informacion">
          <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link size13 pt-2 pb-2 active"
                   id="descripcion-tab" data-toggle="tab"
                   href="#descripcion" role="tab"
                   aria-controls="descripcion"
                   aria-selected="true">
                  DESCRIPCIÓN</a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link size13 pt-2 pb-2"
                   id="caracteristicas-tab"
                   data-toggle="tab" href="#caracteristicas"
                   role="tab" aria-controls="caracteristicas"
                   aria-selected="false">
                  CARACTERISTICAS</a>
              </li>

              <li class="nav-item">
                <a class="nav-link size13 pt-2 pb-2"
                   id="especializaciones-tab"
                   data-toggle="tab" href="#especializaciones"
                   role="tab" aria-controls="especializaciones"
                   aria-selected="false">
                  ESPECIALIZACIONES </a>
              </li>

              <li class="nav-item">
                <a class="nav-link size13 pt-2 pb-2"
                   id="aplicaciones-tab"
                   data-toggle="tab"
                   href="#aplicaciones" role="tab"
                   aria-controls="aplicaciones"
                   aria-selected="false">
                  APLICACIONES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link size13 pt-2 pb-2"
                   id="opciones-accesorios-tab" data-toggle="tab"
                   href="#opciones-accesorios" role="tab"
                   aria-controls="opciones-accesorios"
                   aria-selected="false">
                  OPCIONES Y ACCESORIOS</a>
              </li> -->
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="descripcion" role="tabpanel" aria-labelledby="descripcion-tab">
                <div class="textoDespuesPestanas">
                  <span class="texto-anidado" [innerHTML]="listadoProductosDetalle?listadoProductosDetalle.description: ''"></span>
                </div>
              </div>
              <div class="tab-pane fade" id="caracteristicas" role="tabpanel" aria-labelledby="caracteristicas-tab">
                ...
              </div>
              <div class="tab-pane fade" id="especializaciones" role="tabpanel" aria-labelledby="especializaciones-tab">
                ...
              </div>
              <div class="tab-pane fade" id="aplicaciones" role="tabpanel" aria-labelledby="aplicaciones-tab">...</div>
              <div class="tab-pane fade" id="opciones-accesorios" role="tabpanel"
                   aria-labelledby="opciones-accesorios-tab">...
              </div>
            </div>
          </div>
        </div>

        <div class="row titulo-producto">
          <div class="col-12">
            <p>
              Productos relacionados
            </p>
          </div>
        </div>

      </div>

   <ng-container *ngIf="listadoProductosDetalle">
    <app-slider-detalle [relacionados]="listadoProductosDetalle?listadoProductosDetalle.related_ids: ''"></app-slider-detalle>
   </ng-container>

    <app-form-demostracion [producto]="idProducto" tipoProducto="Productos"></app-form-demostracion>


    </div>

</div>
<!-- <app-footer></app-footer> -->
