@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.imagen-grande {
  height: 220px;
  text-align: center;
  margin-bottom: 14px;
  background-color: #FFFFFF;
  border-radius: 6px;
  /* cursor: pointer; */
  /*box-shadow: 2px 1px 6px 0 rgba(0, 0, 0, 0.2);*/
  border-radius: 40px;
}
.imagen-grande img {
  width: 260px;
  height: 180px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;

}
.contenedor-imagen {
  width: 100%;
}

.ajustar-img{
  height: auto !important;
}

.contenedor-nombre img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;

}

.contenedor-nombre .col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 17%;
}

.container .contenedor-nombre {
  justify-content: center !important; ;
}

.contenedor-nombre .imagen-min {
  height: 50px;
  width: 50px;
}

.boton-agregar-carrito button{
  background-color: #2C3394;
  width: 308px;
  height: 40px;
  color: #FFFFFF;
  border: 1px solid #2C3394 !important;
}

.boton-agregar-carrito button:hover{
  background-color: #FFFFFF;
  width: 308px;
  height: 40px;
  color: #2C3394;
  border: 1px solid #2C3394 !important;
}

.boton-solicitar-demostracion button {
  border: 1px solid #2C3394;
  width: 308px;
  height: 40px;
  color: #2C3394;
}

.boton-solicitar-demostracion button:hover {
  border: 1px solid #F3F3F3;
  width: 308px;
  height: 40px;
  color: #FFFFFF;
  background-color: #2C3394;
}

.producto {
  margin-bottom: 16px;
}
.producto span {
  color: #2C3394;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  letter-spacing: 1.69px;
  line-height: 34px;
  width: 370px;
  text-align: left;
}

.nuevo-producto span {
  color: #F14F4F;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  letter-spacing: 1.09px;
  line-height: 22px;
  text-align: left;
}

.descripcion-producto {
  margin-bottom: 15px;
}
.descripcion-producto span {
  color: #2C3394;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  letter-spacing: 1.09px;
  line-height: 22px;
  width: 582px;
  text-align: left;
}

.agregar-carrito {
  margin-bottom: 7px;
}
.agregar-carrito span{
  color: #2C3394;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  letter-spacing: 0.04px;
  line-height: 16px;
  text-align: left;
}

.boton-agregar-carrito {
  margin-bottom: 15px;
}
.agendar-demostracion {
  margin-bottom: 7px;
}

.agendar-demostracion span{
  color: #2C3394;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  letter-spacing: 0.04px;
  line-height: 16px;
  text-align: left;
}

.boton-solicitar-demostracion {

}

.btn-blue {
  border: 2px solid transparent !important;
  transition: .5s;
}

.contenedor-principal-row {

  margin-bottom: 50px;
}

row-contenedor-informacion li {
  width: 258px;
  color: #343434;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.97px;
  line-height: 25px;
  width: 1126px;
  text-align: left;
  margin-bottom: 30px;
}
#myTabContent {
  margin-bottom: 30px;
}
.texto-anidado {
  color: #343434;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.97px;
  line-height: 19px;

  text-align: left;
}

.nav-link {
  color: #2C3394;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.97px;
  line-height: 19px;
  text-align: left;
}


.descripcion-producto-2 {
  margin-bottom: 10px;
}

.titulo-producto p{
  color: #2C3394;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.97px;
  line-height: 19px;
  justify-content: center;
  flex: 1;
  display: flex;
  margin-bottom: 40px;
}



.filtros-derecha img {
  width: 200px;
  height: 180px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

.filtros-derecha img:hover {
  width: 205px;
  height: 185px;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

.nombre-producto {
  margin-bottom: 3px;
}

.contenedor-nombre-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -13px !important;
  margin-left: -1px !important;
  color: #2C3394;
  font-family: 'Montserrat', sans-serif;
  line-height: 17px;
  letter-spacing: 0.84px;
  width: 226px;
  text-align: left;
  font-weight: 700;
}
.contenedor-descripcion{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -13px !important;
  margin-left: -1px !important;
  color: #2C3394;
  font-family: 'Montserrat', sans-serif;
  line-height: 17px;
  letter-spacing: 0.84px;
  width: 226px;
  text-align: left;
}

.filtros-derecha {
  height: 220px;
  text-align: center;
  margin-bottom: 14px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 2px 1px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.filtros-derecha:hover {
  background-color: #FFFFFF;
  border-radius: 6px;
  border: #2C3394 solid 1px;
  cursor: pointer;
}

.carousel-indicators img {
  width: 50px;
  height: 50px;
}
