@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:host {
  background-image: linear-gradient(230.37deg, rgba(98, 100, 22, 0) 0%, #9B9D31 100%);
  filter: blur(35px);
  opacity: 0.8676292782738095;
}
.filtros-izquierda {
  background-color: #FFFFFF;
  border-radius: 6px;
  /* box-shadow: 2px 1px 6px 0 rgba(0, 0, 0, 0.2); */
  margin-bottom: 15px;
  margin-top: 15px;
}
.subCategorias{
  display: none !important;
}
.contenedor-relativo:hover .mostrar-btn{
  display: block !important;
}
.btn-blue{
  color: #fff;
  background-color: #2C3394;
  border: 1px solid transparent;
}
.btn-blue:hover{
  background-color: #fff;
  color: #2C3394;
  border: 1px solid #2C3394;
}
.contenedor-relativo:hover .filtros-derecha{
  background-color: #FFFFFF;
  border-radius: 6px;
  border: #2C3394 solid 1px;
  filter: blur(1.5px);
}
.filtros-derecha:hover{
  cursor: pointer;
}
.sombreado-subCate{
  background-color: #f1f1f1;
  width: 122%;
  padding: 3%;
}
.row-check {

  margin-bottom: 15px;
}


.filtros-izquierda .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1px !important;
  margin-left: -1px !important;
}

.filtros-izquierda h3 {
  color: #1C1C1C;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: -0.16px;
  line-height: 26px;
  margin: 15px;

}

.opcion-filtros-superior {

  margin-bottom: 30px;
}

.filtros-derecha {
  height: 150px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 2px 1px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  align-items: center;
  
}
.contenedor-relativo{
  position: relative;
}
.btn-absoluto{
  position: absolute;
  top: 40%;
  right: 30%;
}
.btn-absoluto-vista2{
  position: absolute;
  top: 40%;
  right: 35%;
}
.btn-absoluto-vista3{
  position: absolute;
  top: 40%;
  right: 35%;
}
.filtros-derecha img {
  width: 94%;
  height: 23vh;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

.filtros-derecha img:hover {
  width: 95%;
  height: 24vh;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

.nombre-producto {
  margin-bottom: 3px;
}

.contenedor-nombre {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -13px !important;
  margin-left: -1px !important;
  color: #2C3394;
  font-family: 'Montserrat', sans-serif;
  line-height: 17px;
  letter-spacing: 0.84px;
  width: 226px;
  text-align: left;
  font-weight: 700;
  cursor: pointer;
}
.contenedor-descripcion{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -13px !important;
  margin-left: -1px !important;
  color: #2C3394;
  font-family: 'Montserrat', sans-serif;
  line-height: 17px;
  letter-spacing: 0.84px;
  text-align: left;
  cursor: pointer;
}

.descripcion-producto {
  margin-bottom: 10px;
}

.campos-filtros-productos {
  margin-bottom: 15px;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #fff;
  text-align: center;
  align-items: center;
}

.vistas-iconos{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.vistas-iconos img {
  cursor: pointer;
}

.filtros-derecha-forma3 img {

  width: 300px;

}
.campos-filtros-productos .col-12 {
  margin-bottom: 10px;
  margin: 10px 0;
}
.pagination{
  margin: 0 !important;
  align-items: center;
}

.page-link {
  font-size: 9px !important;
  margin-right: 5px;
  border-radius: 3px;
}
.page-item.active .page-link {
  color: #fff;
  background-color: #2C3394 !important;
  border-color: #2C3394 !important;
}

.page-link:hover {
  color: #ffffff !important;
  background-color: #2C3394 !important;
  border-color: #2C3394 !important;
}
.page-item{
  cursor: pointer;
}
