<!-- <app-menu-vertical></app-menu-vertical>
<app-topbar-azul></app-topbar-azul>
<app-menu-principal></app-menu-principal> -->
<section class="shop" style="background-color:#F9F9F9">
  
  <div class="container pt-5">
    <div class="bannerInterna" style="background:url(assets/images/carousel-principal/bannerPrincipal.png);background-size: cover;border-radius: 10px;">
      <h1 class="text-left pl-5 pt-4 pb-4 line-height1 text-white font-weight-600">
        <!-- <img src="assets/images/marcas/1neplan_marca.png" alt="" class="img-fluid"> -->
          Estudios de <br>
          sistemas eléctricos
      </h1>
    </div>
  </div>
  <div class="container tabsCustom">
    <div class="row">
      <div class="tabs-marcas tabs-neplan-page mt-3 mb-5">
        <div class="container">
          <div class="row campos-filtros-productos">
            <div class="col-12 col-md-6 col-lg-2">
              <label>Ordenar por</label>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
              <select class="custom-select mr-sm-2" [ngModel]="ordenarPor" (ngModelChange)="filtradoOrdenar($event)">
                <option [value]="0">Ordenar por</option>
                <option [value]="1">Nombre del producto</option>
                <option [value]="2">Fecha de creacion</option>
                <option [value]="3">Mas recientes</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
              <label>Producto por página:</label>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
              <select [ngModel]="5" (ngModelChange)="changePaginate($event)" class="custom-select mr-sm-2">
                <option [value]="5">5</option>
                <option [value]="10">10</option>
                <option [value]="15">15</option>
                <option [value]="20">20</option>
                <option [value]="25">25</option>
                <!-- <option [value]="null">Ordenar por página</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option> -->
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-2 vistas-iconos">
              <label>Vistas: </label>
              <img src="./assets/images/iconos-productos/1.jpg" (click)="listarForma1()" />
              <img src="./assets/images/iconos-productos/2.jpg" (click)="listarForma2()" />
              <img src="./assets/images/iconos-productos/3.jpg" (click)="listarForma3()" />

            </div>
            <div class="col-12 col-md-6 col-lg-2" style="padding: 0;">
              <pagination-controls (pageChange)="p = $event"
              maxSize="5"
              autoHide="true"
              responsive="true"
              previousLabel=""
              nextLabel=""></pagination-controls>
            </div>
          </div>

          <div class="row ">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="filtros-izquierda pb-1">
                <div class="row marcas-clase">
                  <h3 class="font-weight-600">Marca</h3>
                </div>
                <div class="row row-check">
                  <ng-container *ngFor="let filtro of filtros">
                  <div class="col-10 col-lg-10 col-md-10">
                    <div class="form-check">
                      <input type="checkbox" (change)="filtradoProductos()" [(ngModel)]="filtro.bandera" class="form-check-input" id="gossen">
                      <label class="form-check-label" for="gossen">{{ filtro.name }}</label>
                    </div>
                    <div class="row my-3 sombreado-subCate subCategorias" [id]="filtro.id">
                      <div class="col-12 col-lg-12 col-md-12 py-2" *ngFor="let subFiltro of filtro.subCategorias">
                        <div class="form-check">
                          <input type="checkbox" (change)="filtradoProductos()" [(ngModel)]="subFiltro.bandera" class="form-check-input" id="gossen">
                          <label class="form-check-label" for="gossen">{{ subFiltro.name }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 col-lg-2 col-md-2">
                    <button class="btn btn-link" (click)="openCloseSubCategorias(filtro.id)"><i [id]="'flecha'+filtro.id" class="fas fa-sort-down"></i></button>
                  </div>
                </ng-container>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-9">
              <!-- Forma de visualizar los datos 1 -->
              <div class="row contenedor-productos" [hidden]="!forma1">
                <div class="col-12  col-md-6  col-lg-4 "  *ngFor="let data of listadoProductos | paginate: { itemsPerPage: per_page, currentPage: p }">
                  <div class="contenedor-relativo">
                    <div class=" filtros-derecha" (click)="detalleProductos(data.name, data.id)" [ngStyle]="{ 'background-image':'url('+ data.images[0].src +')', 'background-size': 'cover', 'background-position': 'center center' }">
                      <!-- <img [src]="data['producto_imagen1']"> -->
                    </div>
                    <button type="button" class="btn btn-blue btn-absoluto mostrar-btn d-none" (click)="detalleProductos(data.name, data.id)">Ver producto</button>
                  </div>
                  

                  <div class="row contenedor-nombre">
                    <p class="nombre-producto"  (click)="detalleProductos(data.name, data.id)">{{data.name}}</p>
                  </div>
                    <div class="row contenedor-descripcion">
                    <span class="descripcion-producto"  (click)="detalleProductos(data.name, data.id)" [innerHTML]="data.short_description"></span>
                  </div>
                </div>
              </div>
              <!-- Forma de visualizar los datos 2 -->
              <div class="row contenedor-productos" [hidden]="!forma2">
                <div class="col-12 col-md-6 col-lg-6 "  *ngFor="let data of listadoProductos | paginate: { itemsPerPage: per_page, currentPage: p }">
                  <div class="contenedor-relativo">
                    <div class=" filtros-derecha" (click)="detalleProductos(data.name, data.id)" [ngStyle]="{ 'background-image':'url('+ data.images[0].src +')', 'background-size': 'cover', 'background-position': 'center center','height':'230px' }">
                      <!-- <img [src]="data['producto_imagen1']"> -->
                    </div>
                    <button type="button" class="btn btn-blue btn-absoluto-vista2 mostrar-btn d-none" (click)="detalleProductos(data.name, data.id)">Ver producto</button>
                  </div>
                  <div class="row contenedor-nombre">
                    <p class="nombre-producto"  (click)="detalleProductos(data.name, data.id)">{{data.name}}</p>
                  </div>
                  <div class="row contenedor-descripcion">
                    <span class="descripcion-producto"  (click)="detalleProductos(data.name, data.id)" [innerHTML]="data.short_description"></span>
                  </div>
                </div>
              </div>
              <!-- Forma de visualizar los datos 3 -->
              <div class="row contenedor-productos-forma3 " [hidden]="!forma3" >
                <div class="col-12 col-md-6 col-lg-12 "  *ngFor="let data of listadoProductos | paginate: { itemsPerPage: per_page, currentPage: p }">
                  <div class="contenedor-relativo">
                    <div class="row filtros-derecha"  (click)="detalleProductos(data.name, data.id)">
                      <div class="col " (click)="detalleProductos(data.name, data.id)" [ngStyle]="{ 'background-image':'url('+ data.images[0].src +')', 'background-size': 'cover', 'background-position': 'center center','height':'120px','width':'auto' }">
                        <!-- <img [src]="data['producto_imagen1']"> -->
                      </div>
                    <div class="col contenedor-nombre">
                      <p class="nombre-producto"  (click)="detalleProductos(data.name, data.id)">{{data.name}}</p>
                    </div>
                    <div class="col contenedor-descripcion">
                      <span class="descripcion-producto"  (click)="detalleProductos(data.name, data.id)" [innerHTML]="data.short_description"></span>
                    </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-blue btn-absoluto-vista3 mostrar-btn d-none" (click)="detalleProductos(data.name, data.id)">Ver producto</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->
