<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 bg-gray-filtro">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <nav class="navbar navbar-expand-sm navbar-light bg-gray-filtro">
                            <button class="navbar-toggler d-lg-none border-btn" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="collapsibleNavId">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Types of events <i class="fas fa-angle-down icono-flecha"></i></a>
                                        <div class="dropdown-menu caja-filtro" aria-labelledby="dropdownId">
                                            <ng-container *ngFor="let categoria of categorias">
                                                <div class="form-check form-check">
                                                    <label class="form-check-label ml-2 ml-sm-2 ml-md-2 ml-lg-2">
                                                        <input class="form-check-input" type="checkbox" name="" (change)="categoriasFiltro({id: categoria.id, bandera: categoria.bandera})"  [(ngModel)]="categoria.bandera"> <span class="text-azul">{{categoria.name}}</span>
                                                    </label>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-outline-darkblue ml-sm-3 ml-md-3 ml-lg-3" (click)="resetCardCapacitacion()">Erase</button>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-lg-7 col-12 col-sm-12 mt-5 mt-sm-5 mt-md-5 mt-lg-5 mb-md-5 mb-lg-5">
            <full-calendar #calendar id="calendar" defaultView="dayGridMonth" [options]="calendarOptions"></full-calendar>
        </div>

        <div class="col-md-5 col-lg-5 col-12 col-sm-12 mt-5 mt-md-5 mt-lg-5 mb-sm-5 mb-5 scroll-card">
            <ng-container *ngIf="capacitacionesFiltro.length > 0; else noCapacitaciones">
            <ng-container *ngFor="let capacitacion of capacitacionesFiltro">
                <div class="container border-shadow mb-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 p-2 p-sm-2 p-md-2 p-lg-2">
                                    <img class="img-fluid" [src]="capacitacion.acf.imagen_vista_previa" alt="">
                                </div>
                                <div class="col-md-8 p-2 p-sm-2 p-md-2 p-lg-2">
                                    <h6 class="text-azul negrita-700">{{capacitacion.title.rendered}}</h6>
                                    <p class="text-muted fecha-card"><i class="far fa-clock reloj-card"></i> {{ capacitacion.fecha }}</p>
                                    <ng-container *ngFor="let categoria of capacitacion.categorias">
                                        <span class="badge mt-1 mb-1" [ngClass]="{'bg-vigente':categoria === 'Vigente',
                                                                                  'bg-terminados': categoria === 'Terminado'}">{{categoria}}</span>
                                    </ng-container>
                                    <span class="badge ml-2"
                                        [ngClass]="{'bg-webinar':capacitacion.acf.tipo_de_evento==='Webinar',
                                                                             'bg-Workshop':capacitacion.acf.tipo_de_evento==='Workshop',
                                                                             'bg-cursos':capacitacion.acf.tipo_de_evento==='Cursos',
                                                                             'bg-seminarios':capacitacion.acf.tipo_de_evento==='Seminarios'}">{{capacitacion.acf.tipo_de_evento
                                        | char}}</span>
                                    <p class="text-card text-truncate">{{ capacitacion.acf.descripcion_corta }}</p>
                                    <button class="btn btn-link link-card" (click)="enviarInterna(capacitacion)">see more about this event <i
                                            class="fas fa-long-arrow-alt-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noCapacitaciones>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                        <img src="./assets/images/sin_novedad.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                        <h3 class="font-weight-bold text-capitalize text-lightgray">Sin capacitaciones</h3>
                    </div>
                </div>
            </div>
            
        </ng-template>
        </div>
    </div>
</div>