.border-shadow{
    box-shadow: 0px 0px 2px 2px #eae7e7;
    border-radius: 3px;
}
.fecha-card{
    font-size: 14px;
    /* transform: translateX(3%); */
}
.reloj-card{
    font-size: 10px;
    transform: translate(-26%, -13%);
}
.bg-vigente{
    background-color: #53A000;
    color: #fff;
    font-size: 14px;
    padding: 2% 5%;
    font-weight: 100;
    border-radius: 0;
}
.bg-terminados{
    background-color: #ff0b2d;
    color: #fff;
    font-size: 14px;
    padding: 2% 5%;
    font-weight: 100;
    border-radius: 0;
}
.bg-webinar{
    background-color: #346FF1;
    color: #fff;
    font-size: 14px;
    padding: 2%;
    font-weight: 100;
    border-radius: 0;
}
.bg-Workshop{
    background-color: #53A000;
    color: #fff;
    font-size: 14px;
    padding: 2%;
    font-weight: 100;
    border-radius: 0;
}
.bg-cursos{
    background-color: #FD9B5B;
    color: #fff;
    font-size: 14px;
    padding: 2%;
    font-weight: 100;
    border-radius: 0;
}
.bg-seminarios{
    background-color: #B60DED;
    color: #fff;
    font-size: 14px;
    padding: 2%;
    font-weight: 100;
    border-radius: 0;
}
.text-card{
    font-size: 15px;
    line-height: 19px;
}
.link-card{
    padding: 4% 0 0;
}
.scroll-card{
    max-height: 480px;
    overflow-y: auto;
}
.bg-gray-filtro{
    background-color: #E8ECF4;
}
.bg-gray-filtro .nav-link{
    color: #2C3394 !important;
    font-weight: 600;
}
.icono-flecha{
    transform: translateY(10%);
}
.caja-filtro{
    background-color: white;
    width: 100%;
    border-top: 2px solid #2C3394;
}
.text-azul{
    color: #2C3394 ;
}
.negrita-700{
    font-weight: 700;
}
.border-btn{
    border: 1px solid lightgray;
}
.btn-outline-darkblue{
    background-color: transparent;
    color: #2C3394;
    border: 1px solid #2C3394;
    border-radius: 0;
}
.btn-outline-darkblue:hover{
    background-color: #2C3394;
    color: #fff;
}
.text-lightgray{
    color: lightgray;
}