<div class="full-afterClients">
    <div class="container-fluid fullpantalla-clientes">
        <div class="row">
                <div class="col-md-6">
                    <img id="imagenEquipo" src="assets/images/equipo-de-trabajo/equipo-de-trabajo.jpg" alt="Equipo" width=100%>
                </div>
                <div class="col-md-6">
                    <p class="texto-franja-azul">Somos una organización proveedora de<br>
                        bienestar, donde velamos los derechos de <br>
                        todos nuestros colaboradores, coherente <br>
                        con los principios que nos rigen y <br>
                        comprometidos con nuestro papel dentro <br>de la sociedad. 
                    </p>
                </div>
        </div>
    </div>
</div>
