<div class="trabaje mt-4 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="size20 text-blue1 font-weight-600">Lead Service Technician</h3>
                    </div>
                    <div class="col-sm-6">
                        <div class="horario">
                            <p class="text-right font-weight-500 text-black"><i class="far fa-clock"></i> 23 de nov. de 2020</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><strong>Position:</strong> Lead Field Service Technician</p>
                        <p><strong>Location:</strong> Westborough, MA</p>
                        <p><strong>Compensation:</strong> $40 - $60 Hourly plus $5,000 Sign-On Bonus</p>
                        <p><strong>Additional Information:</strong> Paid Travel Time, Consistent Overtime, Relocation Available</p>
                        <p class="mt-5 mb-3 text-blue1"><strong>Westborough, MA, USA</strong></p>
                        <p>POWER YOUR FUTURE WITH CE POWER in our Field Services department as a Senior or Lead Field Service Apparatus Technician. Due to continued growth, we are seeking seasoned Apparatus Technicians and Field Apparatus Engineers. If you have 5+ years of apparatus testing experience in a breaker shop or low and medium voltage industrial facility, we want to hear from you! <br>
                            <br>
                            Our seasoned apparatus service technicians lead and perform testing, maintenance and repair of low and medium voltage circuit breakers, transformers, switchgear, motor control and other electrical apparatus in the shop and in the field. Adhering to our CE Power Fundamental- “ Always Safe”, all of our employees contribute to a safe work environment, follow all safety and Human Performance best practices, and work to uphold CE Power Fundamentals.
                        </p>
                        <p class="mt-5 mb-3 text-blue1"><strong>As a Senior or a Lead Apparatus Service Technician or Field Engineer, you will be responsible for:</strong></p>
                        <ul>
                            <li>Performing testing on low and medium voltage breakers including Megger, Ductor, Hi-Pot, Hi-Current, and Timing tests.</li>
                            <li>Completing mechanical work and repairs on breakers, including tear down, refurbishment and parts replacement.</li>
                            <li>Painting breakers and parts.</li>
                            <li>Wiring circuit breakers.</li>
                            <li>Utilizing and accurately reading meters.</li>
                            <li>Reading schematics and wiring drawings.</li>
                            <li>Troubleshooting circuit breaker controls.</li>
                            <li>Reading and plotting time-current curves.</li>
                            <li>Testing power and current transformers, including Power Factor and TTR.</li>
                            <li>Accurately and consistently documenting using Power DB.</li>
                            <li>Able to work with electrical tools and socket sets.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="adjunta-hoja p-3">
                    <a class="mb-3 d-block w-100 btn btn-blue postular-ahora" href="#">¡Postularte ahora!</a>
                    <p class="mb-0 text-black text-center"><strong>Categoría:</strong> Field Services</p>
                    <p class="text-black text-center"><strong>Horario:</strong> Tiempo completo</p>
                </div>
            </div>
        </div>
    </div>
</div>