<div class="trabaje mt-4 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'35px', width:'150px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="6" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="size20 text-blue1 font-weight-600">{{ vacante_data.title.rendered }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="horario">
                                <p class="text-right font-weight-500 text-black"><i class="far fa-clock"></i> {{ vacante_data.acf.fecha_de_publicacion }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Categoría:</strong> {{ vacante_data.acf.categoria_vacante }}</p>
                            <p><strong>Cargo:</strong> {{ vacante_data.acf.cargo_vacante }}</p>
                            <p><strong>Ubicación:</strong> {{ vacante_data.acf.ubicacion_vacante }}</p>
                            <p><strong>Horario:</strong> {{ vacante_data.acf.horario_vacante }}</p>
                            <p><strong>Salario aprox:</strong> {{ vacante_data.acf.salario_aproximado_vacante }}</p>
                            <p class="mt-5 mb-3 text-blue1"><strong>{{ vacante_data.acf.ubicacion_vacante }}</strong></p>
                            <p [innerHTML]="vacante_data.content.rendered"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="2" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader" class="adjunta-hoja p-3">
                    <a class="mb-3 d-block w-100 btn btn-blue postular-ahora" href="#">¡Postularte ahora!</a>
                    <p class="mb-0 text-black text-center"><strong>Categoría:</strong> {{ vacante_data.acf.categoria_vacante }}</p>
                    <p class="text-black text-center"><strong>Horario:</strong> {{ vacante_data.acf.horario_vacante }}</p>
                </div>
            </div>
        </div>
    </div>
</div>