<div class="container">
    <div class="row my-5 scroll-interno" *ngIf="filtro; else noFiltro">
        
        <ng-container *ngFor="let busqueda of data |filter:filtro">    
            <div class="card-job col-lg-12 p-3" *ngIf="busqueda != 0; else nofiltro2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>{{ busqueda.title }}</h3>
                        </div>
                        <div class="col-lg-12">
                            <p *ngIf="busqueda.type === 'vacantes'" class="text-truncate">{{ busqueda.content }}</p>
                            <p *ngIf="busqueda.type === 'capacitaciones'" class="text-truncate"
                                [innerHTML]="busqueda.content"></p>
                            <p *ngIf="busqueda.type === 'proyectos'" class="text-truncate">{{ busqueda.content }}</p>
                            <p *ngIf="busqueda.type === 'publicaciones'" class="text-truncate">{{ busqueda.content }}</p>
                            <p *ngIf="busqueda.type === 'representaciones'" [innerHTML]="busqueda.content"></p>
                            <p *ngIf="busqueda.type === 'servicios'" [innerHTML]="busqueda.content"></p>
                            <div class="form-group d-flex justify-content-between align-items-center mt-3">
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../vacantes', busqueda.slug]" *ngIf="busqueda.type === 'vacantes'" type="button">
                                    Ver más
                                </button>
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../capacitaciones', busqueda.slug]" *ngIf="busqueda.type === 'capacitaciones'" type="button">
                                    Ver más
                                </button>
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../proyectos']" *ngIf="busqueda.type === 'proyectos'" type="button">
                                    Ver más
                                </button>
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../publicaciones', busqueda.slug]" *ngIf="busqueda.type === 'publicaciones'" type="button">
                                    Ver más
                                </button>
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../'+busqueda.slug]" *ngIf="busqueda.type === 'representaciones'" type="button">
                                    Ver más
                                </button>
                                <button class="btn btn-blue d-block font-weight-light size13 pt-2 pb-2" [routerLink]="['../'+busqueda.slug]" *ngIf="busqueda.type === 'servicios'" type="button">
                                    Ver más
                                </button>

                                <p class="text-muted text-capitalize" style="font-style: italic;">{{ busqueda.type
                                    }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #nofiltro2>
                <div class="container my-3">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                            <img src="./assets/images/sin_novedad.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                            <h3 class="font-weight-bold text-capitalize text-lightgray">Sin Busquedas relacionadas</h3>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
    <ng-template #noFiltro>
        <div class="container my-3">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                    <img src="./assets/images/sin_novedad.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                    <h3 class="font-weight-bold text-capitalize text-lightgray">Sin Busquedas relacionadas</h3>
                </div>
            </div>
        </div>
    </ng-template>
</div>