<div class="contactenos">
  <div
    class="bk-contactenos"
    style="
      background-image: url(assets/images/contactenos/background-contact.jpg);
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6 pt-150 pb-150">
          <ngx-skeleton-loader
            count="2"
            *ngIf="loader"
            animation="progress"
            [theme]="{ height: '40px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="3"
            *ngIf="loader"
            animation="progress"
            [theme]="{ height: '20px' }"
          ></ngx-skeleton-loader>
          <div *ngIf="!loader">
            <h3
              class="text-center roboto size15 text-white letter-spacing-0-32"
            >
              {{ seccion_1_data.texto_general }}
            </h3>
            <h2
              class="roboto size35 text-center font-weight-700 text-white letter-spacing-0-32"
            >
              {{ seccion_1_data.titulo_1 }}
            </h2>
            <div class="row mt-5">
              <ng-container *ngFor="let ciudad of ciudad_principal_data">
                <div class="col-md-4">
                  <div class="recuadroCiudadTopHeader">
                    <p
                      class="dropdown-header-ciudad text-white font-weight-700"
                    >
                      {{ ciudad.titulo_ciudad }}
                    </p>
                    <p
                      class="textoCiudad p-0 text-white"
                      [innerHTML]="ciudad.texto_ciudad"
                    ></p>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="col-formulario pt-2 pl-5 pr-5 pb-2">
            <h3 class="size19 text-blue2 font-weight-700 text-center pb-1">
              Contact Us
            </h3>
            <form
              (ngSubmit)="enviarForm_usa(formularioContacto)"
              #formularioContacto="ngForm"
              id="formulario-contact"
              class="contactenos pb-4"
            >
              <div class="form-row form-group pt-2 pb-2 mb-0">
                <label
                  class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500"
                  for="servicio"
                  >Service</label
                >
                <select
                  class="form-control tipo-servicio"
                  id="selectServicio"
                  name="servicio"
                  #servicio="ngModel"
                  [(ngModel)]="user_usa.servicio"
                  required
                >
                  <option value="" disabled>Choose an option</option>
                  <option>Power System Studies</option>
                  <option>Protection and control</option>
                  <option>Smart Grids</option>
                  <option>Field Services</option>
                </select>
                <small
                  style="color: #c30000"
                  *ngIf="
                    servicio.invalid && (servicio.dirty || servicio.touched)
                  "
                >
                  Service is a required field.
                </small>
              </div>
              <div class="form-row pt-2 pb-2">
                <label
                  class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500"
                  for="nombre"
                  >Full name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  #nombre="ngModel"
                  [(ngModel)]="user_usa.nombre"
                  required
                />
                <small
                  style="color: #c30000"
                  *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                >
                  Full name is a required field.
                </small>
              </div>

              <div class="form-row pt-2 pb-2">
                <label
                  class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500"
                  for="email"
                  >Email</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  #email="ngModel"
                  [(ngModel)]="user_usa.email"
                  required
                />
                <small
                  style="color: #c30000"
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                >
                  Email is a required field.
                </small>
              </div>

              <div class="form-row pt-2 pb-2">
                <label
                  class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500"
                  for="empresa"
                  >Company</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="empresa_user"
                  name="empresa"
                  #empresa="ngModel"
                  [(ngModel)]="user_usa.empresa"
                  required
                />
                <small
                  style="color: #c30000"
                  *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)"
                >
                  Company is a required field.
                </small>
              </div>
              <div class="form-row pt-2 pb-2">
                <label
                  class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500"
                  for="asunto"
                  >Subject</label
                >
                <textarea
                  class="form-control"
                  id="asunto"
                  name="asunto"
                  #asunto="ngModel"
                  [(ngModel)]="user_usa.asunto"
                  required
                ></textarea>
                <small
                  style="color: #c30000"
                  *ngIf="asunto.invalid && (asunto.dirty || asunto.touched)"
                >
                  Subject is a required field.
                </small>
              </div>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="acepto"
                  name="acepto"
                  #acepto="ngModel"
                  [(ngModel)]="user_usa.acepto"
                  required
                />
                <label class="form-check-label" for="acepto"
                  >I have read and accept the
                  <strong
                    ><a [routerLink]="['../data-protection-policy']"
                      >Data Protection Policy</a
                    ></strong
                  ></label
                >
                <small
                  style="color: #c30000"
                  *ngIf="acepto.invalid && (acepto.dirty || acepto.touched)"
                >
                  You must accept the conditions.
                </small>
              </div>

              <input
                type="submit"
                class="btn btn-primary btn-blue mt-4 w-40 mx-auto d-block"
                name="enviar"
                value="Send"
                [disabled]="formularioContacto.invalid"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container info-paises">
    <div class="row mt-200 mb-5">
      <ng-container *ngFor="let pais of pais_info_data">
        <div class="col-sm-3">
          <div class="pais">
            <img
              *ngIf="pais.bandera"
              class="banderaPais"
              src="{{ pais.bandera }}"
              alt="Colombia"
            />
            <h3 class="textoPais">{{ pais.titulo_pais }}</h3>
          </div>
          <ul>
            <li>
              <a class="linkPais" href="{{ pais.link_sitio_web.url }}"
                >{{ pais.link_sitio_web.texto }}
                <i class="fas fa-long-arrow-alt-right"></i
              ></a>
            </li>
            <ng-container *ngFor="let infocity of pais.info_ciudad">
              <div class="recuadroCiudadTopHeader primeraCiudad">
                <li class="dropdown-header-ciudad">
                  {{ infocity.titulo_ciudad }}
                </li>
                <p class="textoCiudad" [innerHTML]="infocity.texto_ciudad"></p>
              </div>
            </ng-container>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>
</div>
