<!-- Contenedor Lateral Izquierdo -->
<div class="overviwe"></div>
<div class="menuverticalUsa" style="z-index: 1022;" id="menuverticalUsa">
    <div class="headerVertical"><input type="button" class="cerrarModal" value="×"></div>
    <div class="bodyVertical">
        <div class="solucionesVertical">
            <h3>Solutions</h3>
            <ul class="menuSoluciones">
                <li><a class="itemMenuSolucionesPadre con-submenu" href="#">Services</a>
                    <ul class="menuSolucionesItemServicios">
                        <li><a class="itemMenuSolucionesVertical" (click)="cerrarMenuVertical()" [routerLink]="['power-system-studies']">Power System Studies</a></li>
                        <li><a class="itemMenuSolucionesVertical" (click)="cerrarMenuVertical()" [routerLink]="['protection-and-control']">Protection and Control Design Engeeniering</a></li>
                        <li><a class="itemMenuSolucionesVertical" (click)="cerrarMenuVertical()" [routerLink]="['field-services']">Field Services</a></li>
                        <li><a class="itemMenuSolucionesVertical" (click)="cerrarMenuVertical()" [routerLink]="['smart-grids-usa']">Smart Grids</a></li>
                        <li><a class="itemMenuSolucionesVertical" (click)="cerrarMenuVertical()" [routerLink]="['']">Specialized Courses</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuSolucionesPadre con-submenu" href="#">Software</a>
                    <ul class="menuSolucionesItemRepresentaciones">
                        <li><a class="itemMenuSolucionesVertical" (click)="cerrarMenuVertical()" [routerLink]="['neplan-usa']">NEPLAN</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuSolucionesPadre" (click)="cerrarMenuVertical()" [routerLink]="['proyects']">Projects</a></li>
            </ul>
        </div>
        <!--
        <div class="compraEnLineaVertical">
            <h3>Compra en línea</h3>
            <ul>
                <li><a class="itemMenuCompra"  routerLink="productos">Productos</a></li>
            </ul>
        </div>
        -->
        <div class="descubreVertical">
            <h3>Discovery</h3>
            <ul class="menuDescubre">
                <li><a class="itemMenuDescubrePadre" (click)="cerrarMenuVertical()" [routerLink]="['trainings']">Trainings</a>
                    <!--<ul class="menuDescubreItemCapacita">
                        <li><a class="itemMenuDescubreVertical" href="#">Pruebas, automatización y control</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Diseño e ingeniería</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Estudios de sistemas eléctricos</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Servicios energéticos</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Smart grids</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Interventoría y asesorías</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Planeación de proyectos</a></li>
                    </ul>-->
                </li>
                <li><a class="itemMenuDescubrePadre" (click)="cerrarMenuVertical()" [routerLink]="['insights']">Insights</a></li>
            </ul>
        </div>
        <div class="corporacionVertical">
            <h3>Corporation</h3>
            <ul class="menuCorporacion">
                <li><a class="itemMenuCorporacionPadre con-submenu" href="#">About Us</a>
                    <ul class="menuCorporacionItemNosotros pb-2">
                        <li><a class="itemMenuCorporacionVertical" (click)="cerrarMenuVertical()" [routerLink]="['corporate-thinking']">Corporate thinking</a></li>
                        <li><a class="itemMenuCorporacionVertical" (click)="cerrarMenuVertical()" [routerLink]="['integral-management-policies']">Integral management policies</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuCorporacionPadre" (click)="cerrarMenuVertical()" [routerLink]="['work-with-us']">Join Our Team</a></li>
                <li class="pb-3"><a class="itemMenuCorporacionPadre con-submenu" href="#">Sedes</a>
                    <ul class="menuCorporacionItemSedes" style="list-style: none;padding-inline-start: 0;">
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/colombia.png" alt="Colombia">
                                <h4 class="textoPais pt-0 font-weight-600 text-black">Colombia</h4>
                            </div>
                            <a class="linkPais" (click)="cerrarMenuVertical()" [routerLink]="['/colombia']">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/usa.png" alt="Estados Unidos">
                                <h4 class="textoPais pt-0 font-weight-600 text-black">Estados Unidos</h4>
                            </div>
                            <a class="linkPais" (click)="cerrarMenuVertical()" [routerLink]="['/usa']">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/mexico.png" alt="México">
                                <h4 class="textoPais pt-0 font-weight-600 text-black">México</h4>
                            </div>
                            <a class="linkPais" (click)="cerrarMenuVertical()" [routerLink]="['/mexico']">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/chile.png" alt="Chile">
                                <h3 class="textoPais pt-0 font-weight-600 text-black">Chile</h3>
                            </div>
                            <a class="linkPais" (click)="cerrarMenuVertical()" [routerLink]="['/chile']">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footerVertical">
        <a class="botonContactenosVertical" (click)="cerrarMenuVertical()" [routerLink]="['contact']">Contact us</a>
        <!--<a class="botonInicioSesion" href="#">Iniciar Sesión/Registrarse</a>-->
    </div>
</div>
<!--Aquí cierra Contenedor Lateral Izquierdo-->
