<div class="container-fluid position-fixed cerrar-formulario fijar-formulario" id="neplan-cotizador">
    <div class="row sticky-top bg-grisclaro padding-1-5">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12">
            <h4 class="text-uppercase text-center text-blue"><span class="flechita" (click)="volverNeplan()"><i class="fa fa-arrow-left mr-3 "></i></span> añadir al cotizador</h4>
        </div>
    </div>
    <div class="row px-3 mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="text-blue">{{ titulo }}</h2>
            <h3 class="text-blue">{{ subTitulo }}</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 my-4 overflow-y">
            <p class="font-weight-bold text-uppercase">módulo estándar</p>  
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Flujo de carga</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Simulación en el tiempo con perfiles de carga</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Análisis de cortocircuito</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Análisis de armónicos</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Arranque de motores</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Reducción de redes</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Análisis de sistemas de puesta a tierra (XGSLab)</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </li>
              </ul>

              <p class="font-weight-bold text-uppercase mt-3">módulo de estabilidad</p>
              <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Estabilidad de voltaje</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Simulador dinámico - RMS / EMT</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Estabilidad de pequeña señal</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
              </ul>

              <p class="font-weight-bold text-uppercase mt-3">módulos avanzados</p>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Análisis de confiabilidad</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Mantenimiento centrado de la confiabilidad</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Gestión de Activos (Capex - Opex)</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Gestión estratégica integral de activos</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Gestión de redes inteligentes</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Optimización de reguladores de tensión e interruptores</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
              </ul>
              <p class="font-weight-bold text-uppercase mt-3">módulos de protección</p>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Protección de sobrecorriente</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Protección de distancia</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Evaluación de protecciones</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Gestión de dispositivos de protección</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Ubicación de fallas</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Arco eléctrico</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Saturación de transformadores de corriente</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Análisis térmico de cables</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
              </ul>
              <p class="font-weight-bold text-uppercase mt-3">módulos de Optimización de seguridad</p>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Flujo de carga óptimo</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Contingencias N-1 y N-2</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Análisis de la capacidad de transferencia disponible (ATC)</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Suicheo óptimo (Puntos óptimo de separación)</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Ubicación óptima de capacitores</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Estrategia óptima de restauración de servicio</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Análisis de inversión</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Refuerzo de alimentadores</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
              </ul>
              <p class="font-weight-bold text-uppercase mt-3">módulos de actualidad</p>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Movilidad eléctrica</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Generación distribuida</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Optimización de infraestructura</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Cumplimiento del código de redes</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                  </li>
              </ul>
        </div>
    </div>
    <div class="row justify-content-between bg-grisclaro p-3">
        <button type="button" class="btn btn-azulOscuro btn-formulario">Enviar solicitud</button>
        <button type="button" class="btn btn-outline-azulOscuro btn-formulario">Volver al listado</button>
    </div>
</div>