<!-- Contenedor Lateral Izquierdo -->
<div class="overviwe"></div>
<div class="menuvertical" style="z-index: 1022;" id="menuvertical">
    <div class="headerVertical"><input type="button" class="cerrarModal" value="×"></div>
    <div class="bodyVertical">
        <div class="solucionesVertical">
            <h3>Soluciones</h3>
            <ul class="menuSoluciones">
                <li><a class="itemMenuSolucionesPadre con-submenu" href="#">Servicios</a>
                    <ul class="menuSolucionesItemServicios">
                        <ng-container *ngFor="let service of services.child_items">
                            <li><a class="itemMenuSolucionesVertical" (click)="cerrarMenuVertical()" [routerLink]="[service.slug]">{{ service.title }}</a></li>
                        </ng-container>
                    </ul>
                </li>
                <li><a class="itemMenuSolucionesPadre con-submenu" href="#">Representaciones</a>
                    <ul class="menuSolucionesItemRepresentaciones">
                        <ng-container *ngFor="let representation of representations.child_items">
                            <li><a class="itemMenuSolucionesVertical" (click)="cerrarMenuVertical()" [routerLink]="[representation.slug]">{{ representation.title }}</a></li>
                        </ng-container>
                    </ul>
                </li>
                <li><a class="itemMenuSolucionesPadre" (click)="cerrarMenuVertical()" [routerLink]="['proyectos']">Proyectos</a></li>
            </ul>
        </div>
        <div class="compraEnLineaVertical">
            <h3>Cotiza en línea</h3>
            <ul>
                <li><a class="itemMenuCompra" (click)="cerrarMenuVertical()" routerLink="productos">Productos</a></li>
            </ul>
        </div>
        <div class="descubreVertical">
            <h3>Descubre</h3>
            <ul class="menuDescubre">
                <li><a class="itemMenuDescubrePadre" (click)="cerrarMenuVertical()" routerLink="capacitaciones">Capacitaciones</a></li>
                <li><a class="itemMenuDescubrePadre" (click)="cerrarMenuVertical()" [routerLink]="['publicaciones']">Publicaciones</a></li>
            </ul>
        </div>
        <div class="corporacionVertical">
            <h3>Corporación</h3>
            <ul class="menuCorporacion">
                <li><a class="itemMenuCorporacionPadre con-submenu" href="#">Nosotros</a>
                    <ul class="menuCorporacionItemNosotros pb-2">
                        <li><a class="itemMenuCorporacionVertical" (click)="cerrarMenuVertical()" [routerLink]="['pensamiento-corporativo']">Pensamiento Corporativo</a></li>
                        <li><a class="itemMenuCorporacionVertical" (click)="cerrarMenuVertical()" [routerLink]="['politica-gestion-integral']">Política de Gestión integral</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuCorporacionPadre" (click)="cerrarMenuVertical()" [routerLink]="['acuerdos-internacionales']">Acuerdos Internacionales</a></li>
                <li><a class="itemMenuCorporacionPadre" (click)="cerrarMenuVertical()" href="https://fundacionjosegers.org" target="_blank">Fundación</a></li>
                <li><a class="itemMenuCorporacionPadre" (click)="cerrarMenuVertical()" [routerLink]="['trabaje-con-nosotros']">Trabaje con Nosotros</a></li>
                <li class="pb-3"><a class="itemMenuCorporacionPadre con-submenu" href="#">Sedes</a>
                    <ul class="menuCorporacionItemSedes" style="list-style: none;padding-inline-start: 0;">
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/colombia.png" alt="Colombia">
                                <h4 class="textoPais pt-0 font-weight-600 text-black">Colombia</h4>
                            </div>
                            <a class="linkPais" (click)="cerrarMenuVertical()" [routerLink]="['/colombia']">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/usa.png" alt="Estados Unidos">
                                <h4 class="textoPais pt-0 font-weight-600 text-black">Estados Unidos</h4>
                            </div>
                            <a class="linkPais" (click)="cerrarMenuVertical()" [routerLink]="['/usa']">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/mexico.png" alt="México">
                                <h4 class="textoPais pt-0 font-weight-600 text-black">México</h4>
                            </div>
                            <a class="linkPais" (click)="cerrarMenuVertical()" [routerLink]="['/mexico']">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/chile.png" alt="Chile">
                                <h3 class="textoPais pt-0 font-weight-600 text-black">Chile</h3>
                            </div>
                            <a class="linkPais" (click)="cerrarMenuVertical()" [routerLink]="['/chile']">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footerVertical">
        <a class="botonContactenosVertical" (click)="cerrarMenuVertical()" routerLink="contactenos">Contáctenos</a>
        <!--<a class="botonInicioSesion" href="#">Iniciar Sesión/Registrarse</a>-->
    </div>
</div>
<!--Aquí cierra Contenedor Lateral Izquierdo-->
