<div class="bannerInterna" style="background:url(assets/images/carousel-principal/banner_principal.jpg)">
    <p class="text-center pt-5 pb-5">
        <!-- <img src="assets/images/marcas/1neplan_marca.png" alt="" class="img-fluid"> -->
    </p>
</div>
<div class="container tabsCustom">
    <div class="row">
        <div class="tabs-marcas tabs-neplan-page mt-5 mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-3 align-items-center">
                        <img src="assets/images/representaciones/ndb_logo.png" alt="" class="img-fluid box-shadow">
                    </div>
                    <div class="col-sm-9 align-items-center">
                        <p class="m-0">
                            NDB Technologies es sinónimo de experiencia en el diseño y fabricación de equipos de prueba de instrumentos de medición para las redes eléctricas de todo el mundo. Su gama de soluciones permite aumentar la confiabilidad en las redes eléctricas y a su
                            vez garantizar la seguridad de los trabajadores. Es un referente en el campo del mantenimiento preventivo y la seguridad de las redes eléctricas a nivel mundial.
                        </p>
                    </div>
                    <div class="col mt-4">
                        <p>NDB Technologies ofrece cuatro líneas de productos, cada una con un alto grado de precisión y la garantía de resguardar la seguridad de sus trabajadores y de la red de suministro eléctrico en los campos de Identificación de Cables
                            y Fases, Detección de Descargas Parciales, efecto Corona y Arqueo, Medición de bajas resistencias y Equipos de prueba para el mantenimiento de subestaciones eléctricas.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mt-4 text-center text-blue1 font-weight-bold">Módulos</h4>
                    </div>
                </div>
                <div class="row tabsCustom mt-3">
                    <div class="col-md-4 mb-4 pr-0">
                        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">
                                    <h5 class="size14 m-0">Subestaciones - mantenimiento de equipos</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">
                                    <h5 class="size14 m-0">Detección de descargas parciales</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">
                                    <h5 class="size14 m-0">Microohmímetro y equipos de prueba</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item4-tab" data-toggle="tab" href="#item4" role="tab" aria-controls="item4" aria-selected="false">
                                    <h5 class="size14 m-0">Identificación de cables y fases</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 contenido-tabs">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
                                <ul class="line-height2-5">
                                    <li>ART-3D Relación de Transformación </li>
                                    <li>CTTx2 y CTTx5 Probadores de Transformadores de Corriente </li>
                                    <li>WRT-10 y WRT-10D Probadores de Resistencia en devanados </li>
                                    <li>LRM-10 Medidor de Bajas Resistencias para Aplicación de Subestaciones</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
                                <ul class="line-height2-5">
                                    <li>AE-150 Sistema de Detección de Descargas Parciales en Transformadores sumergidos en Aceite </li>
                                    <li>XDP II Sistema de Medición de Descargas Parciales Portátil </li>
                                    <li>PDS Escáner de Descargas Parciales </li>
                                    <li>ADD Sistema de Contacto para Detección de Descargas ParcialesPD-LT, medición de DP en terminal de cable con lecturas inalámbricas a distancia </li>
                                    <li>ULD-40 Detector Ultrasónico de Arqueo/Efecto Corona</li>

                                </ul>
                            </div>
                            <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
                                <ul class="line-height2-5">
                                    <li>DRM-10A Medición de Resistencias de Contacto</li>
                                    <li>DOC-2000 Probador de Transformadores de Distribución</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="item4" role="tabpanel" aria-labelledby="item4-tab">
                                <ul class="line-height2-5">
                                    <li>VCI-3 Sistema de Identificación de Cables y Fases Desenergizados </li>
                                    <li>LCI Sistema de Identificación para Cables en Línea viva en Baja y Alta Tensión </li>
                                    <li>SPI-II Sistema de Localización de Fases usando GPS Satelital </li>
                                    <li>PEC Unidad de Detección de Cables Energizados</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>