<!-- Contenedor Lateral Izquierdo -->
<div class="overviwe"></div>
<div class="menuvertical" id="menuvertical">
    <div class="headerVertical"><input type="button" class="cerrarModal" value="×"></div>
    <div class="bodyVertical">
        <div class="solucionesVertical">
            <h3>Soluciones</h3>
            <ul class="menuSoluciones">
                <li><a class="itemMenuSolucionesPadre con-submenu" href="#">Servicios</a>
                    <ul class="menuSolucionesItemServicios">
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['pruebas-automatizacion-y-control']">Pruebas, automatización y control</a></li>
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['diseno-ingenieria']">Diseño e ingeniería</a></li>
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['estudios-sistemas']">Estudios de sistemas eléctricos</a></li>
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['servicios-energeticos']">Servicios energéticos</a></li>
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['smart-grids']">Smart grids</a></li>
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['interventorias-asesorias']">Interventoría y asesorías</a></li>
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['planeacion-proyectos']">Planeación de proyectos</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuSolucionesPadre con-submenu" href="#">Representaciones</a>
                    <ul class="menuSolucionesItemRepresentaciones">
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['neplan']">NEPLAN</a></li>
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['dranetz']">DRANETZ</a></li>
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['xgslab']">XGSLAB</a></li>
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['beckwith-electronic']">BECKWITH ELECTRIC</a></li>
                        <li><a class="itemMenuSolucionesVertical" [routerLink]="['ndb']">NDB</a></li>
                        <li><a class="itemMenuSolucionesVertical" href="#">GMC</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuSolucionesPadre" [routerLink]="['proyectos']">Proyectos</a></li>
            </ul>
        </div>
        <div class="compraEnLineaVertical">
            <h3>Compra en línea</h3>
            <ul>
                <li><a class="itemMenuCompra"  routerLink="/productos">Productos</a></li>
            </ul>
        </div>
        <div class="descubreVertical">
            <h3>Descubre</h3>
            <ul class="menuDescubre">
                <li><a class="itemMenuDescubrePadre" href="#">Capacitaciones</a>
                    <!--<ul class="menuDescubreItemCapacita">
                        <li><a class="itemMenuDescubreVertical" href="#">Pruebas, automatización y control</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Diseño e ingeniería</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Estudios de sistemas eléctricos</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Servicios energéticos</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Smart grids</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Interventoría y asesorías</a></li>
                        <li><a class="itemMenuDescubreVertical" href="#">Planeación de proyectos</a></li>
                    </ul>-->
                </li>
                <li><a class="itemMenuDescubrePadre" [routerLink]="['publicaciones']">Publicaciones</a></li>
            </ul>
        </div>
        <div class="corporacionVertical">
            <h3>Corporación</h3>
            <ul class="menuCorporacion">
                <li><a class="itemMenuCorporacionPadre con-submenu" href="#">Nosotros</a>
                    <ul class="menuCorporacionItemNosotros pb-2">
                        <li><a class="itemMenuCorporacionVertical" [routerLink]="['pensamiento-corporativo']">Pensamiento Corporativo</a></li>
                        <li><a class="itemMenuCorporacionVertical" [routerLink]="['politica-gestion-integral']">Política de Gestión integral</a></li>
                    </ul>
                </li>
                <li><a class="itemMenuCorporacionPadre" [routerLink]="['acuerdos-internacionales']">Acuerdos Internacionales</a></li>
                <li><a class="itemMenuCorporacionPadre" [routerLink]="['trabaje-con-nosotros']">Trabaje con Nosotros</a></li>
                <li class="pb-3"><a class="itemMenuCorporacionPadre con-submenu" href="#">Sedes</a>
                    <ul class="menuCorporacionItemSedes" style="list-style: none;padding-inline-start: 0;">
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/colombia.png" alt="Colombia">
                                <h4 class="textoPais pt-0 font-weight-600 text-black">Colombia</h4>
                            </div>
                            <a class="linkPais" href="#">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/usa.png" alt="Estados Unidos">
                                <h4 class="textoPais pt-0 font-weight-600 text-black">Estados Unidos</h4>
                            </div>
                            <a class="linkPais" href="#">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/mexico.png" alt="México">
                                <h4 class="textoPais pt-0 font-weight-600 text-black">México</h4>
                            </div>
                            <a class="linkPais" href="#">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                        <li class="mt-3 mb-3">
                            <div class="pais">
                                <img class="banderaPais" src="assets/images/banderas/chile.png" alt="Chile">
                                <h3 class="textoPais pt-0 font-weight-600 text-black">Chile</h3>
                            </div>
                            <a class="linkPais" href="#">Visitar sitio web <i class="fas fa-long-arrow-alt-right"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footerVertical">
        <a class="botonContactenosVertical" href="/#/contactenos/">Contáctenos</a>
        <!--<a class="botonInicioSesion" href="#">Iniciar Sesión/Registrarse</a>-->
    </div>
</div>
<!--Aquí cierra Contenedor Lateral Izquierdo-->
