<div class="bannerInterna" style="background:url(assets/images/carousel-principal/banner_principal.jpg)">
    <p class="text-center pt-5 pb-5">
        <img src="assets/images/marcas/1neplan_marca.png" alt="" class="img-fluid">
    </p>
</div>
<div class="container tabsCustom">
    <div class="row">
        <div class="tabs-marcas tabs-neplan-page mt-5 mb-5">
            <div class="row">
                <div class="col-md-4 mb-4 pr-0">
                    <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link rounded-0 p-3 border-left active" id="neplan1-tab" data-toggle="tab" href="#neplan1" role="tab" aria-controls="neplan1" aria-selected="true">
                                <h5 class="size14">How to mitigate risks on the networks operation?</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded-0 p-3 border-left" id="neplan2-tab" data-toggle="tab" href="#neplan2" role="tab" aria-controls="neplan2" aria-selected="false">
                                <h5 class="size14">How could we coordinate the proteccions?</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded-0 p-3 border-left" id="neplan3-tab" data-toggle="tab" href="#neplan3" role="tab" aria-controls="neplan3" aria-selected="false">
                                <h5 class="size14">How to ensure minimal funcionality and keep cost at a minimum?</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded-0 p-3 border-left" id="neplan4-tab" data-toggle="tab" href="#neplan4" role="tab" aria-controls="neplan4" aria-selected="false">
                                <h5 class="size14">How to maximixe the utility of simulations in moderm networks?</h5>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 contenido-tabs">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="neplan1" role="tabpanel" aria-labelledby="neplan1-tab">
                            <p>La infraestructura eléctrica puede verse afectada por los estados operativos y la expansión de la red para condiciones de estado estacionario y transitorias. El software NEPLAN es la solución PSAT adecuada que ofrece los módulos
                                base en la interfaz gráfica más amigable. Es la primera herramienta de análisis de sistemas de potencia basada en un navegador y fuera de él en el mercado que utiliza una arquitectura de tipo cliente-servidor y está disponible
                                como solución en la nube, en la intranet o de escritorio.</p>
                            <p><b>Editor Gráfico</b></p>
                            <p>
                                NEPLAN maneja cualquier tipo de redes eléctricas de transmisión, distribución e industriales/de generación. El Software ofrece el más intuitivo Administrador de Datos, con un sistema orientado al multi-documento y multi-ventana. NEPLAN hace el manejo
                                de datos más fácil que nunca, ya que proporciona interfaces con programas externos que permite el intercambio de datos y gráficos con software de terceros.
                            </p>
                            <p>
                                NEPLAN ofrece la interfaz gráfica de usuario más eficiente y multilingüe que permite el diseño directo, la manipulación y la actualización de datos de toda una red, la edición de símbolos y la representación efectiva de las redes en diagramas y capas.
                                El Administrador de Gráficos muestra los resultados de la manera más completa.
                            </p>
                            <p><b>Flujo de Carga</b></p>
                            <p>
                                El cálculo del flujo de carga es el módulo de análisis más fundamental y tiene algoritmos apropiados para las redes de distribución, transmisión, generación e industriales. Se puede modelar cualquier tipo de sistema de energía eléctrica, como sistemas
                                trifásicos, bifásicos y monofásicos con conductor de neutro y tierra, sistemas de CA y CC, redes malladas y radiales, etc.
                            </p>
                            <p>Resultados</p>
                            <ul>
                                <li>Los elementos/nodos afectados son resaltados.</li>
                                <li>Los resultados de las tablas pueden ser ordenados y filtrados.</li>
                                <li>Variedad de opciones de visualización (grosor de las líneas, gamas de colores, gráficos circulares, etc.)</li>
                                <li>Comparación de resultados entre diferentes escenarios.</li>
                            </ul>
                            <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-50 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Download Load Flow <i class="fas fa-download width10"></i></a>
                            <p class="mt-4"><b>Cortocircuito</b></p>
                            <p>
                                Este módulo realiza análisis de cortocircuito en sistemas de CA y CC trifásicos, bifásicos y monofásicos, para fallas monofásicas, bifásicas (con y sin conexión a tierra) y trifásicas. Proporciona la opción de calcular fallas de línea o incluso tipos
                                de fallas definidos por el usuario como falla doble a tierra, falla entre dos niveles de voltaje, apertura de conductores, etc.
                            </p>
                            <p>Resultados</p>
                            <ul>
                                <li>>Principales resultados de cortocircuito (Corriente de cortocircuito simétrica inicial Ik" y potencia Sk", Corriente pico ip, Corriente de ruptura Ib, Relación R/X, Voltaje de falla Ule)</li>
                                <li>Cálculo de la corriente de cortocircuito mínima y máxima</li>
                                <li>Corrientes de ruptura térmicas y asimétricas, más la componente de DC</li>
                                <li>Cálculo del tiempo de disparo del relé para la protección de sobrecorriente y distancia</li>
                                <li>Contribución de los variadores de frecuencia ajustables y de los convertidores estáticos a las corrientes de cortocircuito</li>
                                <li>Cálculo del flujo de fallas (corrientes y voltajes en toda la red) para una sola ubicación de falla</li>
                                <li>Los equipos sobrecargados (transformador de corriente, transformador de voltaje, interruptor, etc.) son resaltados</li>
                                <li>Se dispone de valores de fase así como de las componentes simétricas para las corrientes de cortocircuito y las impedancias</li>
                                <li>Dirección de la corriente de falla</li>
                            </ul>
                            <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-50 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Download short circuit <i class="fas fa-download width10"></i></a>
                            <p class="mt-4"><b>Simulación Dinámica (RMS/EMT)</b></p>
                            <p>
                                El módulo de análisis de estabilidad RMS es una de las herramientas más avanzadas de simulaciones dinámicas del mercado y permite simular redes y eventos simétricos y asimétricos.
                            </p>
                            <p><b>Aplicaciones típicas</b></p>
                            <ul>
                                <li>Estudios de interconexión de redes de energía renovable y verificación del cumplimiento del código de red</li>
                                <li>Dinámica de máquinas y simulaciones de arranque</li>
                                <li>Estabilidad del ángulo del rotor con varios tipos diferentes de reguladores diseño y regulación de HVDC, FACTS y SVC</li>
                                <li>Esquemas de protección y desprendimiento de cargas</li>
                                <li>Control de generación automática (AGC)</li>
                                <li>Sintonización del PSS con análisis de valor propio y sensibilidad</li>
                                <li>Controladores de red de área amplia</li>
                            </ul>
                            <p>
                                El módulo de simulación EMT permite realizar la simulación de transitorios electromagnéticos en el marco de referencia ABC (sistema multifásico), en el que las magnitudes del modelo eléctrico se describen por sus valores instantáneos.
                            </p>
                            <p><b>Aplicaciones típicas</b></p>
                            <ul>
                                <li>Sobretensiones transitorias</li>
                                <li>Falla a tierra</li>
                                <li>Energización de transformadores/capacitores/filtros (corriente inrush)</li>
                                <li>Ferroresonancia</li>
                                <li>Resonancia subsíncrona</li>
                            </ul>
                            <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-50 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Download Dynamic <i class="fas fa-download width10"></i></a>
                        </div>
                        <div class="tab-pane fade" id="neplan2" role="tabpanel" aria-labelledby="neplan2-tab">
                            <p>NEPLAN es la solución más poderosa para la evaluación de protecciones.</p>
                            <p>Algunas ventajas:</p>
                            <ul>
                                <li>Simulación simultánea de todos los tipos de fallas posibles en barras y líneas</li>
                                <li>La distancia de barrido para las fallas en líneas es definida por el usuario</li>
                                <li>Tiempo mínimo de coordinación definido por el usuario entre dos protecciones</li>
                                <li>Todos los escenarios de fallas con relés no selectivos o fallas que no se despejan se reportan</li>
                                <li>Visualización de la ruta de la falla en un diagrama unifilar</li>
                            </ul>
                            <p>Módulos en NEPLAN para la coordinación de protecciones:</p>
                            <ul class="mb-4">
                                <li>Protección de distancia</li>
                                <li>Protección contra sobrecorrientes</li>
                                <li>Sistema de gestión de datos de protección (PDMS)</li>
                                <li>Búsqueda de fallas</li>
                                <li>Características Avanzadas (modelación de relés adicionales como de frecuencia, diferencial, deslizamiento de polos, entre otros, para la simulación dinámica)</li>
                            </ul>
                            <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-50 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Download Overcurrent <i class="fas fa-download width10"></i></a>
                            <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-50 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Download Protection Assetsment <i class="fas fa-download width10"></i></a>
                        </div>
                        <div class="tab-pane fade" id="neplan3" role="tabpanel" aria-labelledby="neplan3-tab">
                            <p>La Herramienta de Gestión de Activos de NEPLAN responde a las preguntas "¿qué pasa si...?". Esta herramienta ofrece la máxima flexibilidad en la modelización de cualquier sistema, permitiendo a los encargados de la gestión
                                de activos evaluar cada activo individualmente y definir una estrategia de activos a medio y largo plazo con el fin de optimizar la planificación de la inversión y el mantenimiento, así como la confiabilidad del suministro
                                de energía y mucho más.
                            </p>
                            <ul>
                                <li>Gestión de activos operativos</li>
                                <li>Gestión estrátegica de activos</li>
                                <li>Gestión de datos</li>
                            </ul>
                            <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-50 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Download asset Management <i class="fas fa-download width10"></i></a>
                        </div>
                        <div class="tab-pane fade" id="neplan4" role="tabpanel" aria-labelledby="neplan4-tab">
                            <p>Las tecnologías de nuevos sistemas de generación han permitido que la infraestructura eléctrica convencional cambie su forma de funcionamiento. Por ejemplo, la generación distribuida basada en energías renovables ofrece algunos
                                beneficios en los nuevos modelos de mercado, la resiliencia y la conservación del medio ambiente. Sin embargo, si no se controla la aplicación de estos sistemas, las redes tendrán problemas operativos. El funcionamiento
                                de los recursos renovables (incertidumbre operativa), los esquemas de almacenamiento y la movilidad de carga (vehículos eléctricos) provocan sobretensiones y flujos bidireccionales en las redes, por lo que la automatización
                                de las redes es demasiado importante para resolver estas situaciones.</p>
                            <p><b>¿Cómo podríamos automatizar las redes?</b></p>
                            <p>
                                La computación en nube es una de las técnicas más poderosas para aplicaciones de redes inteligentes y nuevas soluciones para la operación de redes. Permite un acceso a los recursos computacionales (almacenamiento, servidores y aplicaciones) de forma inmediata
                                con un mínimo esfuerzo y sin interacción con el proveedor. No es necesario utilizar aplicaciones de escritorio. Las soluciones de ingeniería en todo el mundo presentan la computación en la nube como un componente fundamental
                                para la implementación de esquemas de automatización, ya que sería posible establecer conexiones directas entre las tecnologías digitales (como los dispositivos inteligentes de medición) con la digitalización de la red.
                                Para diferentes empresas y utilidades, la computación en nube permite implementar soluciones para evitar los riesgos que implican los esquemas de digitalización y automatización de redes.
                            </p>
                            <p> Algunas aplicaciones con Cloud Computing para redes modernas:</p>
                            <div class="row d-flex">
                                <div class="col-sm-6">
                                    <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-100 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Download Cloud Solution Flow <i class="fas fa-download width10"></i></a>
                                </div>
                            </div>
                            <p class="mt-4">Temas de simulación moderna con NEPLAN</p>
                            <div class="row d-flex">
                                <div class="col-sm-6">
                                    <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-100 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Dispersed Generation <i class="fas fa-download width10"></i></a>
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-100 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Optimization Infrastructure <i class="fas fa-download width10"></i></a>
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-sm-6">
                                    <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-100 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Target Grid Planning <i class="fas fa-download width10"></i></a>
                                </div>
                                <div class="col-sm-6">
                                    <a class="btn border-primary rounded pl-5 mt-2 mb-2 w-100 text-blue1 btn-outline d-flex justify-content-between align-items-center" href="#">Grid Code Compliance <i class="fas fa-download width10"></i></a>
                                </div>
                            </div>
                            <p>
                                La siguiente lista contiene la mayoría de los módulos de NEPLAN, por favor, consulte los módulos de los que le gustaría tener más información y programe una cita con nuestro especialista:
                            </p>
                            <p class="mt-4"><b>Módulos estándar</b></p>
                            <ul>
                                <li>Flujo de carga</li>
                                <li>Simulación en el tiempo de perfiles de carga</li>
                                <li>Análisis de cortocircuito</li>
                                <li>Análisis de armónicos</li>
                                <li>Arranque de motores</li>
                                <li>Reducción de redes</li>
                                <li>Análisis del sistemas de puesta a tierra (XGSLab)</li>
                            </ul>
                            <p class="mt-4"><b>Módulos de estabilidad</b></p>
                            <ul>
                                <li>Estabilidad de voltaje</li>
                                <li>Simulador dinámico - RMS / EMT</li>
                                <li>Estabilidad de pequeña señal</li>
                            </ul>
                            <p class="mt-4"><b>Módulos avanzados</b></p>
                            <ul>
                                <li>Análisis de confiabilidad</li>
                                <li>Mantenimiento centrado en la confiabilidad (RCM)</li>
                                <li>Gestión de activos (Capex - Opex)</li>
                                <li>Gestión estratégica integral de activos</li>
                                <li>Gestión de Redes Inteligentes</li>
                                <li>Algoritmos de optimización para reguladores de tensión e interruptores</li>
                            </ul>
                            <p class="mt-4"><b>Módulos de protección</b></p>
                            <ul>
                                <li>Protección contra sobrecorrientes (Análisis de Selectividad)</li>
                                <li>Protección de distancia</li>
                                <li>Búsqueda de fallas</li>
                                <li>Arco eléctrico</li>
                                <li>Saturación de transformadores de corriente</li>
                                <li>Análisis térmico del cable</li>
                            </ul>
                            <p class="mt-4"><b>Módulos de optimización y seguridad</b></p>
                            <ul>
                                <li>Flujo de carga óptimo</li>
                                <li>Contingencias N-1 y N-2</li>
                                <li>Análisis de la capacidad de transferencia disponible (ATC)</li>
                                <li>Red de distribución óptima</li>
                                <li>Optimización de conmutación (Puntos de separación óptimos)</li>
                                <li>Ubicación óptima de capacitadores</li>
                                <li>Estrategia óptima de restauración de la red</li>
                                <li>Análisis de inversión</li>
                                <li>Refuerzo del alimentador</li>
                            </ul>
                            <p class="mt-4"><b>Temas de interés</b></p>
                            <ul>
                                <li>Movilidad eléctrica</li>
                                <li>Generación distribuida</li>
                                <li>Evaluación de protecciones</li>
                                <li>Administración de dispositivos de protección</li>
                                <li>Planificación de objetivos para redes</li>
                                <li>Optimización de infraestructuras</li>
                                <li>Cumplimiento del código de red</li>
                            </ul>
                            <p class="mt-4"><b>NEPLAN como herramienta de investigación</b></p>
                            <ul>
                                <li>Respuesta a la demanda</li>
                                <li>Precios dinámicos</li>
                                <li>Sistemas de gestión de energía</li>
                                <li>Medición inteligente</li>
                                <li>Sistemas de alerta temprana</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>