<div class="politica-gestion">
    <div class="container">
        <div class="row pb-5" style="background-image: url(assets/images/nosotros/points.png);background-repeat: no-repeat;background-position: top right;">
            <div class="col-sm-6 pt-5">
                <h4 class="mb-4 text-blue1 font-weight-bold size22">{{ seccion_1_data.titulo }}</h4>
                <p [innerHTML]="seccion_1_data.texto_general"></p>
            </div>
            <div class="col-sm-6 pt-5">
                <img *ngIf="seccion_1_data.imagen" class="img-fluid mx-auto d-block mb-3 mt-2" src="{{ seccion_1_data.imagen }}" alt="Políticas">
            </div>
        </div>
    </div>
    <div class="politicas-gers bg-gray-light pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="mb-4 text-blue1 font-weight-bold size22">{{ seccion_2_data.titulo }}</h4>
                    <p [innerHTML]="seccion_2_data.texto_general"></p>
                    <p *ngIf="seccion_2_data.texto_final" class="text-blue1 font-weight-300">{{seccion_2_data.texto_final}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
