<div class="trabaje mt-3 mb-5 d-flex" id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ubicación</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categoría</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categoría</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="mt-3">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'35px', width:'150px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="2" *ngIf="loader" animation="progress" [theme]="{ height:'20px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="3" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>    
                </div>
                <ng-container *ngFor="let vacante of vacantes_data">
                    <div *ngIf="!loader" class="card-job mt-3 pt-3">
                        <a (click)="verVacantes(vacante.slug)">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="size20 text-blue1 font-weight-600">{{ vacante.title.rendered }}</h3>
                                </div>
                                <div class="col-sm-6">
                                    <div class="horario">
                                        <p class="text-right font-weight-500 text-black"><i class="far fa-clock"></i> {{ vacante.acf.fecha_de_publicacion }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="mb-0 text-black"><strong>Categoría:</strong> {{ vacante.acf.categoria_vacante }}</p>
                                    <p class="text-black"><strong>Horario:</strong> {{ vacante.acf.horario_vacante }}</p>
                                    <p class="text-black"><strong>{{ vacante.acf.ubicacion_vacante }}</strong></p>
                                    <p class="text-black">{{ vacante.acf.extracto_vacante }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </ng-container>
            </div>
            <div class="col-sm-3">
                <div class="adjunta-hoja p-3">
                    <p class="font-weight-500 text-blue1 text-center">¡Adjunta tu hoja de vida para proximas oportunidades!</p>
                    <button class="d-block w-100 btn btn-blue abrir-curriculum" id="enviar-curriculum" (click)="enviaCurriculum()">Enviar hoja de vida</button>
                    <!--<a class="d-block w-100 btn btn-blue abrir-curriculum" id="enviar-curriculum" href="#">Enviar hoja de vida</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading size23 text-blue1 font-weight-600"><button id="btnCerrarTrabajemos" (click)="cierraTrabajemos()">x</button> ENVIAR CURRICULUM</div>
        <div class="bodyTrabajemos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form  (ngSubmit)="formTrabajeNosotros(formularioTrabajemos)" #formularioTrabajemos="ngForm" id="formTrabajemos" class="form-trabajemos p-3 w-100">
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-400" for="nombres">Nombres</label>
                                <input type="text" class="form-control" id="nombres" name="nombres" #nombres="ngModel" [(ngModel)]="usuario.nombres" required>
                                <small style="color:#c30000;" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                                    Nombres es un campo requerido.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-400" for="apellidos">Apellidos</label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" required>
                                <small style="color:#c30000;" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                                    Apellidos es un campo requerido.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="text-gray-dark letter-spacing0-4 line-height17 size14 font-weight-400">Correo eletrónico</label>
                                <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="usuario.email" email="true" required>
                                <small style="color:#fff" *ngIf="email.invalid && (email.dirty || email.touched)">
                                    Ingrese un correo electrónico válido.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="telefono">Teléfono</label>
                                <input type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="usuario.telefono" pattern="^\d+$" required>
                                <small style="color:#c30000;" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                    Ingrese un teléfono válido.
                                </small>
                            </div>
                            <div class="form-group pt-2 pb-2 mb-0">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="ubicacion">Ubicación</label>
                                <select class="form-control" id="ubicacion" name="ubicacion" #ubicacion="ngModel" [(ngModel)]="usuario.ubicacion" required>
                                    <option value="" disabled>Elija una opción</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Estados Unidos">Estados Unidos</option>
                                    <option value="Alemania">Alemania</option>
                                    <option value="Ecuador">Ecuador</option>
                                </select>
                                <small style="color:#c30000;" *ngIf="ubicacion.invalid && (ubicacion.dirty || ubicacion.touched)">
                                    Ubicacion es un campo requerido.
                                </small>
                            </div>
                            <div class="form-group pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="categoria">Categoría de la vacante</label>
                                <select class="form-control" id="categoria" name="categoria" #categoria="ngModel" [(ngModel)]="usuario.categoria" required>
                                    <option value="" disabled>Elija una opción</option>
                                    <option value="Ingeniería">Ingeniería</option>
                                    <option value="Jardinería">Jardinería</option>
                                    <option value="Cafetería">Cafetería</option>
                                </select>
                                <small style="color:#c30000;" *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)">
                                    Categoria es un campo requerido.
                                </small>
                            </div>
                            <div class="file-field big-2">
                                <div class="btn btn-cyan btn-lg float-left w-100">
                                  <span><i class="fas fa-cloud-upload-alt"></i> Adjuntar hoja de vida</span>
                                  <input type="file" required>
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text" placeholder="">
                                </div>
                                <label class="size15 text-gray-dark line-height18 text-justify">El archivo adjunto debe estar en formato <b>.PDF o .DOCX</b> y no debe pesar más de <b>1.5 mb</b></label>
                            </div>
                            <div class="form-check mt-5">
                                <input type="checkbox" class="form-check-input" id="acepto" name="acepto" #acepto="ngModel" [(ngModel)]="usuario.acepto" required>
                                <label class="form-check-label size15 text-gray-dark line-height18 text-justify" for="acepto">Autoriza a GERS para el tratamiento de los datos consignados en este formulario con fines únicamente de envío de información de nuestros productos y/o servicios.</label>
                                <small style="color:#c30000;" *ngIf="acepto.invalid && (acepto.dirty || acepto.touched)">
                                    Debe aceptar las condiciones.
                                </small>
                            </div>
                            <div class="footFormTrabajemos">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <input type="submit" class="enviar d-block float-left mt-2 mb-2" name="enviar" value="Enviar curriculum" [disabled]="formularioTrabajemos.invalid">
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <button id="btnCerrarTrabajemos" class="mt-2 mb-2 cancelar d-block" (click)="cierraTrabajemos()">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
