<div class="container tabsCustom">
    <div class="row">
        <div class="tabs-marcas tabs-diseno-page mt-5 mb-5">
            <div class="row">
                <div class="col-md-4 mb-4 pr-0">
                    <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link rounded-0 p-3 border-left active" id="vita-tab" data-toggle="tab" href="#vita" role="tab" aria-controls="vita" aria-selected="true">
                                <h5 class="size14 mb-0 mt-2">VITA CAPITAL</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded-0 p-3 border-left" id="proyectos-tab" data-toggle="tab" href="#proyectos" role="tab" aria-controls="proyectos" aria-selected="false">
                                <h5 class="size14 mb-0 mt-2">GESTIÓN DE PROYECTOS</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded-0 p-3 border-left" id="mya-tab" data-toggle="tab" href="#mya" role="tab" aria-controls="mya" aria-selected="false">
                                <h5 class="size14 mb-0 mt-2">M&A</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded-0 p-3 border-left" id="formacion-tab" data-toggle="tab" href="#formacion" role="tab" aria-controls="formacion" aria-selected="false">
                                <h5 class="size14 mb-0 mt-2">FORMACIÓN</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded-0 p-3 border-left" id="promocion-tab" data-toggle="tab" href="#promocion" role="tab" aria-controls="promocion" aria-selected="false">
                                <h5 class="size14 mb-0 mt-2">PROMOCIÓN</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded-0 p-3 border-left" id="gestion-tab" data-toggle="tab" href="#gestion" role="tab" aria-controls="gestion" aria-selected="false">
                                <h5 class="size14 mb-0 mt-2">GESTIÓN Y FONDEO DEL PRIVATE EQUITY</h5>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 contenido-tabs">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="vita" role="tabpanel" aria-labelledby="vita-tab">
                            <p>Consultora financiera española, especializada en estructuración de Pasivo en energías limpias y GERS grupo empresarial con más de 35 años de experiencia, han llegado a un acuerdo para desarrollar de manera conjunta, oportunidades en energías renovables en Colombia que van desde la Gestión de proyectos, estructuración financiera de proyectos en curso (fases II y III de la UPME), formación post-grado, así como promoción directa y fondeo de capital privado.</p>
                            <div class="row mt-5">
                                <div class="col-sm-6">
                                    <h4 class="text-blue1 size26 font-weight-bold roboto">Join Venture</h4>
                                </div>
                                <div class="col-sm-6">
                                    <img class="img-fluid mr-3" src="assets/images/acuerdos-internacionales/logo.png" alt="Logo Gers">
                                    <img class="img-fluid" src="assets/images/acuerdos-internacionales/BitmapPNG.png" alt="Vita">
                                </div>
                            </div>
                            <img class="img-fluid mt-5" src="assets/images/acuerdos-internacionales/vita.png" alt="Mapa">
                        </div>
                        <div class="tab-pane fade" id="proyectos" role="tabpanel" aria-labelledby="proyectos-tab">
                            <p class="roboto">El Project Management o Gestión de Proyecto abarcará desde los aspectos puramente técnicos; proyecto eléctrico de acceso a red, proyecto básico de implantación, proyecto de detalle…etc., hasta el permiting o “permisología” del proceso administrativo de concesión o autorización, pasando por la adquisición de los derechos reales sobre los terrenos así como cualquier trámite medioambiental, hasta la “puesta en marcha” del proyecto en cuestión.</p>
                        </div>
                        <div class="tab-pane fade" id="mya" role="tabpanel" aria-labelledby="mya-tab">
                            <p class="roboto">Trabajamos la estructuración financiera de cualquier proyecto (en curso) renovable que lo precise, tanto el recurso propio o equity como la optimización de la deuda, ya sea con capital internacional como nacional. Estos procesos suelen trabajarse con “mandatos de venta”, son procesos complicados pero muy reglados y optimizados que casi siempre terminan en éxito. Gracias a una experiencia de más de 15 años en este tipo de operaciones, tenemos acceso al mercado de capitales internacional especializado en energías limpias.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="formacion" role="tabpanel" aria-labelledby="formacion-tab">
                            <p class="roboto">Los Cursos de formación que GERS/Vita Capital instruyen, van enfocados al post-grado universitario, y a aquellos profesionales activos que deseen adentrarse en el sector de las energías renovables, los Syllabus se estructuran a medida del cliente, de 30-90 horas, con materias en; Geopolítica, Promoción, financiación, técnica y Marco regulatorio. Contamos con un cuadro de profesores altamente cualificado, con el denominador común de que todos ellos trabajan en el Sector energético.</p>
                        </div>
                        <div class="tab-pane fade" id="promocion" role="tabpanel" aria-labelledby="promocion-tab">
                            <p class="roboto">Desarrollamos aquellos proyectos renovables (principalmente PCH´s, fotovoltaicos y eólicos), constituyendo sociedades (SVP) ad-hoc al proyecto, o participando en aquellas existentes, con el objetivo de cubrir aquellos “costos hundidos” que requieran para llevarlos al ready to build y venta.</p>
                        </div>
                        <div class="tab-pane fade" id="gestion" role="tabpanel" aria-labelledby="gestion-tab">
                            <p class="roboto">Contamos con la experiencia de haber fondeado capital para dos fondos de inversión privado, uno en activos fotovoltaicos (March Solar) y otro en activos eólicos (Vita Eólica Española). Gestionamos de manera integral; (administración, back office y asset Management) los fondos constituidos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>