<div class="container tabsCustom">
    <div class="row">
        <div class="tabs-marcas tabs-diseno-page mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4 pr-0">
                        <ngx-skeleton-loader count="5" *ngIf="loader" animation="progress" [theme]="{height:'35px' }"></ngx-skeleton-loader>
                        <div *ngIf="!loader" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <ng-container *ngFor="let item of item_tab_data; let index = index">
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 p-3 border-left" [attr.id]="'v-pills-tab-'+index" [ngClass]="{'active': index === activePillIndex}" data-toggle="pill" [attr.href]="'#'+'v-pills-'+index" role="tab" aria-selected="true" (click)="selectPill(index)">
                                        <h5 class="size14 mb-0 mt-2">{{ item.nombre_item_tab }}</h5>
                                    </a>
                                </li>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-8 contenido-tabs">
                        <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'330px' }"></ngx-skeleton-loader>
                        <div *ngIf="!loader" class="tab-content" id="v-pills-tab">
                            <ng-container *ngFor="let datos of item_tab_data; let index = index">
                                <div class="tab-pane fade show" [ngClass]="{'active': index === activePillIndex}" [attr.id]="'#'+'v-pills-'+index" role="tabpanel">
                                    <p [innerHTML]="datos.texto_general"></p>
                                    <div class="row mt-5">
                                        <div class="col-sm-6 my-auto">
                                            <h4 *ngIf="datos.imagen_columnas.texto" class="mb-0 text-blue1 size26 font-weight-bold roboto">{{ datos.imagen_columnas.texto }}</h4>
                                        </div>
                                        <div class="col-sm-6 my-auto">
                                            <img class="img-fluid mr-3" *ngIf="datos.imagen_columnas.imagen" src="{{ datos.imagen_columnas.imagen }}" alt="Logo Gers">
                                        </div>
                                    </div>
                                    <img class="img-fluid mt-5" *ngIf="datos.imagen_principal" src="{{ datos.imagen_principal }}" alt="Mapa">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>