<!-- <app-menu-vertical></app-menu-vertical>
<app-topbar-azul></app-topbar-azul>
<app-menu-principal></app-menu-principal> -->
<section class="servicios pruebas-automatiza">
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-4">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'200px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <img *ngIf="seccion_1_data.imagen_principal" src="{{ seccion_1_data.imagen_principal }}" alt="servicio 1" class="img-fluid">
                </div>
            </div>
            <div class="col-sm-8 mt-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-12 col-md-8">
                        <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                        <div *ngIf="!loader" class="media">
                            <img class="align-self-center mr-3" *ngIf="seccion_1_data.icono" src="{{ seccion_1_data.icono }}" alt="Pruebas">
                            <div class="media-body">
                                <h4 class="mb-0 text-blue1 font-weight-bold roboto size26">{{ seccion_1_data.titulo_principal }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                        <div *ngIf="!loader">
                            <a href="{{ seccion_1_data.boton_link_solicitar }}" class="btn btn-blue font-weight-light size13 pt-2 pb-2">{{ seccion_1_data.boton_texto_solicitar }}</a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <ngx-skeleton-loader count="5" *ngIf="loader" animation="progress" [theme]="{height:'25px' }"></ngx-skeleton-loader>
                        <div *ngIf="!loader">
                            <p class="mt-2 margin-bottom-33" [innerHTML]="seccion_1_data.texto_principal"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'135px' }"></ngx-skeleton-loader>
    <div *ngIf="!loader" class="bg-blue1 pt-4 pb-4">
        <div class="container">
            <div class="row">
                <!-- <div class="col-sm-4 col-md-4 col-lg-5 text-center"></div> -->
                <div class="offset-lg-4"></div>
                <ng-container *ngFor="let transformador of seccion_iconos_data">
                    <div class="col-sm-4 col-md-4 col-lg-2 text-center">
                        <img src="{{ transformador.icono }}" alt="servicio" class="img-fluid mb-3">
                        <p class="text-white m-0 size13">{{ transformador.texto }}</p>
                    </div>    
                </ng-container>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-4">
        <div class="row">
            <div class="col">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="7" *ngIf="loader" animation="progress" [theme]="{height:'25px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <p [innerHTML]="texto_columna_1_data"></p>
                </div>
            </div>
            <div class="col">
                <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="7" *ngIf="loader" animation="progress" [theme]="{height:'25px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <p [innerHTML]="texto_columna_2_data"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->