<section class="servicios">
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-4">
                <img src="assets/images/servicios/pruebas_automatizacion_control_img.png" alt="servicio 1" class="img-fluid">
            </div>
            <div class="col-sm-8 mt-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-8">
                        <div class="media">
                            <img class="align-self-center mr-3" src="assets/images/servicios/pruebas_automatizacion_control_icon.png" alt="">
                            <div class="media-body">
                                <h4 class="mb-0 text-blue1 font-weight-bold">PRUEBAS,<br> AUTOMATIZACIÓN Y CONTROL</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <a href="" class="btn btn-blue font-weight-light size13 pt-2 pb-2">SOLICITAR INFORMACIÓN</a>
                    </div>
                    <div class="col-sm-12">
                        <p class="mt-2">Realizamos pruebas y puesta en servicio a equipos en sistemas de baja, media y alta tensión. También diseñamos, suministramos, y ponemos en servicio sistemas de control, medida y protección. </p>
                        <p>En GERS contamos con una vasta experiencia y personal altamente calificado para la ejecución de cada proyecto con altos estándares de calidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-blue1 pt-4 pb-4" style="margin-top:-130px">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-2 offset-lg-5 text-center">
                    <img src="assets/images/servicios/transformador_icon.png" alt="servicio 1" class="img-fluid">
                    <p class="text-white m-0 size13">Pruebas a transformadores de potencia</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 text-center">
                    <img src="assets/images/servicios/transformador_icon.png" alt="servicio 1" class="img-fluid">
                    <p class="text-white m-0 size13">Bancos y cargadores de baterías</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 text-center">
                    <img src="assets/images/servicios/transformador_icon.png" alt="servicio 1" class="img-fluid">
                    <p class="text-white m-0 size13">Automatización basado en IEC61850, IEC608070-5-101/104</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-4">
        <div class="row">
            <div class="col">
                <p class="font-weight-bold">Pruebas y puesta en servicio a equipos en sistemas de baja,media y alta tensión: </p>
                <ul>
                    <li>Relés de protección eléctrica </li>
                    <li>TC’s TP’s </li>
                    <li>Generadores (estator y rotor) </li>
                    <li>Interruptores de potencia </li>
                    <li>Descargadores de sobretensión </li>
                    <li>Sistemas de servicios auxiliares de AC y DC </li>
                    <li>Pruebas Hipot VLF (Very Low Frecuency) a cables </li>
                    <li>Seccionadores </li>
                    <li>Transformadores de potencia </li>
                    <li>Pruebas Hipot DC</li>
                </ul>
            </div>
            <div class="col">
                <p class="font-weight-bold">Pruebas y puesta en servicio a equipos en sistemas de baja,media y alta tensión: </p>
                <ul>
                    <li>Relés de protección eléctrica </li>
                    <li>TC’s TP’s </li>
                    <li>Generadores (estator y rotor) </li>
                    <li>Interruptores de potencia </li>
                    <li>Descargadores de sobretensión </li>
                    <li>Sistemas de servicios auxiliares de AC y DC </li>
                    <li>Pruebas Hipot VLF (Very Low Frecuency) a cables </li>
                    <li>Seccionadores </li>
                    <li>Transformadores de potencia </li>
                    <li>Pruebas Hipot DC</li>
                </ul>
            </div>
        </div>
    </div>
</section>