<div class="container seccion-hv">
    <div class="row">
        <div class="col-md-7 padre-textoshv">
            <div class="full-textoshv">
                <p class="tituloHojadeVida">¡Queremos que seas parte de nuestro equipo de trabajo!</p>
                <p class="textoHojadeVida">En GERS estamos en constante búsqueda de personal calificado para todas nuestras áreas de servicio.</p>
                <a class="linkHoja" href="">Registra tu Hoja de vida y conoce nuestras vacantes aquí</a>
            </div>
        </div>
        <div class="col-md-5">
            <img id="imagenHV" src="assets/images/hoja-de-vida/hojadevida.jpg" alt="HV" width=100%>
        </div>
    </div>
</div>