<!--Aquí Inicia el Menú Principal Grande-->
<nav class="navbar navbar-expand-md navbar-light menuPrincipalUsa sticky-top">
  <div class="container">
    <button
      class="navbar-toggler mt-1 mb-1"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        class="LogoPrincipal"
        src="assets/images/carousel-principal/logo_1981png.png"
        alt="Logo"
      />
    </a>
    <a class="menuVerticalPrincipalUsa solicitarMenuLateralUsa" href="#"
      ><span class="lineasMenu">&#9776;</span> Menu</a
    >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <ng-container
          *ngFor="let menu_parent of menuPrincipal_data; first as isFirst"
        >
          <li
            class="nav-item dropdown has-megamenu"
            *ngIf="menu_parent.classes == 'subcontainer_style1'"
          >
            <a
              class="nav-link dropdown-toggle size14"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ menu_parent.title }}
            </a>
            <div class="dropdown-menu menuServicio megamenu">
              <div class="row">
                <ng-container
                  *ngFor="
                    let menu_child of menu_parent.child_items;
                    first as isFirst
                  "
                >
                  <div class="col-md-6">
                    <div class="col-megamenu">
                      <ul class="list-unstyled">
                        <li>
                          <a [routerLink]="[menu_child.slug]">
                            <div class="row">
                              <div class="col-md-2 my-auto">
                                <img
                                  class="img-fluid"
                                  src="{{ menu_child.thumbnail_src }}"
                                  alt="imagen1"
                                />
                              </div>
                              <div class="col-md-10">
                                <h3 class="tituloItemMenu">
                                  {{ menu_child.title }}
                                </h3>
                                <p class="textoItemMenu">
                                  {{ menu_child.description }}
                                </p>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </li>
          <li
            class="nav-item dropdown has-megamenu"
            *ngIf="menu_parent.classes == 'subcontainer_style2'"
          >
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ menu_parent.title }}
            </a>
            <div
              class="dropdown-menu menuRepresentaciones chileRepresentaciones megamenu navbar-center"
            >
              <div class="row filaRepresentaciones">
                <ng-container
                  *ngFor="
                    let menu_child of menu_parent.child_items;
                    first as isFirst
                  "
                >
                  <div
                    class="col-md-12 representacionItem"
                    style="cursor: pointer"
                    [routerLink]="[menu_child.slug]"
                  >
                    <a>
                      <img
                        class="imagenMarcaMenu"
                        src="{{ menu_child.thumbnail_src }}"
                        alt="Logo"
                      />
                      <p class="tituloItemMarcaMenu">{{ menu_child.title }}</p>
                      <p class="textoItemMarcaMenu">
                        {{ menu_child.description }}
                      </p>
                    </a>
                  </div>
                </ng-container>
              </div>
            </div>
          </li>
          <li
            class="nav-item d-sm-none d-xl-block"
            *ngIf="menu_parent.classes == 'subcontainer_style3'"
          >
            <a [routerLink]="[menu_parent.slug]" class="nav-item nav-link">{{
              menu_parent.title
            }}</a>
          </li>
          <li
            class="nav-item d-sm-none d-xl-block"
            *ngIf="menu_parent.classes == 'subcontainer_style4'"
          >
            <a [routerLink]="[menu_parent.slug]" class="nav-item nav-link">{{
              menu_parent.title
            }}</a>
          </li>
          <li
            class="nav-item"
            *ngIf="menu_parent.classes == 'subcontainer_style5'"
          >
            <a [routerLink]="[menu_parent.slug]" class="nav-item nav-link">{{
              menu_parent.title
            }}</a>
          </li>
          <li
            class="nav-item"
            *ngIf="menu_parent.classes == 'subcontainer_style6'"
          >
            <a [routerLink]="[menu_parent.slug]" class="nav-item btn-contact">{{
              menu_parent.title
            }}</a>
          </li>
        </ng-container>
        <li
          class="nav-item d-flex flex-row no-ancho align-items-center mb-3 mb-sm-3 mb-md-0 mb-lg-0"
        >
          <input
            type="text"
            class="form-control buscador nav-link border-0 bg-azulClaro buscador-detalles my-3"
            (keyup)="buscar()"
            name="buscador"
            placeholder="Buscar"
            [(ngModel)]="busqueda"
          />
          <a
            class="btn btn-link bg-azulClaro text-blue"
            id="buscar"
            (click)="abrirBuscador()"
            ><i class="fas fa-search"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Aquí termina el Menú Principal Grande-->
