<div class="publicacion-interna mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main mt-4">
                    <img class="img-fluid w-100" src="assets/images/publicaciones/publicacion2.png" alt="Publicaciones">
                </div>
                <h3 class="size25 font-weight-bold roboto mt-3">Este es un título de prueba para artículo destacado</h3>
                <p class="size15 font-weight-500 roboto text-gray-dark">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,.</p>
                <p class="size14 font-weight-500 roboto text-gray-dark">Julio 19, 2020</p>
                <p class="size15 text-black roboto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod urna at tortor tincidunt sollicitudin. Nullam at ipsum sit amet erat aliquet tincidunt id sed neque. Integer eu sollicitudin orci. Donec condimentum metus enim, convallis auctor est fringilla et. Phasellus et commodo risus. Sed sed justo laoreet, suscipit ipsum sed, varius mi. Nulla vitae convallis diam. Vestibulum sed nisl sed mi congue commodo a eget dolor. Duis et ullamcorper sapien. Donec ac orci elementum nunc malesuada pretium. Donec aliquet tellus non massa laoreet, vel bibendum eros consectetur. Ut vitae enim eu nisl luctus imperdiet. Nulla vitae maximus dolor. Vivamus lobortis vestibulum egestas. Nam fringilla sit amet turpis sed tristique.<br>
                    <br>
                    Morbi pulvinar blandit porttitor. Phasellus vitae orci fermentum, efficitur diam at, gravida metus. Nulla id leo laoreet, sagittis quam vitae, commodo turpis. Proin varius gravida quam vitae tristique. Ut ultrices turpis nec felis pharetra, sed pellentesque velit interdum. Maecenas eget ante pretium, pulvinar augue et, interdum sapien. Maecenas efficitur justo a sem fermentum iaculis. In semper neque ac justo laoreet aliquet. Maecenas id ligula et purus blandit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sit amet ligula lectus. Ut eget lobortis urna. Donec orci dui, dapibus eu quam id, pretium elementum augue.
                </p>
            </div>
            <div class="col-sm-4">
                <img class="img-fluid w-100" src="assets/images/publicaciones/publicacion-interna.jpg" alt="Publicaciones">
            </div>
            <div class="col-sm-8">
                <p class="size15 text-black roboto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod urna at tortor tincidunt sollicitudin. Nullam at ipsum sit amet erat aliquet tincidunt id sed neque. Integer eu sollicitudin orci. Donec condimentum metus enim, convallis auctor est fringilla et. Phasellus et commodo risus. Sed sed justo laoreet, suscipit ipsum sed, varius mi. Nulla vitae convallis diam. Vestibulum sed nisl sed mi congue commodo a eget dolor. Duis et ullamcorper sapien. Donec ac orci elementum nunc malesuada pretium. Donec aliquet tellus non massa laoreet, vel bibendum eros consectetur. Ut vitae enim eu nisl luctus imperdiet. Nulla vitae maximus dolor. Vivamus lobortis vestibulum egestas. Nam fringilla sit amet turpis sed tristique.<br>
                    <br>
                    Morbi pulvinar blandit porttitor. Phasellus vitae orci fermentum, efficitur diam at, gravida metus. Nulla id leo laoreet, sagittis quam vitae, commodo turpis. Proin varius gravida quam vitae tristique. Ut ultrices turpis nec felis pharetra, sed pellentesque velit interdum. Maecenas eget ante pretium, pulvinar augue et, interdum sapien. Maecenas efficitur justo a sem fermentum iaculis. In semper neque ac justo laoreet aliquet. Maecenas id ligula et purus blandit volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sit amet ligula lectus. Ut eget lobortis urna. Donec orci dui, dapibus eu quam id, pretium elementum augue.
                </p>
            </div>
        </div>
    </div>
</div>