<div class="publicaciones">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 col-md-4">
                <div class="card-publication">
                    <a href="/#/publicacion-interna">                       
                        <div class="p-3">
                            <h3 class="roboto size24 text-black">Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.</h3>
                            <h4 class="mt-4 mb-4 text-uppercase text-black size12 roboto font-weight-bold">Carrie Crawford   |   2 mints ago</h4>
                        </div>
                        <img class="img-fluid w-100" src="assets/images/publicaciones/publicacion1.png" alt="Publicaciones">
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="card-publication">
                    <a href="">
                        <img class="img-fluid w-100" src="assets/images/publicaciones/publicacion2.png" alt="Publicaciones">
                        <div class="p-3">
                            <h3 class="mt-4 mb-4 roboto size24 text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus nibh a massa tempor dictum</h3>
                            <h4 class="text-uppercase text-black size12 roboto font-weight-bold">Flora Morris   |   6 mints ago</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 col-md-8">
                <div class="card-publication">
                    <a href="#">
                        <img class="img-fluid w-100" src="assets/images/publicaciones/publicacion3.png" alt="Publicaciones">
                        <div class="p-3">
                            <h3 class="mt-4 mb-4 roboto size24 text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus nibh a massa tempor dictum</h3>
                            <h4 class="text-uppercase text-black size12 roboto font-weight-bold">Flora Morris   |   6 mints ago</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card-publication">
                    <a href="#">
                        <div class="p-3">
                            <h3 class="roboto size24 text-black">Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.</h3>
                            <h4 class="mt-4 mb-4 text-uppercase text-black size12 roboto font-weight-bold">Carrie Crawford   |   2 mints ago</h4>
                        </div>
                        <img class="img-fluid w-100" src="assets/images/publicaciones/publicacion4.png" alt="Publicaciones">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 col-md-4">
                <div class="card-publication">
                    <a href="#">
                        <div class="p-3">
                            <h3 class="roboto size24 text-black">Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.</h3>
                            <h4 class="mt-4 mb-4 text-uppercase text-black size12 roboto font-weight-bold">Carrie Crawford   |   2 mints ago</h4>
                        </div>
                        <img class="img-fluid w-100" src="assets/images/publicaciones/publicacion1.png" alt="Publicaciones">
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="card-publication">
                    <a href="">
                        <img class="img-fluid w-100" src="assets/images/publicaciones/publicacion2.png" alt="Publicaciones">
                        <div class="p-3">
                            <h3 class="mt-4 mb-4 roboto size24 text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus nibh a massa tempor dictum</h3>
                            <h4 class="text-uppercase text-black size12 roboto font-weight-bold">Flora Morris   |   6 mints ago</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
