
<div class="contenedor-total-agregados">

  <div class="row ajustar-productos" [hidden]="!listadoCarrito">
    <div class="col-12 cotizacion">
      <span class="flechita" *ngIf="carritoAnterior && carritoAnterior.length > 0" (click)="solicitarCotizacionCarrito()">
          <i class="fa fa-arrow-left"></i>
      </span>
     <span>COTIZACIÓN</span>
    </div>
  <div class="row fila-carrito " *ngFor="let data of carritoAnterior ; let indices = index " >
    <div class="col-6 col-md-4 col-sm-4 col-lg-4 ">
      <img [src]="data.images[0].src" class="imagen-producto">
    </div>
    <div class="col-6 col-md-4 col-sm-4 col-lg-4 ">
      <div class="row ">
        <div class="col-md-12">
          <span class="nombre-producto">{{data.name}}</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-sm-3 col-lg-3 ">
      <div class="row   filtro-cantidad-productos ">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12" (click)="cambiarUnidades(data, indices, 1)">
          <i class="fa fa-plus-circle icono-aumenta"></i>
        </div>
        <div class="col-12">
                         <span class="mostrar-unidades">
                           {{data.producto_cantidad}} Unidades
                         </span>
        </div>
        <div class="col-12" (click)="cambiarUnidades(data, indices, 0)">
          <i class="fa fa-minus-circle iconos-reducir"></i>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-1 col-sm-1 col-lg-1 " (click)="quitarItem(data, indices)">
      <i class="fas fa-trash eliminar-items" ></i>
    </div>

    <hr>
  </div>

    <div class="col-12">
      <div class="row botones-funciones">
        <div class="col-12  col-md-6 col-lg-6">
          <button type="button" class="btn btn-blue" [disabled]="carritoAnterior?.length === 0" (click)="solicitarCotizacionCarrito()">
            Solicitar cotización
          </button>
        </div>
        <div class="col-12  col-md-6 col-lg-6">
          <button type="button" class="btn btn-blue" (click)="borrarListado()">
            Borrar listado
          </button>
        </div>
      </div>
    </div>
  </div>


  <form (ngSubmit)="enviarForm(formularioCotizacion)" #formularioCotizacion="ngForm" class="row agrupar-inputs" [hidden]="!solicitarCotizacion">
      <div class="col-12 cotizacion">
        <span class="flechita" (click)="volverCarrito()">
            <i class="fa fa-arrow-right"></i>
        </span>
        <span>COTIZACIÓN</span>
      </div>
      <div class="form-group col-12">
        <label for="nombre-completo">Nombre completo</label>
        <input type="text" [(ngModel)]="filtros.nombre" class="form-control" name="nombre" id="nombre-completo" placeholder="Nombre completo">
      </div>
      <div class="form-group col-12">
        <label for="empresa">Empresa</label>
        <input  [(ngModel)]="filtros.empresa" type="text" class="form-control" name="empresa" id="empresa" placeholder="Empresa">
      </div>
      <div class="form-group col-12">
        <label for="nit">Nit</label>
        <input [(ngModel)]="filtros.nit" type="number" class="form-control" name="nit" id="nit" placeholder="Nit">
      </div>
      <div class="form-group col-12">
        <label for="correo-electronico">Correo electrónico</label>
        <input [(ngModel)]="filtros.correo" type="email" class="form-control" name="correo" id="correo-electronico" placeholder="Correo electrónico">
      </div>
      <div class="form-group col-12">
        <label for="celular">Celular</label>
        <input [(ngModel)]="filtros.celular" type="number" class="form-control" name="celular" id="celular" placeholder="Celular">
      </div>
      <div class="col-12">
        <div class="row botones-funciones">
          <div class="col-12  col-md-6 col-lg-6">
            <button type="submit" class="btn btn-blue">
              Solicitar cotización
            </button>
          </div>
          <div class="col-12  col-md-6 col-lg-6">
            <button type="button" class="btn btn-blue" (click)="volverCarrito()">
              Volver al listado
            </button>
          </div>
        </div>
      </div>
  </form>

</div>

