@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.sticky {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
}
.ajustar-productos{
  flex-flow: column wrap;
  width: 100%;
  margin: 0;
  padding: 1% 5%;
}

.imagen-producto{
  height: auto !important;
}

.menuproductos {
  background-color: #E8ECF4 !important;
  width: 60rem;
  margin-top: 0px !important;
  border: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  left: -90% !important;

}
.menuproductos .navbar-center {
  position: absolute !important;
  left: -18% !important;
  transform: translatex(-43%) !important;
}

.menuproductos  .col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 21.333333% !important;
}
.fila-carrito:hover {
  background-color: #F3F3F3;
}

.fila-carrito {
  margin-right: 1px !important;
  margin-left: 1px !important;
  align-items: center;
  cursor: pointer;
}

.fila-carrito img {
  width: 120px;
  height: 110px;
  border-radius: 10px;
}

.filtro-cantidad-productos {

}

.filtro-cantidad-productos {
  text-align: center;
}

.nombre-producto {

  color: #2C3394;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.97px;
  line-height: 19px;
  width: 151px;
  text-align: left;
}

.mostrar-unidades {
  border: 0.5px solid #2C3394;
  border-radius: 5px;
  width: 127px;
  height: 26px;
}

.icono-aumenta, .iconos-reducir, .eliminar-items {
  font-size: 25px;
  color: #2C3394;
  margin-top: 3px;
}

.contenedor-carrito {
  width: 780px !important;
}


.iconos-reducir, .icono-aumenta {
  z-index: 1000;
}

.botones-funciones {
  margin: 3%;
}

.botones-funciones {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.botones-funciones button {
  width: 100%;
  background-color: #2C3394;
  color: #FFFFFF;
  border: 0.5px solid #2C3394;
}

.botones-funciones button:hover {
  width: 100%;
  background-color: #FFFFFF;
  color: #2C3394;
  border: 0.5px solid #2C3394;
}

.contenedor-total-agregados {
  z-index: 1000;
}

.botones-funciones-cotizacion button{

  width: 100%;
}

.agrupar-inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: 1px;
  margin-left: 1px; */
  margin: 0;
  width: 100%;
  padding: 1% 5%;
}

.cotizacion {
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.cotizacion span{
  color: #2C3394;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  letter-spacing: 1.39px;
  line-height: 28px;
  text-align: left;
}

.flechita {
  margin-right: 62px;
}

hr {
  width: 100%;
  font-size: 1px;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
