<div class="bannerInterna" style="background:url(assets/images/carousel-principal/banner_principal.jpg)">
    <p class="text-center pt-5 pb-5">
        <!-- <img src="assets/images/marcas/1neplan_marca.png" alt="" class="img-fluid"> -->
    </p>
</div>
<div class="container tabsCustom">
    <div class="row">
        <div class="tabs-marcas tabs-neplan-page mt-5 mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-3 align-items-center">
                        <img src="assets/images/representaciones/dranetz_logo.png" alt="" class="img-fluid box-shadow">
                    </div>
                    <div class="col-sm-9 align-items-center">
                        <p class="m-0">
                            Somos representantes comerciales de Dranetz, compañía de reconocido liderazgo mundial en el desarrollo de equipos y soluciones de calidad de potencia.
                        </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a class="btn rounded mt-2 mb-2 btn-outline2 d-flex justify-content-between align-items-center" href="#">GUÍA  DE APLICACIÓN <i class="fas fa-download width10"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabsCustom mt-5">
                    <div class="col-md-4 mb-4 pr-0">
                        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">
                                    <h5 class="size14 m-0">Analizadores de calidad de potencia eléctrica portablesserie hdpq</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">
                                    <h5 class="size14 m-0">HDPQ GUIDE</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">
                                    <h5 class="size14 m-0">HDPQ VISA & VISA SP</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item4-tab" data-toggle="tab" href="#item4" role="tab" aria-controls="item4" aria-selected="false">
                                    <h5 class="size14 m-0">HDPQ XPLORER</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item5-tab" data-toggle="tab" href="#item5" role="tab" aria-controls="item5" aria-selected="false">
                                    <h5 class="size14 m-0">61 SG-PQ DATANODE</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item6-tab" data-toggle="tab" href="#item6" role="tab" aria-controls="item6" aria-selected="false">
                                    <h5 class="size14 m-0">61 SGD DATANODE</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item7-tab" data-toggle="tab" href="#item7" role="tab" aria-controls="item7" aria-selected="false">
                                    <h5 class="size14 m-0">61STD-PQ DATANODE</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item8-tab" data-toggle="tab" href="#item8" role="tab" aria-controls="item8" aria-selected="false">
                                    <h5 class="size14 m-0">DRANVIEW<br> (para analizadores portátiles)</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" id="item9-tab" data-toggle="tab" href="#item9" role="tab" aria-controls="item9" aria-selected="false">
                                    <h5 class="size14 m-0">ENCORE</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 contenido-tabs">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
                                <p>El Dranetz HDPQ combina las capacidades de monitoreo de calidad de energía de última generación, con las mejores capacidades de comunicación de su clase para proporcionar una experiencia de monitoreo revolucionaria.</p>
                                <p class="mt-3"><b>Algunas ventajas:</b></p>
                                <ul class="line-height2-5">
                                    <li>Versiones portátiles con pantalla grande de 7” o sin Pantalla tipo intemperie IP65 SP disponibles </li>
                                    <li>Compatible con aplicaciones móviles tipo VNC. </li>
                                    <li>Comunicación Bluetooth que permite configurar el equipo desde su portátil. </li>
                                    <li>Dranetz HDPQ cumple todos los estándares de seguridad actuales. </li>
                                    <li>Cumple los estándares más exigentes de calidad de energía: IEC 61000-4-30 clase A, IEC61000-4-7, IEC61000-4-15, EN50160, NVE,IEEE1159, IEEE 1453, IEEE519 </li>
                                    <li>Comunicación vía Wifi incorporado (versiones HDPQ Guide y HDPQ Explorer)</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
                                <p class="mt-3"><b>Características</b></p>
                                <p class="mt-3"><b>Características adicioinales al modelo HDPQ VISA</b></p>
                                <ul class="line-height2-5">
                                    <li>Wifi, bluetooth</li>
                                    <li>Energía avanzada IEEE 1459</li>
                                    <li>Directividad de Sags</li>
                                    <li>Corrección del factor de potencia capacitivo</li>
                                    <li>9 modos de monitoreo</li>
                                    <li>Ciclos máximos pre / post disparo 10000</li>
                                    <li>Tres algoritmos de detección de transitorios impusivos y oscilatorios.</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
                                <p class="mt-3"><b>Características</b></p>
                                <ul class="line-height2-5">
                                    <li>Analizador Portátil con pantalla táctil de 7"</li>
                                    <li>Ethernet, Usb, bluetooth (opcional)</li>
                                    <li>(4) canales diferencia de voltaje, AC/DC, 0-1000v</li>
                                    <li>(4) canales diferenciales de corriente AC/DC</li>
                                    <li>IEC 61000-4-30:2008 Clase A con certificación</li>
                                    <li>7 modos de monitoreo</li>
                                    <li>512 muestras / ciclo / canal en V & I</li>
                                    <li>Detección Transitorios de hasta 32us / 40 us (60Hz / 50Hz)</li>
                                    <li>Tres algoritmos de detección de transitorios impulsivos y oscilatorios</li>
                                    <li>Armónicos en V/I 127/63</li>
                                    <li>Ciclos máximos pre/post disparo 100</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="item4" role="tabpanel" aria-labelledby="item4-tab">
                                <p>Simplemente el mejor analizador de calidad de energía disponible: ¡no se pierda un evento!</p>
                                <p class="mt-3"><b>Características</b></p>
                                <ul class="line-height2-5">
                                    <li>Detección de transitorios de hasta 1us (tarjeta eletrónica adicional para la detección de transitorios de alta frecuencia)</li>
                                </ul>
                                <p class="mt-3"><b>Analizadores fijos o permanentes</b></p>
                                <p>Dranetz es prionero en sistemas de monitoreo de calidad de energía permanente para isntalar en rack o en celdas de media o baja tensión. El sistema se complementa con software Encore, basado en el navegador web, incluye
                                    la familia 61000 (61STD, 61SG, 61SGD) y es el primer instrumento completamente modular y configurable que rompe el formato de instrumento tradicional de 8 canales (4 tensiones / 4 corrientes).</p>
                                <p>Usted puede elegir entre los módulos de adquisición de tensión, corriente y datos para contruir de uno a cuatro instrumentos en un solo formato compacto y rentable</p>
                            </div>
                            <div class="tab-pane fade" id="item5" role="tabpanel" aria-labelledby="item5-tab">
                                <p class="mt-3"><b>Características</b></p>
                                <ul class="line-height2-5">
                                    <li>Instalación tipo switchgear</li>
                                    <li>Analizador fijo</li>
                                    <li>(4) canales diferenciales de voltaje, AC/DC, 0-600V</li>
                                    <li>(4) canales diferenciales de corriente AC/DC, no incluye CT</li>
                                    <li>IEC 61000-4-30:2008, IEC61000-4-7, IEC61000-4-15, EN50160, NVE, IEEE1159, IEEE 1453, IEEE519, Clase A con certificación</li>
                                    <li>1 GB memoria interna</li>
                                    <li>512 muestras / ciclo / canal en V & I</li>
                                    <li>Comunicaciones: RJ45 TCP/IP, TCP/IP, EHERNET, RS232/RS485</li>
                                    <li>Protocolos: XML, modbus TCP/RTU, HTTP, IEC61850 (Opcional)</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="item6" role="tabpanel" aria-labelledby="item6-tab">
                                <p class="mt-3"><b>Características</b></p>
                                <ul class="line-height2-5">
                                    <li>Instalación tipo switchgear</li>
                                    <li>Analizador fijo</li>
                                    <li>(4) canales diferenciales de voltaje, AC/DC, 0-600V</li>
                                    <li>(4) canales diferenciales de corriente AC/DC, no incluye CT</li>
                                    <li>IEC 61000-4-30:2008, IEC61000-4-7, IEC61000-4-15, EN50160, NVE, IEEE1159, IEEE 1453, IEEE519, Clase A con certificación</li>
                                    <li>1 GB memoria interna</li>
                                    <li>512 muestras / ciclo / canal en V & I</li>
                                    <li>Comunicaciones: RJ45 TCP/IP, TCP/IP, EHERNET, RS232/RS485</li>
                                    <li>Protocolos: XML, modbus TCP/RTU, HTTP, IEC61850 (Opcional)</li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="item7" role="tabpanel" aria-labelledby="item7-tab">
                                <p class="mt-3"><b>Características</b></p>
                                <ul class="line-height2-5">
                                    <li>Instalación tipo switchgear</li>
                                    <li>Analizador fijo</li>
                                    <li>(4) canales diferenciales de voltaje, AC/DC, 0-600V</li>
                                    <li>(4) canales diferenciales de corriente AC/DC, no incluye CT</li>
                                    <li>IEC 61000-4-30:2008, IEC61000-4-7, IEC61000-4-15, EN50160, NVE, IEEE1159, IEEE 1453, IEEE519, Clase A con certificación</li>
                                    <li>1 GB memoria interna</li>
                                    <li>512 muestras / ciclo / canal en V & I</li>
                                    <li>Comunicaciones: RJ45 TCP/IP, TCP/IP, EHERNET, RS232/RS485</li>
                                    <li>Protocolos: XML, modbus TCP/RTU, HTTP, IEC61850 (Opcional)</li>
                                </ul>
                                <p class="mt-3"><b>Software</b></p>
                                <img src="assets/images/representaciones/dranetz_sofware.png" alt="" class="img-fluid box-shadow">
                            </div>
                            <div class="tab-pane fade" id="item8" role="tabpanel" aria-labelledby="item8-tab">
                                <p class="mt-3"><b>Características</b></p>
                                <p>El software DRAN-VIEW7 es por mucho la mejor herramienta software de análisis que permite a los profesionales de la energía visualizar y análizar de forma simple y rápida los datos de monitoreo de energía. Es fácil de navegar,
                                    brinda funcionalidad automatizada e incorpora potentes capacidades de analíticas y opciones personalizables para satisfacer las necesidades de cada usuario individual.</p>
                                <p>Dranview permite conectarse a los equipos Dranetz HDPQ y controlarlos de manera remota vía VNC, incluyendo tambinén la funcionalidad de descarga remota de infromación.</p>
                            </div>
                            <div class="tab-pane fade" id="item9" role="tabpanel" aria-labelledby="item9-tab">
                                <p class="mt-3"><b>Características</b></p>
                                <p>Encore es un software avanzado, basado en la web que es un administrador de los equipos y una interfaz de usuario para el análisis de los parámetros y eventos de calidad de energía. El software Encore se puede utilizar
                                    en cualquier aplicación, desde pequeños con pocos equipos hasta enormes sistemas de monitoreo multipropósito para empresas gigantes o empresas de servicios públicos con 50 o más puntos. Encore Software se comunica automáticamente
                                    con cada equipo de monitoreo a través de todos los métodos de comunicación compatibles para descargar y almacenar datos.</p>
                                <p class="mt-3"><b>Características</b></p>
                                <ul class="line-height2-5">
                                    <li>Una única licencia para muchos equipos</li>
                                    <li>Integración de equipos multifabricante via modbus (opcional)</li>
                                    <li>Visualización de diagrama unifilar (opcional)</li>
                                    <li>La licencia es por servidor y no depende de las variables a registrar</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>