<ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'140px' }"></ngx-skeleton-loader>
<div *ngIf="!loader">
    <div class="bannerInterna" *ngIf="banner_data.banner_principal" [ngStyle]="{ 'background-image': 'url(' + banner_data.banner_principal + ')'}" style="background-position: center;">
        <p class="text-center pt-5 pb-5">
            <img *ngIf="banner_data.logo_imagen" src="{{ banner_data.logo_imagen }}" alt="" class="img-fluid">
        </p>
    </div>
</div>

<div class="container tabsCustom mt-5 mb-5">
    <div class="row align-items-center">
        <div class="col-sm-3 align-items-center">
            <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'120px' }"></ngx-skeleton-loader>
            <div *ngIf="!loader">
                <img *ngIf="seccion_1_data.logo" src="{{ seccion_1_data.logo }}" alt="" class="img-fluid p-4 box-shadow">
            </div>
        </div>
        <div class="col-sm-9 align-items-center">
            <ngx-skeleton-loader count="3" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
            <div *ngIf="!loader">
                <p class="m-0" [innerHTML]="seccion_1_data.texto_inicial"></p>
            </div>
            <!-- <div class="row">
                <div class="col-sm-4">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px', width:'150px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <a class="btn rounded mt-2 mb-2 btn-outline2 d-lg-flex justify-content-between align-items-center" href="{{seccion_1_data.boton_url}}">{{seccion_1_data.boton_texto}} <i class="fas fa-download width10"></i></a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="row tabsCustom mt-5">
        <div class="col-md-4 mb-4 pr-0">
            <ngx-skeleton-loader count="8" *ngIf="loader" animation="progress" [theme]="{height:'35px' }"></ngx-skeleton-loader>
            <div *ngIf="!loader" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <ng-container *ngFor="let item of item_tab_data; let index = index">
                    <li class="nav-item">
                        <a class="nav-link rounded-0 p-3 border-left d-flex align-items-center" [attr.id]="'v-pills-tab-'+index" [ngClass]="{'active': index === activePillIndex}" data-toggle="pill" [attr.href]="'#'+'v-pills-'+index" role="tab" aria-selected="true" (click)="selectPill(index)">
                            <h5 class="size14 mb-0">{{ item.titulo }}</h5>
                        </a>
                    </li>
                </ng-container>
            </div>
        </div>
        <div class="col-md-8 contenido-tabs">
            <ngx-skeleton-loader count="10" *ngIf="loader" animation="progress" [theme]="{height:'25px' }"></ngx-skeleton-loader>
            <div *ngIf="!loader" class="tab-content" id="v-pills-tab">
                <ng-container *ngFor="let datos of item_tab_data; let index = index">
                    <div class="tab-pane fade show" [ngClass]="{'active': index === activePillIndex}" [attr.id]="'#'+'v-pills-'+index" role="tabpanel">
                        <p [innerHTML]="datos.texto_general"></p>
                        <img *ngIf="datos.imagen" src="{{ datos.imagen }}" alt="" class="img-fluid box-shadow">
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>