<section class="servicios">
    <div class="servicios-energeticos">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 bg-blue1 mbn-110 pl-0">
                    <img *ngIf="seccion_1_data.imagen_principal" src="{{ seccion_1_data.imagen_principal }}" alt="servicio energéticos" class="img-fluid d-block pt-4 pb-4">
                </div>
                <div class="col-sm-7 mt-5 pr-100 pl-5">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-7">
                            <div class="media">
                                <img class="align-self-center mr-3" *ngIf="seccion_1_data.icono" src="{{ seccion_1_data.icono }}" alt="Servicios energéticos">
                                <div class="media-body">
                                    <h4 class="mb-0 text-blue1 font-weight-bold">{{ seccion_1_data.titulo }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <a href="{{ seccion_1_data.boton_link_solicitar }}" class="btn btn-blue font-weight-light size13 pt-2 pb-2">{{ seccion_1_data.boton_texto_solicitar }}</a>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <p [innerHTML]="seccion_1_data.texto_principal"></p>
                            <div class="row pt-4">
                                <ng-container *ngFor="let item of seccion_iconos_data">
                                    <div class="col-sm-4 text-center">
                                        <img class="align-self-center mb-3 mx-auto d-block" src="{{ item.icono }}" alt="Medición">
                                        <p>{{ item.texto }}</p>
                                    </div>
                                </ng-container>
                            </div>
                            <p [innerHTML]="texto_final_data"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>