<section class="servicios">
    <div class="servicios-energeticos">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 bg-blue1 mbn-110 pl-0">
                    <img src="assets/images/servicios/servicios-energeticos.png" alt="servicio energéticos" class="img-fluid d-block pt-4 pb-4">
                </div>
                <div class="col-sm-7 mt-5 pr-100 pl-5">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-7">
                            <div class="media">
                                <img class="align-self-center mr-3" src="assets/images/servicios/speedometerPNG.png" alt="Servicios energéticos">
                                <div class="media-body">
                                    <h4 class="mb-0 text-blue1 font-weight-bold">Servicios<br>energéticos</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <a href="" class="btn btn-blue font-weight-light size13 pt-2 pb-2">SOLICITAR INFORMACIÓN</a>
                        </div>
                        <div class="col-sm-12">
                            <p class="mt-2">El comité de evaluación del <span class="text-blue1"><u>Programa Piloto de Eficiencia Energética</u></span> creado por el Ministerio de Minas y Energía de Colombia y la Asociación Nacional de Empresarios de Colombia, ANDI, <span class="font-weight-bold text-blue1">ha incluido a GERS en el portafolio de ESCOS</span> (Empresas de Servicios Energéticos que diseñan, desarrollan, instalan y financian proyectos de eficiencia energética) de empresas dispuestas a realizar inversiones en proyectos de eficiencia energética en la Industria</p>
                            <div class="row pt-4">
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/001-sistemaPNG.png" alt="Medición">
                                    <p>Medición, seguimiento y validación de sistemas de puesta a tierra</p>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/002-tableroPNG.png" alt="Análisis">
                                    <p>Análisis de eventos en las señales de potencia</p>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/003-calidad-de-la-paginaPNG.png" alt="Calidad">
                                    <p>Estudios de calidad de energía</p>
                                </div>
                            </div>
                            <ul class="text-blue1 mt-3 roboto">
                                <li>Levantamiento y actualización de diagramas unifilares</li>
                                <li>Filtros de armónicos activos y pasivos</li>
                                <li>Chequeos RETIE</li>
                                <li>Curvas de carga de transformadores, motores, barrajes y equipos eléctricos 	en general</li>
                                <li>Compensación reactiva</li>
                                <li>Calidad de potencia y eficiencia energética</li>
                                <li>Armónicos en sistemas de potencia</li>
                                <li>Uso racional de energía</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>