<!-- <app-menu-vertical></app-menu-vertical>
<app-topbar-azul></app-topbar-azul>
<app-menu-principal></app-menu-principal> -->
<section class="servicios">
    <div class="servicios-energeticos">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 bg-blue1 mbn-110 pl-0">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'450px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <img *ngIf="seccion_1_data.imagen_principal" src="{{ seccion_1_data.imagen_principal }}" alt="servicio energéticos" class="img-fluid d-block pt-4 pb-4">
                    </div>
                </div>
                <div class="col-sm-7 mt-5 pr-100 pl-5">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-7">
                            <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                            <div *ngIf="!loader" class="media">
                                <img class="align-self-center mr-3" *ngIf="seccion_1_data.icono" src="{{ seccion_1_data.icono }}" alt="Servicios energéticos">
                                <div class="media-body">
                                    <h4 class="w-50 mb-0 text-blue1 size26 roboto font-weight-bold roboto size26 line-height26">{{ seccion_1_data.titulo }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'40px' }"></ngx-skeleton-loader>
                            <div *ngIf="!loader">
                                <a *ngIf="seccion_1_data.boton_texto_solicitar" href="{{ seccion_1_data.boton_link_solicitar }}" class="btn btn-blue font-weight-light size13 pt-2 pb-2">{{ seccion_1_data.boton_texto_solicitar }}</a>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <ngx-skeleton-loader count="4" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                            <div *ngIf="!loader">
                                <p [innerHTML]="seccion_1_data.texto_principal"></p>
                            </div>
                            <ngx-skeleton-loader class="d-flex pt-5" count="3" *ngIf="loader" animation="progress" appearance="circle" [theme]="{ 'width':'100%','height':'150px','border-radius': '10px' }"></ngx-skeleton-loader>
                            <div class="row pt-4">
                                <ng-container *ngFor="let item of seccion_iconos_data">
                                    <div *ngIf="!loader" class="col-sm-4 text-center">
                                        <img class="align-self-center mb-3 mx-auto d-block" src="{{ item.icono }}" alt="Medición">
                                        <p class="size14 roboto">{{ item.texto }}</p>
                                    </div>
                                </ng-container>
                            </div>
                            <ngx-skeleton-loader count="4" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                            <div *ngIf="!loader">
                                <p [innerHTML]="texto_final_data"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->