<div class="corporate-thinking-page">
    <div class="seccion-1 pt-5 pb-5 position-relative">
        <img *ngIf="!loader" class="img-fluid img-our-company" src="{{ seccion1_data.imagen_principal }}" alt="Our Company">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'325px' }"></ngx-skeleton-loader>
                </div>
                <div class="col-md-7">
                    <ngx-skeleton-loader count="8" *ngIf="loader" animation="progress" [theme]="{height:'25px' }"></ngx-skeleton-loader>
                    <div *ngIf="!loader">
                        <h3 class="font-weight-700 text-blue1 size32 line-height33 letter-spacing-0-38 roboto w-30">{{seccion1_data.titulo}}</h3>
                        <p class="size17 line-height23 letter-spacing-0-57" [innerHTML]="seccion1_data.texto_general | safeHtml: 'html'"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'250px' }"></ngx-skeleton-loader>
    <div *ngIf="!loader" class="seccion-2 position-relative pt-130 pb-70" style="background-color: #e8ecf4;">
        <img class="img-fluid img-our-company-two" src="{{ seccion2_data.imagen }}" alt="Our Company">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p class="size17 line-height23 letter-spacing-0-57" [innerHTML]="seccion2_data.texto_general"></p>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
    </div>
    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" [theme]="{height:'250px' }"></ngx-skeleton-loader>
    <div *ngIf="!loader" class="seccion-3 mt-5 mb-200">
        <img class="img-fluid img-our-company-three" src="{{ seccion3_data.imagen_general }}" alt="Our Company">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <h2 class="size17 text-blue1 font-weight-700 montserrat line-height20 letter-spacing-0-25">{{ seccion3_data.titulo_cargo }}</h2>
                    <h3 class="size25 montserrat text-blue1 font-weight-700 montserrat line-height20 letter-spacing-0-25">{{ seccion3_data.titulo_nombre }}</h3><br>
                    <p class="roboto font-weight-300">{{ seccion3_data.descripcion }}</p><br>
                    <p class="size16 letter-spacing-0-53 line-height23 text-black" [innerHTML]="seccion3_data.texto_general"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="seccion-4 mt-5" style="background-color: #2C3394;">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <iframe class="align-middle mb-5 mt-150n" width="100%" height="315" [src]='urlSafe' frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div> -->
</div>