<div class="corporate-thinking-page">
    <div class="seccion-1">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <h3 class="font-weight-700 text-blue1 size32 line-height33 letter-spacing-0-38">Our <br>Company</h3>
                    <p class="size17 line-height23 letter-spacing-0-57">GERS was founded in 1981 to provide comprehensive consulting services in electrical engineering and associated areas. Through the years the group has expanded to have presence in the United States, Mexico, Colombia, and Chile to attend to national and international markets. <br><br>
                        The primary focuses of the company are power system studies, protection & control design, testing and commissioning of electrical projects and other field services, smart grids and training courses. Throughout these four decades, they have served utilities, oil and refinery complexes, and industrial facilities in over 45 countries.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="seccion-2">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p class="size17 line-height23 letter-spacing-0-57">With professionals working in different fields and having completed projects across five continents, GERS’ expertise allows for the most exceptional work to be completed no matter the location or scale. GERS projects exceed expectations not only due to their diligence in delivering projects on time, and on budget, but constantly utilizing new technologies to enhance the end project for our valued customers.
                    </p>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>
    <div class="seccion-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <h2 class="size17 text-blue1 font-weight-700 montserrat line-height20 letter-spacing-0-25">Our Founder & CEO</h2>
                    <h3 class="size25 montserrat text-blue1 font-weight-700 montserrat line-height20 letter-spacing-0-25">Juan Manuel Gers</h3>
                    <p class="roboto font-weight-300">PhD in Distribution Automation, University of Strathclyde, 1998<br>
                        MSc in Power Systems, University of Salford, 1980<br>
                        BSc in Electrical Engineering, Universidad del Valle, 1977</p>
                </div>
            </div>
        </div>
    </div>
</div>