<div class="container mt-4 mt-sm-4 mt-md-4 mt-lg-4 mb-4 mb-sm-4 mb-md-4 mb-lg-4" *ngIf="capacitacion">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <button (click)="returnCapacitaciones()" class="quitar-border"><i class="fas fa-arrow-left back-arrow"></i> Go back</button>
            <!-- <button class="btn btn-link"></button> -->
        </div>
    </div>
</div>
<div class="container border-shadow mb-4 mb-sm-4 mb-md-4 mb-lg-4" id="wrapper" *ngIf="capacitacion">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 p-0 p-sm-0 p-md-0 p-lg-0">
            <img class="img-fluid" [src]="capacitacion?capacitacion.acf.imagen_interna:''" alt="">
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-3">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12">
                    <h3 class="titulo-card">{{ capacitacion?capacitacion.title.rendered:'' }}</h3>
                    <p class="text-muted fecha-card"><i class="far fa-clock reloj-card"></i> {{ capacitacion?capacitacion.fecha:'' }}</p>        
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <ng-container *ngFor="let categoria of capacitacion.categorias">
                        <span class="badge mt-1 mb-1"
                            [ngClass]="{'bg-vigente':categoria === 'Vigente',
                                                                  'bg-terminados': categoria === 'Terminado'}">{{categoria}}</span>
                    </ng-container>
                    <span class="badge ml-2"
                        [ngClass]="{'bg-webinar':capacitacion.acf.tipo_de_evento==='Webinar',
                                                             'bg-charla':capacitacion.acf.tipo_de_evento==='Charlas',
                                                             'bg-cursos':capacitacion.acf.tipo_de_evento==='Cursos',
                                                             'bg-seminarios':capacitacion.acf.tipo_de_evento==='Seminarios'}">{{capacitacion.acf.tipo_de_evento
                        | char}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="text-muted mt-4 ponente-title-card">Speaker</p>
                    <span class="ponente-card">{{capacitacion?capacitacion.acf.ponente:''}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="text-muted mt-4 ponente-title-card">Duration</p>
                    <span class="ponente-card">{{capacitacion?capacitacion.acf.duracion:''}}</span>
                </div>
            </div>
            <div class="row mt-4 mt-sm-4 mt-md-4 mt-lg-4 mb-3 mb-sm-3 mb-md-3 mb-lg-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <a class="btn btn-outline-azul sin-border-radius" [href]="capacitacion?capacitacion.acf.url:''" target="_blank">Enroll in this course <i class="fas fa-check size-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="bg-light border-right sobreponer" id="sidebar-wrapper">
        <div class="sidebar-heading size23 text-blue1 font-weight-600 d-flex align-items-center text-capitalize"><button id="btnCerrarTrabajemos" (click)="cierraInscripcion()">x</button> send registration</div>
        <div class="bodyTrabajemos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form  (ngSubmit)="formTrabajeNosotros(formularioTrabajemos)" #formularioTrabajemos="ngForm" id="formTrabajemos" class="form-trabajemos p-3 w-100">
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-400" for="nombres">Names</label>
                                <input type="text" class="form-control" id="nombres" name="nombres" #nombres="ngModel" [(ngModel)]="usuario.nombre" required>
                                <small style="color:#c30000;" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                                    Names is a required field.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-400" for="apellidos">Surnames</label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" required>
                                <small style="color:#c30000;" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                                    Surname is a required field.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="text-gray-dark letter-spacing0-4 line-height17 size14 font-weight-400">Email</label>
                                <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="usuario.email" email="true" required>
                                <small style="color:#fff" *ngIf="email.invalid && (email.dirty || email.touched)">
                                    Enter a valid email address.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size14 letter-spacing0-4 line-height17 text-gray-dark font-weight-500" for="telefono">Telephone</label>
                                <input type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="usuario.telefono" pattern="^\d+$" required>
                                <small style="color:#c30000;" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                    Please enter a valid phone.
                                </small>
                            </div>
                            <div class="form-row">
                                <input type="text" [(ngModel)]="capacitacion.title.rendered" name="capacitacion" hidden>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <ngx-recaptcha2 [siteKey]="siteKey" [ngModel]="usuario.recaptcha" name="recaptcha" required>
                                </ngx-recaptcha2>    
                            </div>
                            <div class="form-check mt-5">
                                <input type="checkbox" class="form-check-input" id="acepto" name="acepto" #acepto="ngModel" [(ngModel)]="usuario.acepto" required>
                                <label class="form-check-label size15 text-gray-dark line-height18 text-justify" for="acepto">Authorizes GERS to process the data entered in this form for the sole purpose of sending information about our products and / or services.</label>
                                <small style="color:#c30000;" *ngIf="acepto.invalid && (acepto.dirty || acepto.touched)">
                                    You must accept the conditions.
                                </small>
                            </div>
                            <div class="footFormTrabajemos">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <input type="submit" class="enviar d-block float-left mt-2 mb-2" name="enviar" value="Send registration" [disabled]="formularioTrabajemos.invalid">
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <a id="btnCerrarTrabajemos" class="mt-2 mb-2 cancelar d-block text-center" (click)="cierraInscripcion()">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div class="container">
    <div class="row mb-5 mb-sm-5 mb-md-5 mb-lg-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <span [innerHTML]="capacitacion?capacitacion.acf.descripcion_larga:''"></span>
        </div>
    </div>
</div>