.border-shadow{
    box-shadow: 0px 0px 2px 2px #eae7e7;
    border-radius: 3px;
}
.fecha-card{
    font-size: 14px;
    /* transform: translateX(3%); */
}
.bg-vigente{
    background-color: #53A000;
    color: #fff;
    font-size: 14px;
    padding: 2% 5%;
    font-weight: 100;
    border-radius: 0;
}
.bg-terminados{
    background-color: #ff0b2d;
    color: #fff;
    font-size: 14px;
    padding: 2% 5%;
    font-weight: 100;
    border-radius: 0;
}
.bg-webinar{
    background-color: #346FF1;
    color: #fff;
    font-size: 14px;
    padding: 2%;
    font-weight: 100;
    border-radius: 0;
}
.bg-charla{
    background-color: #53A000;
    color: #fff;
    font-size: 14px;
    padding: 2%;
    font-weight: 100;
    border-radius: 0;
}
.bg-cursos{
    background-color: #FD9B5B;
    color: #fff;
    font-size: 14px;
    padding: 2%;
    font-weight: 100;
    border-radius: 0;
}
.bg-seminarios{
    background-color: #B60DED;
    color: #fff;
    font-size: 14px;
    padding: 2%;
    font-weight: 100;
    border-radius: 0;
}
.ponente-title-card{
    font-size: 17px;
    font-weight: 100;
    line-height: 10px;
}
.ponente-card{
    font-weight: 600;
}
.sin-border-radius{
    border-radius: 0;
}
.size-2{
    font-size: 10px;
    transform: translate(56%, -28%);
}
.titulo-card{
    font-weight: 700;
}
.reloj-card{
    font-size: 10px;
    transform: translate(-26%, -13%);
}
.btn-outline-azul{
    background-color: #fff;
    color: #0089FF !important;
    border: 1px solid #0089FF;
}
.btn-outline-azul:hover{
    background-color: #0089FF;
    color: #fff !important;
}
.back-arrow{
     font-size: 15px;
}
.quitar-border{
    cursor: pointer;
    border: 0;
    color: #0089FF;
    font-size: 15px;
    background-color: #fff;
}