<!--Aquí inician las tabs-->
<div class="container tabs-marcas">
    <div class="row">
      <div class="col-md-4 mb-4 itemsTabs">
          <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><img src="assets/images/marcas/1neplan_marca.png" alt="logo neplan" width="98" height="auto"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><img src="assets/images/marcas/2dranetz_marca.png" alt="logo dranetz" width="150" height="auto"></a>
            </li>
          </ul>
      </div>
      
          <div class="col-md-8 contenido-tabs">
                 <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <h2>Imagen</h2>
                      <p><strong>Dranetz es la solución escalable de monitoreo inteligente para demanda eléctrica y calidad de energía.</strong></p>
                      <p>Cuenta con equipos portátiles de análisis de calidad de energía hasta dispositivos permanentes de administración de energía con almacenamiento de datos y soluciones basadas en la web.</p>
                      <p>¡Somos distribuidores oficiales en Colombia!</p>
                      <a class="botonTabInterna" href="#">Conoce todos los equipos aquí</a>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h2>Imagen</h2>
                      <p><strong>Dranetz es la solución escalable de monitoreo inteligente para demanda eléctrica y calidad de energía.</strong></p>
                      <p>Cuenta con equipos portátiles de análisis de calidad de energía hasta dispositivos permanentes de administración de energía con almacenamiento de datos y soluciones basadas en la web.</p>
                      <p>¡Somos distribuidores oficiales en Colombia!</p>
                      <a class="botonTabInterna" href="#">Conoce todos los equipos aquí</a>
                     </div>
              </div><!--Aquí cierro tab-content-->
            </div><!--Aquí cierro col-md-10-->
      </div><!--Aquí cierro fila -row--> 
  </div><!--cierro container -->
  <!--Aquí finalizan las tabs-->