<div class="contenedorFooter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3 col-lg-3 contacto1">
        <div class="logoFooter">
          <img
            class="align-middle"
            src="assets/images/carousel-principal/logo_1981png.png"
            width="220"
            height="auto"
            alt="Logo Footer"
          />
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-lg-3 contacto2">
        <ng-container *ngFor="let about of aboutUs">
          <h2 class="text-blue1 size16 font-weight-700">{{ about.title }}</h2>
          <ul class="listaItemsFooter">
            <li *ngFor="let aboutHijo of about.child_items">
              <ng-container *ngIf="aboutHijo.slug; else esUrl">
                <a [routerLink]="[aboutHijo.slug]">{{ aboutHijo.title }}</a>
              </ng-container>
              <ng-template #esUrl>
                <a [href]="aboutHijo.url" target="_blank">{{
                  aboutHijo.title
                }}</a>
              </ng-template>
            </li>
          </ul>
        </ng-container>
      </div>
      <div class="col-xs-12 col-md-3 col-lg-3 contacto3">
        <ng-container *ngFor="let contact of contacto">
          <ng-container *ngIf="contact.url === '#'; else esPagina">
            <div class="info-Oficina">
              <h2 class="text-blue1 size16 font-weight-700 mb-3">
                {{ contact.title }}
              </h2>
              <ng-container *ngFor="let contactHijo of contact.child_items">
                <p class="text-blue1 montserrat size14">
                  {{ contactHijo.title }}
                </p>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #esPagina>
            <div class="mb-3 mt-3 sedeFooter">
              <a
                class="text-blue1 size16 font-weight-500 montserrat"
                [routerLink]="[contact.slug]"
                >{{ contact.title }}<i class="fas fa-long-arrow-alt-right"></i
              ></a>
            </div>
          </ng-template>
        </ng-container>
      </div>
      <div class="col-xs-12 col-md-3 col-lg-3 contacto4">
        <div class="redesFooter">
          <ng-container *ngFor="let redes of redesSociales">
            <p class="text-blue1 size16 font-weight-500 mb-3 montserrat">
              {{ redes.title }}
            </p>
            <ng-container *ngFor="let logosRedes of redes.child_items">
              <a [href]="logosRedes.url" target="_blank"
                ><img
                  class="img-fluid mr-2"
                  [src]="logosRedes.thumbnail_src"
                  [alt]="logosRedes.title"
              /></a>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copy-footer">
  <div class="container">
    <div class="row pt-2 pb-2">
      <div class="col d-flex justify-content-between align-items-center">
        <span class="text-white size13"
          >All rights reserved ©
          <span class="font-weight-light">GERS 2021</span></span
        >
        <span class="text-white size13"
          >Designed and developed by:
          <a href="#" target="blank_" class="text-white size13"
            >www.neuromedia.com.co</a
          >
          <img
            class="ml-2"
            src="assets/images/footer/logo-neuro.png"
            alt=""
            width="60"
        /></span>
      </div>
    </div>
  </div>
</div>
<!-- Redes sociales -->
<div class="content-social-bar d-none d-md-block">
  <a
    href="https://www.facebook.com/GERS-USA-103331307747661/"
    target="_blank"
    class="hidden-xs hidden-sm redes fb"
    ><i class="fab fa-facebook-f"></i
  ></a>
  <a
    href="https://www.linkedin.com/company/9272028"
    target="_blank"
    class="hidden-xs hidden-sm redes linkedin"
    ><i class="fab fa-linkedin-in"></i
  ></a>
  <a
    href="https://twitter.com/gers_usa"
    target="_blank"
    class="hidden-xs hidden-sm redes twitter"
    ><i class="fab fa-twitter"></i
  ></a>
  <a
    href="https://www.youtube.com/channel/UCDZy3KIha74ajmGsQjKQHWA"
    target="_blank"
    class="hidden-xs hidden-sm redes youtub"
    ><i class="fab fa-youtube"></i
  ></a>
</div>
