<!--Aquí inician las tabs-->
<div class="container tabs-marcas tabs-neplan-page">
    <div class="row">
      <div class="col-md-4 mb-4 itemsTabs">
          <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h4>How to mitigate risks on the networks operation?</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h4>How could we coordinate the proteccions?</h4></a>
            </li>
          </ul>
      </div>
      
          <div class="col-md-8 contenido-tabs">
                 <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <p><strong>Dranetz es la solución escalable de monitoreo inteligente para demanda eléctrica y calidad de energía.</strong></p>
                      <p>Cuenta con equipos portátiles de análisis de calidad de energía hasta dispositivos permanentes de administración de energía con almacenamiento de datos y soluciones basadas en la web.</p>
                      <p>¡Somos distribuidores oficiales en Colombia!</p>
                      <a class="botonTabInterna" href="#">Conoce todos los equipos aquí</a>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <p>NEPLAN es la solución más poderosa para la evaluación de protecciones.</p>
                      <p>Algunas ventajas:</p>
                      <ul>
                          <li>Simulación simultánea de todos los tipos de fallas posibles en barras y líneas</li>
                          <li>La distancia de barrido para las fallas en líneas es definida por el usuario</li>
                          <li>Tiempo mínimo de coordinación definido por el usuario entre dos protecciones</li>
                          <li>Todos los escenarios de fallas con relés no selectivos o fallas que no se despejan se reportan</li>
                          <li>Visualización de la ruta de la falla en un diagrama unifilar</li>
                      </ul>
                      <p>Módulos en NEPLAN para la coordinación de protecciones:</p>
                      <ul>
                        <li>Protección de distancia</li>
                        <li>Protección contra sobrecorrientes</li>
                        <li>Sistema de gestión de datos de protección (PDMS)</li>
                        <li>Búsqueda de fallas</li>
                        <li>Características Avanzadas (modelación de relés adicionales como de frecuencia, diferencial, deslizamiento de polos, entre otros, para la simulación dinámica)</li>
                    </ul>
                      <a class="botonTabInterna" href="#">Conoce todos los equipos aquí</a>
                     </div>
              </div><!--Aquí cierro tab-content-->
            </div><!--Aquí cierro col-md-10-->
      </div><!--Aquí cierro fila -row--> 
  </div><!--cierro container -->
  <!--Aquí finalizan las tabs-->