.sticky {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
}
.cerrarModal{
  cursor: pointer;
}
.menuproductos {
  background-color: #E8ECF4 !important;
  /*width: 60rem;*/
  margin-top: 0px !important;
  border: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  left: -90% !important;

}
.bg-azulClaro{
  background-color: #DDE2F6;
}
.textoItemMarcaMenu{
  color: #2C3394;
}
.subCategorias{
  display: none;
  background-color: #fff;
  height: 100%;
  padding: 0;
}
.col-subMenu{
    padding: 0;
}
.abrir{
  display: block !important;
}

.seleccionado {
  background-color: #fff;
  border-left: 3px solid #0089FF;
  /* z-index: -1; */
}

.abrir-subCategorias{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.abrir-subsubCategorias{
  display: block;
  position: absolute;
  top: 0;
  left: 46%;
}
@media (max-width: 992px){
  .abrir-subCategorias{
    display: none;
  }
}


.menuproductos .navbar-center {
  position: absolute !important;
  left: -18% !important;
  transform: translatex(-43%) !important;
}

  .menuproductos  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 23.333333%;
  }
.fila-carrito:hover {
  background-color: #F3F3F3;
}

.menuproductos .row {
 margin-right: 1px !important;
 margin-left: 1px !important;
  cursor: pointer;
}

.fila-carrito img {
  width: 170px;
}


.fila-carrito {

  margin-bottom: 20px;
}

.filtro-cantidad-productos {
  text-align: center;
}

.nombre-producto {

  color: #2C3394;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.97px;
  line-height: 19px;
  width: 151px;
  text-align: left;
}

.mostrar-unidades {
  border: solid 1px  #2C3394;
  border-radius: 3px;
}

.icono-aumenta, .iconos-reducir {
  font-size: 25px;
  color: #2C3394;
  margin-top: 3px;

}

.contenedor-carrito {
  width: 780px !important;
}

#mySidenav{
  width: 0;
}

.open{
  width: 40% !important;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #FFFFFF; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #2C3394;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #2C3394;
}

.sidenav .closebtn input {
  background-color: transparent;
  border: none;
  font-size: 46px;
  color: #2C3394;
  font-weight: 600;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}
@media (max-width: 1244px){
  .open{
    width: 50% !important;
  }
}
@media (max-width: 995px){
  .open{
    width: 57% !important;
  }
}
@media (max-width: 873px){
  .open{
    width: 64% !important;
  }
}
@media (max-width: 767px){
  .open{
    width: 68% !important;
  }
}
@media (max-width: 731px){
  .open{
    width: 75% !important;
  }
}
@media (max-width: 663px){
  .open{
    width: 80% !important;
  }
}
@media (max-width: 622px){
  .open{
    width: 87% !important;
  }
}
@media (max-width: 575px){
  .open{
    width: 81% !important;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
