<!--Aquí Inicia el Menú Principal Grande-->
<nav class="navbar navbar-expand-md navbar-light menuPrincipal sticky-top">
  <div class="container">
    <button class="navbar-toggler mt-1 mb-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/colombia']">
      <img class="LogoPrincipal" src="assets/images/carousel-principal/logo_1981png.png" alt="Logo">
    </a>
    <a class="menuVerticalPrincipal solicitarMenuLateral" href="#"><span class="lineasMenu">&#9776;</span> Menú</a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <ng-container *ngFor="let menu_parent of menuPrincipal_data; first as isFirst">
          <li class="nav-item dropdown has-megamenu" *ngIf="menu_parent.classes == 'subcontainer_style1'">
            <a class="nav-link dropdown-toggle size14" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ menu_parent.title }}
            </a>
            <div class="dropdown-menu menuServicio megamenu ">
              <div class="row">
                <ng-container *ngFor="let menu_child of menu_parent.child_items; first as isFirst">
                  <div class="col-md-6">
                    <div class="col-megamenu">
                      <ul class="list-unstyled">
                        <li>
                          <a [routerLink]="[ menu_child.slug ]">
                            <div class="row">
                              <div class="col-md-2 my-auto">
                                <img class="img-fluid" src="{{ menu_child.thumbnail_src }}" alt="imagen1">
                              </div>
                              <div class="col-md-10">
                                <h3 class="tituloItemMenu">{{ menu_child.title }}</h3>
                                <p class="textoItemMenu">{{ menu_child.description }}</p>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown has-megamenu" *ngIf="menu_parent.classes == 'subcontainer_style2'">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ menu_parent.title }}
            </a>
            <div class="dropdown-menu menuRepresentaciones megamenu navbar-center">
              <div class="row filaRepresentaciones">
                <ng-container *ngFor="let menu_child of menu_parent.child_items; first as isFirst">
                  <div class="col-md-4 representacionItem" style="cursor: pointer;" [routerLink]="[ menu_child.slug ]">
                    <a>
                      <img class="imagenMarcaMenu img-fluid" src="{{ menu_child.thumbnail_src }}" alt="Logo Neplan">
                      <p class="tituloItemMarcaMenu">{{ menu_child.title }}</p>
                      <p class="textoItemMarcaMenu">{{ menu_child.description }}</p>
                    </a>
                  </div>
                </ng-container>
              </div>
            </div>
          </li>
          <li class="nav-item d-md-none d-xl-block" *ngIf="menu_parent.classes == 'subcontainer_style3'">
            <a [routerLink]="[ menu_parent.slug ]" class="nav-item nav-link">{{ menu_parent.title }}</a>
          </li>
          <li class="nav-item d-md-none d-xl-block" *ngIf="menu_parent.classes == 'subcontainer_style4'">
            <a [routerLink]="[ menu_parent.slug ]" class="nav-item nav-link">{{ menu_parent.title }}</a>
          </li>

          <li class="nav-item dropdown has-megamenu d-md-none d-lg-block" id="productos" *ngIf="menu_parent.classes == 'subcontainer_style4'">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Productos
            </a>
            <div id="contenedor_productos" class="dropdown-menu menuproductos megamenu navbar-center">
              <div class="row filaRepresentaciones"
                style="flex-flow: column wrap; align-items:stretch; padding-bottom:4%;">
                
                <ng-container *ngFor="let categoria of categorias">
                  <div class="row filaRepresentaciones">
                    <div class="col-md-6 col-12 col-lg-6 col-sm-12 categorias representacionItem" [ngClass]="'cate'+categoria.id" *ngIf="categoria.count > 0"
                      (click)="productosCategoria(categoria.id)"
                      (mouseenter)="desplegarSubCategorias(categoria.id)">
                      <img class="imagenMarcaMenu img-fluid" [src]="categoria.image?categoria.image.src:'assets/images/marcas/2dranetz_marca.png'" [title]="categoria.name" [alt]="categoria.name">
                    </div>
                    <div class="col-md-6 col-12 col-lg-6 col-sm-12 subCategorias" [ngClass]="'pp'+categoria.id">
                    <ng-container *ngFor="let subCategoria of categoria.subCategorias">
                        <div class="row contenedorSubmenu">
                          <div class="col-md-12 col-subMenu" *ngIf="subCategoria.count > 0" (click)="productosCategoria(subCategoria.id)">
                            <p class="textoItemMarcaMenu text-center font-weight-bold">{{subCategoria.name}}</p>
                          </div>
                        </div>
                    </ng-container>
                  </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </li>
        </ng-container>
        <li class="nav-item dropdown has-megamenu animate fade-up">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" (click)="mostrarProductos(1)" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="cantidad-producto">{{cantidadCarrito? cantidadCarrito: 0}}</span>
            <img src="assets/images/carousel-principal/Shopping-cartpng.png" alt="Icono Tienda" width="23"
              height="auto">
          </a>
        </li>
        <li class="nav-item d-flex flex-row no-ancho align-items-center mb-3 mb-sm-3 mb-md-0 mb-lg-0">
            <input type="text"
              class="form-control buscador nav-link border-0 bg-azulClaro buscador-detalles my-3" (keyup)="buscar()" name="buscador" placeholder="Buscar" [(ngModel)]="busqueda">
          <a class="btn btn-link bg-azulClaro text-blue" id="buscar" (click)="abrirBuscador()"><i class="fas fa-search"></i></a>
        </li>
      </ul>
      <!-- <ul class="navbar-nav">
        
      </ul> -->
    </div>
  </div>
</nav>
<!--Aquí termina el Menú Principal Grande-->

<div id="mySidenav" class="sidenav sobreponer">
  <div class="row">
    <a href="javascript:void(0)" (click)="mostrarProductos(2)" class="closebtn">
      <input type="button" class="cerrarModal" value="×" (click)="mostrarProductos(2)">
    </a>
  </div>
  <app-carrito></app-carrito>
</div>