<section class="servicios">
    <div class="diseno-ingenieria">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-7 mt-5 pl-100">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-8">
                            <div class="media">
                                <img class="align-self-center mr-3" src="assets/images/servicios/diseno-ing.png" alt="Diseño">
                                <div class="media-body">
                                    <h4 class="mb-0 text-blue1 font-weight-bold">Diseño,<br> e ingeniería</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <a href="" class="btn btn-blue font-weight-light size13 pt-2 pb-2">SOLICITAR INFORMACIÓN</a>
                        </div>
                        <div class="col-sm-12">
                            <p class="mt-2">Diseños conceptuales, básicos y de detalle para subestaciones eléctricas, líneas de distribución y transmisión de energía eléctrica, sistemas industriales y comerciales, entre otros.</p>
                            <p><span class="text-blue1 font-weight-bold">La trayectoria y la idoneidad del equipo humano de GERS</span> garantizan nuestra participación en importantes proyectos eléctricos de infraestructura e industriales.</p>
                            <div class="row pt-4">
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/003-energia-electricaPNG.png" alt="Interventoría">
                                    <p>Interventoría de <br>proyectos</p>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/001-analiticaPNG.png" alt="Sistemas industriales">
                                    <p>Sistemas industriales y <br>comerciales</p>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <img class="align-self-center mb-3 mx-auto d-block" src="assets/images/servicios/002-velocidadPNG.png" alt="Desarrollo redes">
                                    <p>Desarrollo de redes de datos: LAN, WLAN, Redes multimedia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 bg-blue1 mbn-110">
                    <img src="assets/images/servicios/diseno-ingeneria.png" alt="servicio 2" class="mt-5 img-fluid d-block position-absolute">
                </div>
            </div>
        </div>
        <div class="container tabsCustom">
            <div class="row">
                <div class="tabs-marcas tabs-diseno-page mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-4 mb-4 pr-0">
                            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 p-3 border-left active" id="diseno1-tab" data-toggle="tab" href="#diseno1" role="tab" aria-controls="neplan1" aria-selected="true">
                                        <h5 class="size14 mb-0">Diseños Conceptuales</h5>
                                        <p class="font-weight-light text-blue1">(Ingeniería Preliminar)</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 p-3 border-left" id="diseno2-tab" data-toggle="tab" href="#diseno2" role="tab" aria-controls="neplan2" aria-selected="false">
                                        <h5 class="size14 mb-0">Diseños Básicos</h5>
                                        <p class="font-weight-light text-blue1">(Ingeniería Básica)</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-0 p-3 border-left" id="diseno3-tab" data-toggle="tab" href="#diseno3" role="tab" aria-controls="neplan3" aria-selected="false">
                                        <h5 class="size14 mb-0">Diseños de detalle</h5>
                                        <p class="font-weight-light text-blue1">(Ingeniería de detalle)</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 contenido-tabs">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="diseno1" role="tabpanel" aria-labelledby="diseno1-tab">
                                    <p>La ingeniería conceptual es la primera etapa de un proyecto, después de que se ha planteado su necesidad. Durante esta etapa se definen, de una manera preliminar aspectos como la capacidad requerida para la instalación, costo de inversión, costo de mantenimiento, rentabilidad de la inversión, entre otros, con el fin de hacer recomendaciones y presupuestar opciones.<br>
                                        <br>
                                        El diseño o ingeniería preliminar abarca solamente aspectos fundamentales que inciden sobre la viabilidad de la subestación, ofreciendo como resultado el presupuesto global con un margen de incertidumbre del +/- 40%, así como aspectos técnicos y económicos para el desarrollo de la Ingeniería Básica.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="diseno2" role="tabpanel" aria-labelledby="diseno2-tab">
                                    <p>Son aquellos en los cuales se desarrolla el proyecto (entiéndase planos o modelo) en lineamientos generales, o sea disposición de equipos principales, matrices importantes de cañerías, estaciones y sub-estaciones eléctricas. Se definen generalidades de los requerimientos de equipos incluyendo especificaciones técnicas y memorias de cálculo. Incluye conceptos, criterios y metodología para llevar a cabo la subestación.<br>
                                        <br>
                                        Como resultado se obtienen el presupuesto ajustado con un margen de incertidumbre del +/- 10%, así como las especificaciones y planos para cotización.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="diseno3" role="tabpanel" aria-labelledby="diseno3-tab">
                                    <p>(Ingeniería de detalle)<br>
                                        Es la etapa posterior a la ingeniería básica y los nuevos estudios de costos que se hayan derivado de esta. Acá se desarrolla el proyecto teniendo como fin último la etapa de construcción, por lo tanto los pormenores de planos o documentos deben permitir fabricar o hacer el montaje final en terreno.<br>
                                        <br>
                                        Es la ingeniería que sirve para la construcción y montaje de la subestación una vez adquiridos los equipos cotizados en la ingeniería básica y tiene como objetivo obtener el diseño detallado de la instalación, necesario para proceder con la construcción.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bk-diseno" style="background-image: url(assets/images/servicios/background.jpg);">
            <div class="container mt-5">
                <div class="row pt-5 pb-5">
                    <div class="col">
                        <ul class="text-white font-weight-bold roboto">
                            <li>Subestaciones eléctricas de extra alta, alta, media y baja tensión</li>
                            <li>Cableado estructurado</li>
                            <li>Análisis de riesgo eléctrico</li>
                            <li>Servicios auxiliares CA & CD</li>
                            <li>Estudios de impacto ambiental</li>
                            <li>Sistemas eléctricos hospitalarios</li>
                            <li>Tablas de cableado</li>
                            <li>Sistemas eléctricos para áreas clasificadas a prueba de explosión</li>
                            <li>Coordinación de aislamiento</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="text-white font-weight-bold roboto">
                            <li>Sistemas de control, medida y protección</li>
                            <li>Sistemas de protección contra incendio</li>
                            <li>Sistemas de iluminación</li>
                            <li>Líneas de distribución de energía eléctrica de media y baja tensión</li>
                            <li>Líneas de transmisión de energía eléctrica de extra alta y alta tensión</li>
                            <li>Civiles y estructurales asociados a sistemas eléctricos</li>
                            <li>Sistemas de puesta a tierra</li>
                            <li>Diagramas de circuito</li>
                            <li>Apantallamiento</li>
                            <li>Generación de energía eléctrica y cogeneración</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>