<!--Aquí inicia texto título después de las tarjetas-->
<div class="container separador">
	<div class="row">
		<div class="col-md-12">
			<h3 class="titleAfterCards">Nuestro compromiso es ofrecerte servicios eficientes y <br>confiables que se ajusten a tus proyectos</h3>
		</div>
	</div>
</div>

<div class="container separadorTop">
	<div class="row">
		<div class="col-xs-12 col-md-4 column-compromiso-parent">
			<div class="column-compromiso">
				<img src="assets/images/seccion3/pruebas@1x.png" alt="Item Pruebas" width="92" height="auto">
				<h3>Pruebas, automatización y control</h3>
				<p>Ejecución de pruebas y puesta en servicio a equipos en sistemas de baja, media y alta tensión. También diseñamos, suministramos, y ponemos en servicio sistemas de control, medida y protección.</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 column-compromiso-parent">
			<div class="column-compromiso">
				<img src="assets/images/seccion3/diseño@1x.png" alt="Item Ingenieria" width="92" height="auto">
				<h3>Diseño e ingeniería</h3>
				<p>Diseños conceptuales, básicos y de detalle para subestaciones eléctricas, líneas de distribución y transmisión de energía eléctrica, sistemas industriales y comerciales, entre otros.</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 column-compromiso-parent">
			<div class="column-compromiso">
				<img src="assets/images/seccion3/estudios@1x.png" alt="Item Sistemas" width="92" height="auto">
				<h3>Estudios de sistemas eléctricos</h3>
				<p>Estudios de sistemas eléctricos para electrificadoras, plantas industriales, mineras, centrales de generación y petroleras.</p>
			</div>
		</div>
	</div>
</div>


<!--Aquí finaliza texto y título después de las tarjetas-->