<div class="contenedorFooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3 contacto1 mb-3">
                <div class="logoFooter">
                    <img class="align-middle" src="assets/images/carousel-principal/logo_1981png.png" width="220" height="auto" alt="Logo Footer">
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto2 mb-3">
                <ul class="listaItemsFooter">
                    <li><a href="#">Pensamiento Corporativo</a></li>
                    <li><a href="#">Política de Gestion integral</a></li>
                    <li><a href="#">Política de protección de datos personales</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto3 mb-3">
                <!-- <div class="info-Oficina">
                    <h4>Oficina Principal</h4>
                    <p>Calle 3A # 65-118 <br> +57 2-489 7000 <br> gers@gers.com.co
                    </p>
                </div> -->
                <ul class="listaItemsFooter">
                    <li><a href="#">Otras Políticas</a></li>
                    <li><a href="#">Responsabilidad social empresarial</a></li>
                </ul>
                <div class="sedeFooter">
                    <a href="#">Nuestra sede <i class="fas fa-long-arrow-alt-right alinear-icon"></i></a>
                </div>
                <!-- <div class="redesFooter">
                    <p>Nuestras redes sociales</p>
                    <a href="#"><img src="assets/images/footer/facebook.png" alt="certificado 1"></a>
                    <a href="#"><img src="assets/images/footer/twitter.png" alt="certificado 2"></a>
                    <a href="#"><img src="assets/images/footer/linkedin.png" alt="certificado 3"></a>
                    <a href="#"><img src="assets/images/footer/mail.png" alt="certificado 1"></a>
                </div> -->
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto3 mb-3">
                <div class="info-Oficina">
                    <h4>Oficina Principal</h4>
                    <p>Calle 3A # 65-118 <br> +57 2-489 7000 <br> gers@gers.com.co
                    </p>
                </div>
                <div class="redesFooter">
                    <p>Nuestras redes sociales</p>
                    <a href="#"><img src="assets/images/footer/facebook.png" alt="certificado 1"></a>
                    <a href="#"><img src="assets/images/footer/twitter.png" alt="certificado 2"></a>
                    <a href="#"><img src="assets/images/footer/linkedin.png" alt="certificado 3"></a>
                    <a href="#"><img src="assets/images/footer/mail.png" alt="certificado 1"></a>
                </div>
                <!-- <div class="certificados">
                    <img src="assets/images/footer/iso1.png" alt="certificado 1">
                    <img src="assets/images/footer/iso2.png" alt="certificado 2">
                    <img src="assets/images/footer/iso3.png" alt="certificado 3">
                </div>
                <div class="imagenes-abajo-certificados">
                    <img src="assets/images/footer/CCS.png" alt="Imagen1">
                    <img id="img-right" src="assets/images/footer/RUC.png" alt="Imagen2">
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="copy-footer">
    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col d-flex justify-content-between align-items-center">
                <span class="text-white size13">Todos los derechos reservados © <span class="font-weight-light">GERS 2020</span></span>
                <span class="text-white size13">Diseñado y desarrollado por: <a href="#" target="blank_" class="text-white size13">www.neuromedia.com.co</a> <img class="ml-2" src="assets/images/footer/logo-neuro.png" alt="" width="60"></span>
            </div>
        </div>
    </div>
</div>