<div class="contenedorFooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3 contacto1 mb-3">
                <div class="logoFooter">
                    <img class="align-middle" src="assets/images/carousel-principal/logo_1981png.png" width="220" height="auto" alt="Logo Footer">
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto2 mb-3">
                <ul class="listaItemsFooter">
                    <li><a [routerLink]="['pensamiento-corporativo']">Pensamiento Corporativo</a></li>
                    <li><a [routerLink]="['politica-gestion-integral']">Política de Gestion integral</a></li>
                    <li><a href="#">Política de protección de datos personales</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto3">
                <ul class="listaItemsFooter">
                    <li><a href="#">Otras Políticas</a></li>
                    <li><a href="#">Responsabilidad social empresarial</a></li>
                </ul>
                <div class="sedeFooter">
                    <a class="font-weight-500" [routerLink]="['contactenos']">Nuestras sedes <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto4">
                <div class="info-Oficina text-blue1">
                    <h4 class="size14 font-weight-700">Oficina Principal</h4>
                    <p class="size14">Calle 3A # 65-118 <br> +57 2-489 7000 <br> gers@gers.com.co
                    </p>
                </div>
                <div class="redesFooter mt-4">
                    <p class="mb-3 text-blue1 size14">Nuestras redes sociales</p>
                    <a href="https://www.facebook.com/gerscali" target="_blank"><img src="assets/images/footer/facebook.png" alt="certificado 1"></a>
                    <a href="https://twitter.com/gers_sa" target="_blank"><img src="assets/images/footer/twitter.png" alt="certificado 2"></a>
                    <a href="https://www.linkedin.com/company/gers-s-a/" target="_blank"><img src="assets/images/footer/linkedin.png" alt="certificado 3"></a>
                    <a href="mailto:gers@gers.com.co"><img src="assets/images/footer/mail.png"><img src="assets/images/footer/mail.png" alt="certificado 1"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copy-footer">
    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col d-flex justify-content-between align-items-center">
                <span class="text-white size13">Todos los derechos reservados © <span class="font-weight-light">GERS 2020</span></span>
                <span class="text-white size13">Diseñado y desarrollado por: <a href="#" target="blank_" class="text-white size13">www.neuromedia.com.co</a> <img class="ml-2" src="assets/images/footer/logo-neuro.png" alt="" width="60"></span>
            </div>
        </div>
    </div>
</div>