<div class="contenedorFooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3 contacto1 mb-3">
                <div class="logoFooter">
                    <img class="align-middle img-fluid" src="assets/images/carousel-principal/logo_1981png.png" width="220" height="auto" alt="Logo Footer">
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto2 mb-3">
                <ul class="listaItemsFooter">
                    <li *ngFor="let dato of datos">
                        <a [routerLink]="[dato.slug]">{{dato.title}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto3">
                <ul class="listaItemsFooter"> 
                    <li *ngFor="let dato of datos2">
                        <ng-container *ngIf="!dato.slug else esRuta">
                            <a [href]="dato.url">{{ dato.title }}</a>
                        </ng-container>
                        <ng-template #esRuta>
                            <div class="sedeFooter">
                                <a class="font-weight-500" [routerLink]="[dato.slug]">{{ dato.title }} <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 contacto4">
                <ng-container *ngFor="let contacto of menuContactenos">
                    <ng-container *ngIf="contacto.url === '#' && contacto.title_position != 'hide' else linkeable">
                            <div class="info-Oficina text-blue1">
                                <h4 class="size14 font-weight-700">{{ contacto.title }}</h4>
                                <ng-container *ngFor="let contactoHijo of contacto.child_items">
                                    <ng-container *ngIf="contactoHijo.title_position != 'hide' else numeroContacto">
                                        <p class="size14">
                                            {{ contactoHijo.post_content }}
                                        </p>
                                    </ng-container>
                                    <ng-template #numeroContacto>
                                        <p class="size14">
                                            {{ contactoHijo.title }}
                                        </p>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </ng-container>
                    <ng-template #linkeable>
                        <div class="redesFooter mt-4">
                            <p class="mb-3 text-blue1 size14">{{ contacto.title }}</p>
                            <ng-container *ngFor="let redesSociales of contacto.child_items">
                                <a [href]="redesSociales.url" target="_blank"><img [src]="redesSociales.thumbnail_src" [alt]="redesSociales.title"></a>
                            </ng-container>
                        </div>
                    </ng-template>
                </ng-container>
               
            </div>
        </div>
    </div>
</div>
<div class="copy-footer">
    <div class="container">
        <div class="row pt-2 pb-2">
            <div class="col d-flex justify-content-between align-items-center">
                <span class="text-white size13">Todos los derechos reservados © <span class="font-weight-light">GERS 2020</span></span>
                <span class="text-white size13">Diseñado y desarrollado por: <a href="#" target="blank_" class="text-white size13">www.neuromedia.com.co</a> <img class="ml-2" src="assets/images/footer/logo-neuro.png" alt="" width="60"></span>
            </div>
        </div>
    </div>
</div>