<section class="seccionProyectos mt-5 mb-5 proyectsPage">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12 mt-2">
                <ngx-skeleton-loader count="2" *ngIf="loader" animation="progress" [theme]="{height:'20px' }"></ngx-skeleton-loader>
                <div *ngIf="!loader">
                    <h3 class="font-weight-bold text-blue1 text-center">{{ titulo_pagina_data }}</h3>
                </div>
            </div>
        </div>
        <ngx-skeleton-loader class="d-flex pt-5" count="3" *ngIf="loader" animation="progress" appearance="circle" [theme]="{ 'width':'100%','height':'300px','border-radius': '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader class="d-flex pt-5" count="3" *ngIf="loader" animation="progress" appearance="circle" [theme]="{ 'width':'100%','height':'300px','border-radius': '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader class="d-flex pt-5" count="3" *ngIf="loader" animation="progress" appearance="circle" [theme]="{ 'width':'100%','height':'300px','border-radius': '10px' }"></ngx-skeleton-loader>
        <div class="row mt-3 mb-5">
            <ng-container *ngFor="let proyects of FeaturedProyects; first as isFirst; index as i">
                <div *ngIf="!loader" class="col-md-4 tarjetaProyectos mb-4">
                    <div class="tarjetaProyectosInterior">
                        <div class="tituloTarjetaProyectosUsa">
                            <div class="titulosTarjetaBlanca">
                                <h3 class="size23 text-uppercase">{{ proyects.acf.pais }}</h3>
                                <p class="size13">{{ proyects.acf.extracto }}</p>
                            </div>
                        </div>
                        <div class="textoTarjetaProyectosUsa">
                            <p class="size13">{{proyects.acf.descripcion}}</p>
                        </div>
                        <img class="img-fluid" src="{{ proyects.acf.imagen }}" alt="proyecto 1" width="100%">
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>