<section class="seccionColombia9 mt-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12 mt-2">
                <h3 class="font-weight-bold text-blue1 text-center">Creemos en el desarrolo y la innovación para alcanzar el<br> éxito de todos los proyectos que nos han confiado
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="tarjetaProyectosInterior">
                    <div class="tituloTarjetaProyectos">
                        <div class="titulosTarjetaBlanca">
                            <h3 class="size16">AWARALA</h3>
                            <p class="size13">Panamá</p>
                        </div>
                    </div>
                    <!--Un comentario prueba-->
                    <div class="textoTarjetaProyectos">
                        <p class="size13">Ingeniería conceptual,básica y de detalle para la subestación y línea a 110 kV de la nueva central de generación AWARALA ECS-SOLAR con inducción mecánica</p>
                    </div>
                    <img src="assets/images/seccion5/proyecto_1.jpg" alt="proyecto 1" width="100%">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="tarjetaProyectosInterior">
                    <div class="tituloTarjetaProyectos">
                        <div class="titulosTarjetaBlanca">
                            <h3 class="size16">Termovalle</h3>
                            <p class="size13">Colombia</p>
                        </div>
                    </div>
                    <div class="textoTarjetaProyectos">
                        <p class="size13">Ingeniería conceptual,básica y de detalle para la subestación y línea a 110 kV de la nueva central de generación AWARALA ECS-SOLAR con inducción mecánica</p>
                    </div>
                    <img src="assets/images/seccion5/proyecto_2.jpg" alt="proyecto 2" width="100%">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="tarjetaProyectosInterior">
                    <div class="tituloTarjetaProyectos">
                        <div class="titulosTarjetaBlanca">
                            <h3 class="size16">EMSA S.A. E.P.S</h3>
                            <p class="size13">Chile</p>
                        </div>
                    </div>
                    <div class="textoTarjetaProyectos">
                        <p class="size13">Ingeniería conceptual,básica y de detalle para la subestación y línea a 110 kV de la nueva central de generación AWARALA ECS-SOLAR con inducción mecánica</p>
                    </div>
                    <img src="assets/images/seccion5/proyecto_3.jpg" alt="proyecto 3" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="carruselProyectos pb-5 mt-5" style="background-color: #2C3394;">
        <div class="container">
            <div class="row pt-5">
                <div class="col-sm-12">
                    <h2 class="text-white text-center">Otros proyectos</h2>
                </div>
                <div class="col-md-12">
                    <div class="proyectos-slider white-slider mt-5">
                        <div class="item text-center p-2">
                            <div class="card border-0">
                                <a href="" class="text-decoration">
                                    <img class="card-img-top" src="assets/images/proyectos/proyecto_awarala.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title size16 text-blue1 text-left m-0 font-weight-bold">AWARALA</h5>
                                        <p class="card-text size13 text-blue3 text-left">Panamá</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item text-center p-2">
                            <div class="card border-0">
                                <a href="" class="text-decoration">
                                    <img class="card-img-top" src="assets/images/proyectos/proyecto_awarala.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title size16 text-blue1 text-left m-0 font-weight-bold">AWARALA</h5>
                                        <p class="card-text size13 text-blue3 text-left">Panamá</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item text-center  p-2">
                            <div class="card border-0">
                                <a href="" class="text-decoration">
                                    <img class="card-img-top" src="assets/images/proyectos/proyecto_awarala.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title size16 text-blue1 text-left m-0 font-weight-bold">AWARALA</h5>
                                        <p class="card-text size13 text-blue3 text-left">Panamá</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item text-center p-2">
                            <div class="card border-0">
                                <a href="" class="text-decoration">
                                    <img class="card-img-top" src="assets/images/proyectos/proyecto_awarala.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title size16 text-blue1 text-left m-0 font-weight-bold">AWARALA</h5>
                                        <p class="card-text size13 text-blue3 text-left">Panamá</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item text-center p-2">
                            <div class="card border-0">
                                <a href="" class="text-decoration">
                                    <img class="card-img-top" src="assets/images/proyectos/proyecto_awarala.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title size16 text-blue1 text-left m-0 font-weight-bold">AWARALA</h5>
                                        <p class="card-text size13 text-blue3 text-left">Panamá</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>