
.container {
  overflow: hidden;
}

.container  .contenedor .div-repetir {
  width: calc(1140px / 5);
  display: inline-block;
  text-align: center;
}

@media (max-width:575px) {
  .container  .contenedor .div-repetir {
    width: 100vw !important;
  }
}
.container .contenedor {
    width:  calc(20% * 48);
}

@media (max-width:575px) {
  .container .contenedor {
    width:  calc(100% * 55) !important;
  }
}

.flecha-derecha {
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
  right: 0;
  /* z-index: 1000; */
  top: calc(50% - 12px);
  color: #2C3394;
  font-size: 20px;
}
.flecha-derecha:hover {
  opacity: 1;
}

.flecha-izquierda {
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
  left: 0;
  /* z-index: 1000; */
  top: calc(50% - 12px);
  color: #2C3394;
  font-size: 20px;
}

.flecha-izquierda:hover {
  opacity: 1;
}

.disabled {
  cursor: none;
  pointer-events: none;
}
.disabled * {
  opacity: 0.5;
}

img {
  height: 100px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: height .5s;
}
img:hover {
  height: 110px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: height .5s;
}
.contenedor-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2C3394;
  font-family: 'Montserrat', sans-serif;
}
.contenedor-padre {
  position: relative;
}
.contenedor-productos {
  align-items: center;
}
.filtros-derecha {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  width: 215px;
  height: 125px;

}
