<div class="contenedor-padre">
   <span class="flecha-izquierda " (click)="pasarIzquierda()" [class.disabled]="deshabilitarIzquierda()">
    <i class="fa fa-arrow-left "></i></span>
  <div class="container" id="contenedor-principal">
    <div class="contenedor my-3">
      <div *ngFor="let data of listadoProductos; let i = index" class="div-repetir" [id]="'inde-detalle_'+i">
        <div class="contenedor-productos" (click)="detalleProductos(data.id, data.name)">
          <div class=" filtros-derecha mb-2">
            <img [src]="data.images?data.images[0].src:''">
          </div>
          <div class="contenedor-nombre">
            <p class="nombre-producto m-0">{{data['name']}}</p>
          </div>
          <div class="contenedor-descripcion">
            <span class="descripcion-producto" [innerHTML]="data.short_description"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span (click)="pasarDerecha()" class="flecha-derecha" id="flechaDerecha" [class.disabled]="deshabilitarDerecha()">
      <i class="fa fa-arrow-right "></i>
     </span>
</div>
