<!--Aquí inician las 5 cards-->
<div class="contenedorTarjetas">
	<div class="container px-5 py-5 grupoTarjetas">
		<div class="row">
			<div class="col mx-1">
				<div class="card tarjeta">
	                <div class="card-body cuerpo-tarjeta">
	                    <h3 class="card-title">+6.800</h3>
	                    <p class="card-text">+Proyectos en sistemas eléctricos de 34.5 kV, 115 kV, 220 kV, 500 kV.</p>
	                </div>
	            </div>
			</div>
			<div class="col mx-1">
				<div class="card tarjeta">
	                <div class="card-body cuerpo-tarjeta">
	                    <h3 class="card-title">+13.560 MW</h3>
	                    <p class="card-text">Diseñados en subestaciones eléctricas de 34.5 kV, 115 kV, 220 kV, 500 kV.</p>
	                </div>
	            </div>
			</div>
			<div class="col mx-1">
				<div class="card tarjeta">
	                <div class="card-body cuerpo-tarjeta">
	                    <h3 class="card-title">+3.827</h3>
	                    <p class="card-text">Proyectos en estudios eléctricos y pruebas de relés de protección en los sectores industriales e hidrocarburo.</p>
	                </div>
	            </div>
			</div>
			<div class="col mx-1">
				<div class="card tarjeta">
	                <div class="card-body cuerpo-tarjeta">
	                    <h3 class="card-title">+15.898 MVA</h3>
	                    <p class="card-text">En más de 243 estudios de conexión realizados en Colombia y en el exterior.</p>
	                </div>
	            </div>
			</div>
			<div class="col mx-1">
				<div class="card tarjeta">
	                <div class="card-body cuerpo-tarjeta">
	                    <h3 class="card-title">+130</h3>
	                    <p class="card-text">Equipos de monitoreo de calidad de potencia instalados para el cumplimiento de Resolución CREG 024-2005.</p>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>
<!--Aquí finalizan las 5 cards-->