<div class="container-fluid position-fixed cerrar-formulario fijar-formulario sombra-cotizador" id="neplan-cotizador">
    <div class="row sticky-top bg-grisclaro padding-1-5">
      <div class="col-12 col-md-12 col-sm-12 col-lg-12">
        <h4 class="text-uppercase text-center text-blue m-0"><span class="flechita" (click)="volverNeplan()"><i
              class="fa fa-arrow-left mr-3 "></i></span> Add to quote</h4>
      </div>
    </div>
    <div class="row px-3 mt-5">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="text-blue font-weight-600">{{ titulo }}</h2>
        <h3 class="text-blue">{{ subTitulo }}</h3>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 my-4 overflow-y">
        <p class="font-weight-bold text-uppercase">Standard Modules</p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Load Flow</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.flujo_de_carga" (change)="producto.flujo_de_carga = !producto.flujo_de_carga" name="flujo_de_carga">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Simulation Over Time with Load Profiles</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.simulacion_de_carga" (change)="producto.simulacion_de_carga = !producto.simulacion_de_carga" name="simulacion_de_carga">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Short Circuit Analysis</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.analisis_de_cortocircuito" (change)="producto.analisis_de_cortocircuito = !producto.analisis_de_cortocircuito" name="analisis_de_cortocircuito">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Harmonic Analysis</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.analisis_de_armonicos" (change)="producto.analisis_de_armonicos = !producto.analisis_de_armonicos" name="analisis_de_armonicos">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Motor Starting</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.arranque_de_motores" (change)="producto.arranque_de_motores = !producto.arranque_de_motores" name="arranque_de_motores">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Network Reduction</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.reduccion_de_redes" (change)="producto.reduccion_de_redes = !producto.reduccion_de_redes" name="reduccion_de_redes">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Grounding Systems Analysis (Xgslab)</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.analisis_de_sistemas" (change)="producto.analisis_de_sistemas = !producto.analisis_de_sistemas" name="analisis_de_sistemas">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
  
        <p class="font-weight-bold text-uppercase mt-3">Stability Modules</p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Voltage Stability</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.estabilidad_de_voltaje" (change)="producto.estabilidad_de_voltaje = !producto.estabilidad_de_voltaje" name="estabilidad_de_voltaje">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Dynamic Simulator – RMS / EMT</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.simulador_dinamico" (change)="producto.simulador_dinamico = !producto.simulador_dinamico" name="simulador_dinamico">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Small Signal Stability</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.estabilidad_de_pequena_senal" (change)="producto.estabilidad_de_pequena_senal = !producto.estabilidad_de_pequena_senal" name="estabilidad_de_pequena_senal">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
  
        <p class="font-weight-bold text-uppercase mt-3">Advanced Modules</p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Reliability Analysis</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.analisis_de_confiabilidad" (change)="producto.analisis_de_confiabilidad = !producto.analisis_de_confiabilidad" name="analisis_de_confiabilidad">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Maintenance focused on reliability</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.mantenimiento_centrado_de_confianza" (change)="producto.mantenimiento_centrado_de_confianza = !producto.mantenimiento_centrado_de_confianza" name="mantenimiento_centrado_de_confianza">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Asset Management (Capex – Opex)</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.gestion_de_activos" (change)="producto.gestion_de_activos = !producto.gestion_de_activos" name="gestion_de_activos">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Comprehensive strategic asset management</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.gestion_estrategica_integral" (change)="producto.gestion_estrategica_integral = !producto.gestion_estrategica_integral" name="gestion_estrategica_integral">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Smart grid management</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.gestion_de_redes_inteligentes" (change)="producto.gestion_de_redes_inteligentes = !producto.gestion_de_redes_inteligentes" name="gestion_de_redes_inteligentes">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Optimization of voltage regulators and switches</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.optimizacion_de_reguladores" (change)="producto.optimizacion_de_reguladores = !producto.optimizacion_de_reguladores" name="optimizacion_de_reguladores">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
        <p class="font-weight-bold text-uppercase mt-3">Protection Modules</p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Overcurrent Protection</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.proteccion_de_sobrecorriente" (change)="producto.proteccion_de_sobrecorriente = !producto.proteccion_de_sobrecorriente" name="proteccion_de_sobrecorriente">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Distance Protection</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.proteccion_de_distancia" (change)="producto.proteccion_de_distancia = !producto.proteccion_de_distancia" name="proteccion_de_distancia">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Protection Evaluation</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.evaluacion_de_protecciones" (change)="producto.evaluacion_de_protecciones = !producto.evaluacion_de_protecciones" name="evaluacion_de_protecciones">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Protection Device Management</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.gestion_de_dispositivos" (change)="producto.gestion_de_dispositivos = !producto.gestion_de_dispositivos" name="gestion_de_dispositivos">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Fault Location</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.ubicacion_de_fallas" (change)="producto.ubicacion_de_fallas = !producto.ubicacion_de_fallas" name="ubicacion_de_fallas">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Arc Flash</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.arco_electrico" (change)="producto.arco_electrico = !producto.arco_electrico" name="arco_electrico">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Current Transformers Saturation</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.saturacion_de_transformadores" (change)="producto.saturacion_de_transformadores = !producto.saturacion_de_transformadores" name="saturacion_de_transformadores">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Cable Thermal Analysis</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.analisis_termico_de_cables" (change)="producto.analisis_termico_de_cables = !producto.analisis_termico_de_cables" name="analisis_termico_de_cables">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
        <p class="font-weight-bold text-uppercase mt-3">Optimization and Security Modules</p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Optimal charge flow</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.flujo_de_carga_optimo" (change)="producto.flujo_de_carga_optimo = !producto.flujo_de_carga_optimo" name="flujo_de_carga_optimo">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>N-1 & N-2 Contigencies</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.contingencias_N_1_y_N_2" (change)="producto.contingencias_N_1_y_N_2 = !producto.contingencias_N_1_y_N_2" name="contingencias_N_1_y_N_2">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Analysis of Available Transfer Capacity (ATC)</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.analisis_de_capacidad_de_transferencia" (change)="producto.analisis_de_capacidad_de_transferencia = !producto.analisis_de_capacidad_de_transferencia" name="analisis_de_capacidad_de_transferencia">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Optimum Flapping (optimal points of separation)</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.suicheo_optimo" (change)="producto.suicheo_optimo = !producto.suicheo_optimo" name="suicheo_optimo">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Optimal capacitor placement</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.ubicacion_optima_de_capacitores" (change)="producto.ubicacion_optima_de_capacitores = !producto.ubicacion_optima_de_capacitores" name="ubicacion_optima_de_capacitores">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Optimal service restoration strategy</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.estrategia_optima_de_restauracion_de_servicio" (change)="producto.estrategia_optima_de_restauracion_de_servicio = !producto.estrategia_optima_de_restauracion_de_servicio" name="estrategia_optima_de_restauracion_de_servicio">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Investment analysis</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.analisis_de_inversion" (change)="producto.analisis_de_inversion = !producto.analisis_de_inversion" name="analisis_de_inversion">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Reinforcement of feeders</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.refuerzo_de_alimentadores" (change)="producto.refuerzo_de_alimentadores = !producto.refuerzo_de_alimentadores" name="refuerzo_de_alimentadores">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
        <p class="font-weight-bold text-uppercase mt-3">Current Modules</p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Electric Mobility</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.movilidad_electronica" (change)="producto.movilidad_electronica = !producto.movilidad_electronica" name="movilidad_electronica">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Distributed Generation</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.generacion_distribuida" (change)="producto.generacion_distribuida = !producto.generacion_distribuida" name="generacion_distribuida">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Infrastructure Optimization</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.optimizacion_de_infraestructura" (change)="producto.optimizacion_de_infraestructura = !producto.optimizacion_de_infraestructura" name="optimizacion_de_infraestructura">
              <span class="slider round"></span>
            </label>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Network Code Compliance</span>
            <label class="switch">
              <input type="checkbox" [checked]="producto.cumplimiento_del_codigo_de_redes" (change)="producto.cumplimiento_del_codigo_de_redes = !producto.cumplimiento_del_codigo_de_redes" name="cumplimiento_del_codigo_de_redes">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-between bg-grisclaro p-3">
      <button type="button" (click)="firtsForm()" class="btn btn-azulOscuro btn-formulario">Send request</button>
      <button type="button" (click)="volverNeplan()" class="btn btn-outline-azulOscuro btn-formulario">Cancel</button>
    </div>
  </div>
  
    <div class="container-fluid position-fixed cerrar-formulario fijar-formulario sombra-cotizador" id="form-neplan-cotizador">
      <div class="row sticky-top bg-grisclaro padding-1-5">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12">
          <h4 class="text-uppercase text-center text-blue"><span class="flechita" (click)="volverAtras()"><i
                class="fa fa-arrow-left mr-3 "></i></span> Add to quote</h4>
        </div>
      </div>
      <div class="row px-3 mt-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="text-blue">{{ titulo }}</h2>
          <h3 class="text-blue">{{ subTitulo }}</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 my-4 overflow-y">
          <form (ngSubmit)="enviarForm(formularioCotizacion)" #formularioCotizacion="ngForm"
            class="row agrupar-inputs">
            <div class="col-12 d-flex justify-content-between text-blue font-weight-600">
              <span class="flechita" (click)="volverAtras()">
                <i class="fa fa-arrow-left"></i>
              </span>
              <span>QUOTE</span>
            </div>
            <div class="form-group col-12">
              <label for="nombre-completo">Full name</label>
              <input type="text" [(ngModel)]="filtros.nombre" #nombre="ngModel" class="form-control" name="nombre"
                id="nombre-completo" placeholder="Full name" required>
              <small style="color:#c30000;" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                Enter full name.
              </small>
            </div>
            <div class="form-group col-12">
              <label for="empresa">Company</label>
              <input [(ngModel)]="filtros.empresa" type="text" #empresa="ngModel" class="form-control" name="empresa"
                id="empresa" placeholder="Company" required>
              <small style="color:#c30000;" *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)">
                Enter the company.
              </small>
            </div>
            <div class="form-group col-12">
              <label for="nit">Tax ID</label>
              <input [(ngModel)]="filtros.nit" type="number" #nit="ngModel" class="form-control" name="nit" id="nit"
                placeholder="Tax ID" required>
              <small style="color:#c30000;" *ngIf="nit.invalid && (nit.dirty || nit.touched)">
                Enter the Tax ID.
              </small>
            </div>
            <div class="form-group col-12">
              <label for="correo-electronico">Email</label>
              <input [(ngModel)]="filtros.correo" type="email" email="true" #email="ngModel" class="form-control"
                name="correo" id="correo-electronico" placeholder="Email" required>
              <small style="color:#c30000;" *ngIf="email.invalid && (email.dirty || email.touched)">
                Enter Email.
              </small>
            </div>
            <div class="form-group col-12">
              <label for="celular">cell phone number</label>
              <input [(ngModel)]="filtros.celular" #celular="ngModel" type="number" class="form-control" name="celular"
                id="celular" placeholder="cell phone number" required>
              <small style="color:#c30000;" *ngIf="celular.invalid && (celular.dirty || celular.touched)">
                Enter cell phone number
              </small>
            </div>
            <div class="col-12">
              <div class="row row justify-content-between bg-grisclaro p-3">
                  <button type="submit" class="btn btn-azulOscuro btn-formulario" [disabled]="formularioCotizacion.invalid">
                    request Quote
                  </button>
                  <button type="button" class="btn btn-outline-azulOscuro btn-formulario" (click)="volverAtras()">
                    Back to list
                  </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>