<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 tarjetaProyectos">
            <div class="tarjetaProyectosInterior">
                <div class="tituloTarjetaProyectos">
                    <div class="titulosTarjetaBlanca">
                        <h3>AWARALA</h3>
                        <p>Panamá</p>
                    </div>
                </div>
                <div class="textoTarjetaProyectos">
                    <p>Ingeniería conceptual,básica y de detalle para la subestación y línea a 110 kV de la nueva central de generación AWARALA ECS-SOLAR con inducción mecánica</p>
                </div>
                <img src="assets/images/seccion5/proyecto_1.jpg" alt="proyecto 1" width="100%">
            </div>
        </div>
        <div class="col-md-3 tarjetaProyectos">
            <div class="tarjetaProyectosInterior">
                <div class="tituloTarjetaProyectos">
                    <div class="titulosTarjetaBlanca">
                        <h3>Termovalle</h3>
                        <p>Colombia</p>
                    </div>
                </div>
                <div class="textoTarjetaProyectos">
                    <p>Ingeniería conceptual,básica y de detalle para la subestación y línea a 110 kV de la nueva central de generación AWARALA ECS-SOLAR con inducción mecánica</p>
                </div>
                <img src="assets/images/seccion5/proyecto_2.jpg" alt="proyecto 2" width="100%">
            </div>
        </div>
        <div class="col-md-3 tarjetaProyectos">
            <div class="tarjetaProyectosInterior">
                <div class="tituloTarjetaProyectos">
                    <div class="titulosTarjetaBlanca">
                        <h3>EMSA S.A. E.P.S</h3>
                        <p>Chile</p>
                    </div>
                </div>
                <div class="textoTarjetaProyectos">
                    <p>Ingeniería conceptual,básica y de detalle para la subestación y línea a 110 kV de la nueva central de generación AWARALA ECS-SOLAR con inducción mecánica</p>
                </div>
                <img src="assets/images/seccion5/proyecto_3.jpg" alt="proyecto 3" width="100%">
            </div>
        </div>
        <div class="col-md-3 tarjetaProyectos">
            <div class="tarjetaProyectosInterior">
                <div class="tituloTarjetaProyectos">
                    <div class="titulosTarjetaBlanca">
                        <h3>Minera escondida</h3>
                        <p>Chile</p>
                    </div>
                </div>
                <div class="textoTarjetaProyectos">
                    <p>Ingeniería conceptual,básica y de detalle para la subestación y línea a 110 kV de la nueva central de generación AWARALA ECS-SOLAR con inducción mecánica</p>
                </div>
                <img src="assets/images/seccion5/proyecto_4.jpg" alt="proyecto 4" width="100%">
            </div>
        </div>
    </div>
</div>