<div class="bannerInterna" *ngIf="banner_data.banner_principal" [ngStyle]="{ 'background-image': 'url(' + banner_data.banner_principal + ')'}">
    <p class="text-center pt-5 pb-5">
        <img *ngIf="banner_data.logo_imagen" src="{{ banner_data.logo_imagen }}" alt="" class="img-fluid">
    </p>
</div>
<div class="container tabsCustom">
    <div class="row">
        <div class="tabs-marcas tabs-neplan-page mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img *ngIf="seccion_1_data.logo" src="{{ seccion_1_data.logo }}" alt="Logo" class="img-fluid">
                    </div>
                    <div class="col-sm-8">
                        <p [innerHTML]="seccion_1_data.texto_inicial"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p [innerHTML]="texto_general_data"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>