<div class="fullPantalla">
        <div class="col-md-8 col-xs-10 fondoAzulIntermedio">
            <p>Llevamos a cabo la ejecución de monitoreo de calidad de potencia y energía, pruebas en equipos de subestaciones eléctricas, sistemas industriales y los más avanzados sistemas de protección, control y transferencia de sistemas de potencia.<br><br>
                Así como también ofrecemos soluciones para proyectos EPC (Engineering, Procurement and Construction) tanto de subestaciones eléctricas como de proyectos industriales.<br><br>
                ¡En GERS contarás con soluciones confiables y eficientes que se ajustan a tus proyectos! </p>
        </div>
</div>